.club-page .top-block-wr {
  margin: -150px 0 0;
  height: 384px;
}
.club-page .top-block-wr .top-block .club-block {
  margin-right: 47px;
}
.club-page .top-block-wr .top-block .club-block .logo {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background: #fff;
  border: 7px solid #ABCBCF;
  margin-bottom: 13px;
}
.club-page .top-block-wr .top-block .club-block .logo img {
  max-width: 100%;
  max-height: 100%;
}
.club-page .top-block-wr .top-block .club-block .rating {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.club-page .top-block-wr .top-block .club-block .rating i {
  width: 14px;
  height: 14px;
  background: url('/img/icons/icon_star_empty.svg');
}
.club-page .top-block-wr .top-block .club-block .rating[data-rating="1"] i:nth-child(1),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="2"] i:nth-child(1),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="3"] i:nth-child(1),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="4"] i:nth-child(1),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="5"] i:nth-child(1) {
  background-image: url('/img/icons/icon_star_full.svg');
}
.club-page .top-block-wr .top-block .club-block .rating[data-rating="2"] i:nth-child(2),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="3"] i:nth-child(2),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="4"] i:nth-child(2),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="5"] i:nth-child(2) {
  background-image: url('/img/icons/icon_star_full.svg');
}
.club-page .top-block-wr .top-block .club-block .rating[data-rating="3"] i:nth-child(3),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="4"] i:nth-child(3),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="5"] i:nth-child(3) {
  background-image: url('/img/icons/icon_star_full.svg');
}
.club-page .top-block-wr .top-block .club-block .rating[data-rating="4"] i:nth-child(4),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="5"] i:nth-child(4) {
  background-image: url('/img/icons/icon_star_full.svg');
}
.club-page .top-block-wr .top-block .club-block .rating[data-rating="5"] i:nth-child(5) {
  background-image: url('/img/icons/icon_star_full.svg');
}
.club-page .top-block-wr .top-block .title {
  font-size: 16px;
}
.club-page .top-block-wr .top-block .info-bl {
  padding-top: 5px;
}
.club-page .top-block-wr .top-block .tournament-info {
  width: 268px;
  padding-top: 5px;
  margin-right: 72px;
}
.club-page .top-block-wr .top-block .tournament-info .title {
  margin-bottom: 22px;
}
.club-page .top-block-wr .top-block .tournament-info .info-list li {
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
}
.club-page .top-block-wr .top-block .tournament-info .info-list li .icon-wr {
  width: 20px;
  text-align: center;
}
.club-page .top-block-wr .top-block .tournament-info .info-list li .n {
  width: 220px;
}
.club-page .top-block-wr .top-block .tournament-info .info-list li .v {
  color: #468189;
  font-weight: 700;
}
.club-page .top-block-wr .top-block .stats-info {
  padding-top: 5px;
  width: 230px;
  margin-right: 76px;
}
.club-page .top-block-wr .top-block .stats-info .title {
  margin-bottom: 19px;
}
.club-page .top-block-wr .top-block .stats-info .stats-list li {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.club-page .top-block-wr .top-block .stats-info .stats-list li .n {
  width: 150px;
  line-height: 1.45;
}
.club-page .top-block-wr .top-block .stats-info .stats-list li .v {
  font-size: 28px;
  color: #468189;
  font-weight: bold;
}
.club-page .top-block-wr .top-block .best-player-block {
  width: 332px;
  text-align: left;
  margin-top: 5px;
}
.club-page .top-block-wr .top-block .best-player-block .title {
  margin-bottom: 21px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info {
  display: flex;
  align-items: flex-start;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .photo {
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 14px 0 #ABCBCF;
  margin-bottom: 11px;
  width: 67px;
  height: 67px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .info {
  width: 240px;
  margin-left: 18px;
  padding-top: 15px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .info .name {
  font-size: 16px;
  color: #4B4B4B;
  margin-bottom: 13px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .info .rating {
  margin-right: 14px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .info .rating:before {
  content: '';
  background-image: url('/img/icons/icon_star_full.svg');
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 4px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .info .location:before {
  content: '';
  background-image: url('/img/icons/icon_location.svg');
  display: inline-block;
  width: 10px;
  height: 13px;
  background-size: 100%;
  margin-right: 6px;
}
.club-page .top-block-wr .top-block .best-player-block .show-profile-btn {
  margin: 5px 11px 0 78px;
  display: block;
  height: 39px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 700;
}
.club-page .page-markup {
  padding: 41px 20px 0 18px;
}
.club-page .page-markup .title {
  margin-bottom: 20px;
}
.club-page .page-markup .gamers-rating-tab .gamers-rating-list {
  width: 275px;
  margin-top: -12px;
}
.club-page .page-markup .gamers-rating-tab .gamers-rating-list li {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.4;
  min-height: 50px;
}
.club-page .page-markup .gamers-rating-tab .gamers-rating-list li .gamer-name {
  width: 153px;
}
.club-page .page-markup .gamers-rating-tab .gamers-rating-list li .games-count {
  width: 40px;
  text-align: center;
}
.club-page .page-markup .gamers-rating-tab .gamers-rating-list li .points {
  width: 40px;
  text-align: center;
}
.club-page .page-markup .gamers-rating-tab .show-more-btn {
  margin: 42px 0 0 16px;
  display: block;
  line-height: 37px;
  font-size: 14px;
}
.club-page .page-markup .forum-news-tab {
  width: 255px;
}
.club-page .page-markup .forum-news-tab .forum-news-list {
  margin-top: 27px;
}
.club-page .page-markup .forum-news-tab .forum-news-list li {
  padding-bottom: 8px;
  margin-bottom: 14px;
  border-bottom: 1px solid #eff5f5;
}
.club-page .page-markup .forum-news-tab .forum-news-list li .date-time {
  font-size: 12px;
  color: #ABCBCF;
  font-weight: 700;
  margin-bottom: 4px;
}
.club-page .page-markup .forum-news-tab .forum-news-list li .message {
  font-size: 14px;
  line-height: 1.4;
}
.club-page .page-markup .forum-news-tab .show-more-btn {
  margin: 33px auto;
  display: block;
  line-height: 37px;
  font-size: 14px;
  width: 242px;
}
@media screen and (min-width: 1024px) and (max-width: 1174px) {
  .club-page .top-block-wr .top-block .club-block {
    margin-right: 40px;
  }
  .club-page .top-block-wr .top-block .tournament-info {
    width: 228px;
    padding-top: 5px;
    margin-right: 40px;
  }
  .club-page .top-block-wr .top-block .tournament-info .info-list li {
    margin-bottom: 15px;
    align-items: flex-start;
  }
  .club-page .top-block-wr .top-block .tournament-info .info-list li .n {
    width: 180px;
    line-height: 1.2;
  }
  .club-page .top-block-wr .top-block .stats-info {
    width: 210px;
    margin-right: 40px;
  }
  .club-page .top-block-wr .top-block .best-player-block {
    width: 267px;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .info {
    width: 240px;
    margin-left: 18px;
    padding-top: 0;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .info .name {
    line-height: 1.3;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .info .rating {
    display: block;
    margin: 0 0 10px;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .info .location {
    display: block;
    margin-bottom: 10px;
  }
  .club-page .top-block-wr .top-block .best-player-block .show-profile-btn {
    margin: 5px 11px 0 0;
  }
  .club-page .page-markup .tournaments-tab {
    width: 416px;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .info {
    width: 311px;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .info .stage {
    display: block;
    margin: 10px 0;
    width: 100px;
    text-align: center;
  }
  .club-page .page-markup .forum-news-tab {
    width: 230px;
  }
}
@media screen and (max-width: 1023px) {
  .club-page .top-block-wr {
    margin: -32px 0 0px;
    height: auto;
  }
  .club-page .top-block-wr .top-block {
    display: block;
    padding: 0 20px;
  }
  .club-page .top-block-wr .top-block .title {
    text-align: center;
  }
  .club-page .top-block-wr .top-block .club-block {
    text-align: center;
    margin: 0 auto 34px;
    width: 130px;
  }
  .club-page .top-block-wr .top-block .club-block .logo {
    margin: 0 auto 10px;
  }
  .club-page .top-block-wr .top-block .tournament-info {
    width: 100%;
    padding: 5px 6px;
    max-width: 290px;
    margin: 0 auto 13px;
  }
  .club-page .top-block-wr .top-block .tournament-info .title {
    margin-bottom: 26px;
  }
  .club-page .top-block-wr .top-block .stats-info {
    width: 100%;
    margin: 0 auto 12px;
    padding: 4px 7px;
    max-width: 290px;
  }
  .club-page .top-block-wr .top-block .stats-info .stats-list li {
    margin-bottom: 19px;
  }
  .club-page .top-block-wr .top-block .best-player-block {
    width: 100%;
    margin: 0;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info {
    display: block;
    text-align: center;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .info {
    width: 100%;
    margin: 0;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .photo {
    width: 86px;
    height: 86px;
    margin: 0 auto -2px;
    display: block;
  }
  .club-page .top-block-wr .top-block .best-player-block .show-profile-btn {
    margin: 21px auto;
    width: 240px;
  }
  .club-page .top-block-wr .top-block .toggle-info-btn {
    display: none;
  }
  .club-page .page-markup {
    padding: 30px 20px;
  }
  .club-page .page-markup .gamers-rating-tab .gamers-rating-list {
    width: 100%;
  }
  .club-page .page-markup .tournaments-tab {
    width: 100%;
    margin: 0;
  }
  .club-page .page-markup .tournaments-tab .title {
    display: block;
    text-align: center;
    margin: -8px 0 30px;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list {
    margin: 0;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .logo-wr {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .logo-wr img {
    height: 100%;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .info {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .info .stage {
    display: block;
    width: 90px;
    text-align: center;
    margin: 20px auto 0;
  }
  .club-page .page-markup .forum-news-tab {
    width: 100%;
  }
}
