.club-page {
    .top-block-wr {
        margin: -150px 0 0;
        height: 384px;
        .top-block {
            .club-block {
                margin-right: 47px;
                .logo {
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 130px;
                    height: 130px;
                    background: #fff;
                    border: 7px solid #ABCBCF;
                    margin-bottom: 13px;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .rating {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 10px;
                    .full-star(@n) {
                        i:nth-child(@{n}) {
                            background-image: url('/img/icons/icon_star_full.svg')
                        }
                    }
                    i {
                        width: 14px;
                        height: 14px;
                        background: url('/img/icons/icon_star_empty.svg');
                    }
                    &[data-rating="1"],
                    &[data-rating="2"],
                    &[data-rating="3"],
                    &[data-rating="4"],
                    &[data-rating="5"] {
                        .full-star(1);
                    }
                    &[data-rating="2"],
                    &[data-rating="3"],
                    &[data-rating="4"],
                    &[data-rating="5"] {
                        .full-star(2);
                    }
                    &[data-rating="3"],
                    &[data-rating="4"],
                    &[data-rating="5"] {
                        .full-star(3);
                    }
                    &[data-rating="4"],
                    &[data-rating="5"] {
                        .full-star(4);
                    }
                    &[data-rating="5"] {
                        .full-star(5);
                    }
                }
            }
            .title {
                font-size: 16px;
            }

            .info-bl {
                padding-top: 5px;
            }

            .tournament-info {
                width: 268px;
                padding-top: 5px;
                margin-right: 72px;
                .title {
                    margin-bottom: 22px;
                }
                .info-list {
                    li {
                        margin-bottom: 17px;
                        display: flex;
                        justify-content: space-between;
                        .icon-wr {
                            width: 20px;
                            text-align: center;
                        }
                        .n {
                            width: 220px;
                        }
                        .v {
                            color: #468189;
                            font-weight: 700;
                        }
                    }
                }
            }
            .stats-info {
                padding-top: 5px;
                width: 230px;
                margin-right: 76px;
                .title {
                    margin-bottom: 19px;
                }
                .stats-list {
                    li {
                        margin-bottom: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .n {
                            width: 150px;
                            line-height: 1.45;
                        }
                        .v {
                            font-size: 28px;
                            color: #468189;
                            font-weight: bold;
                        }
                    }
                }
            }

            .best-player-block {
                width: 332px;
                text-align: left;
                margin-top: 5px;
                .title {
                    margin-bottom: 21px;
                }
                .member-info {
                    display: flex;
                    align-items: flex-start;
                    .photo {
                        border-radius: 50%;
                        border: 4px solid rgba(255, 255, 255, 0.4);
                        box-shadow: 0 2px 14px 0 #ABCBCF;
                        margin-bottom: 11px;
                        width: 67px;
                        height: 67px;
                    }
                    .info {
                        width: 240px;
                        margin-left: 18px;
                        padding-top: 15px;
                        .name {
                            font-size: 16px;
                            color: #4B4B4B;
                            margin-bottom: 13px;
                        }
                        .rating {
                            margin-right: 14px;
                            &:before {
                                content: '';
                                background-image: url('/img/icons/icon_star_full.svg');
                                display: inline-block;
                                width: 13px;
                                height: 13px;
                                margin-right: 4px;
                            }
                        }
                        .location {
                            &:before {
                                content: '';
                                background-image: url('/img/icons/icon_location.svg');
                                display: inline-block;
                                width: 10px;
                                height: 13px;
                                background-size: 100%;
                                margin-right: 6px;
                            }
                        }
                    }
                }
                .show-profile-btn {
                    margin: 5px 11px 0 78px;
                    display: block;
                    height: 39px;
                    line-height: 38px;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }

    .page-markup {
        padding: 41px 20px 0 18px;
        .title {
            margin-bottom: 20px;
        }
        .gamers-rating-tab {
            .gamers-rating-list {
                width: 275px;
				margin-top: -12px;
                li {
                    padding: 10px 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    line-height: 1.4;
                    min-height: 50px;
                    .gamer-name {
                        width: 153px;
                    }
                    .games-count {
                        width: 40px;
						text-align: center;
                    }
                    .points {
                        width: 40px;
						text-align: center;
                    }
                }
            }
            .show-more-btn {
                margin: 42px 0 0 16px;
                display: block;
                line-height: 37px;
                font-size: 14px;
            }
        }

        .forum-news-tab {
            width: 255px;

            .forum-news-list {
				margin-top: 27px;
                li {
                    padding-bottom: 8px;
                    margin-bottom: 14px;
                    border-bottom: 1px solid #eff5f5;
                    .date-time {
                        font-size: 12px;
                        color: #ABCBCF;
                        font-weight: 700;
                        margin-bottom: 4px;
                    }
                    .message {
                        font-size: 14px;
                        line-height: 1.4;
                    }
                }
            }

            .show-more-btn {
                margin: 33px auto;
                display: block;
                line-height: 37px;
                font-size: 14px;
                width: 242px;
            }
        }
    }

    @media screen  and (min-width: 1024px) and (max-width: 1174px) {
        .top-block-wr {
            .top-block {
                .club-block {
                    margin-right: 40px;
                }
                .tournament-info {
                    width: 228px;
                    padding-top: 5px;
                    margin-right: 40px;
                    .info-list {
                        li {
                            margin-bottom: 15px;
                            align-items: flex-start;
                            .n {
                                width: 180px;
                                line-height: 1.2;
                            }
                        }
                    }
                }
                .stats-info {
                    width: 210px;
                    margin-right: 40px;
                }
                .best-player-block {
                    width: 267px;
                    .member-info {
                        .info {
                            width: 240px;
                            margin-left: 18px;
                            padding-top: 0;
                            .name {
                                line-height: 1.3;
                            }
                            .rating {
                                display: block;
                                margin: 0 0 10px;
                            }
                            .location {
                                display: block;
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .show-profile-btn {
						margin: 5px 11px 0 0;
                    }
                }
            }
        }

        .page-markup {
            .tournaments-tab {
                width: 416px;
                .tournaments-list {
                    li {
                        .info {
                            width: 311px;
                            .stage {
                                display: block;
                                margin: 10px 0;
                                width: 100px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .forum-news-tab {
                width: 230px;
            }
        }
    }

    @media screen and (max-width: 1023px) {
        .top-block-wr {
            margin: -32px 0 0px;
            height: auto;
            .top-block {
                display: block;
                padding: 0 20px;
                .title {
                    text-align: center;
                }
                .club-block {
                    text-align: center;
                    margin: 0 auto 34px;
                    width: 130px;
                    .logo {
                        margin: 0 auto 10px;
                    }
                }
                .tournament-info {
                    width: 100%;
                    padding: 5px 6px;
                    max-width: 290px;
                    margin: 0 auto 13px;
                    .title {
                        margin-bottom: 26px;
                    }
                }
                .stats-info {
                    width: 100%;
                    margin: 0 auto 12px;
                    padding: 4px 7px;
                    max-width: 290px;
                    .stats-list {
                        li {
                            margin-bottom: 19px;
                        }
                    }
                }
                .best-player-block {
                    width: 100%;
                    margin: 0;
                    .member-info {
                        display: block;
                        text-align: center;
                        .info {
                            width: 100%;
                            margin: 0;
                        }
                        .photo {
                            width: 86px;
                            height: 86px;
                            margin: 0 auto -2px;
                            display: block;
                        }
                    }
                    .show-profile-btn {
                        margin: 21px auto;
                        width: 240px;
                    }
                }
                .toggle-info-btn {
                    display: none;
                }
            }
        }

        .page-markup {
            padding: 30px 20px;

            .gamers-rating-tab {
                .gamers-rating-list {
                    width: 100%;
                }
            }

            .tournaments-tab {
                width: 100%;
                margin: 0;
                .title {
                    display: block;
                    text-align: center;
                    margin: -8px 0 30px;
                }
                .tournaments-list {
                    margin: 0;
                    li {
                        margin-bottom: 40px;
                        flex-direction: column;
                        align-items: center;
                        .logo-wr {
                            width: 100px;
                            height: 100px;
                            margin-bottom: 16px;
                            justify-content: center;
                            align-items: center;
                            img {
                                height: 100%;
                            }
                        }
                        .info {
                            width: 100%;
                            text-align: center;
                            padding: 0;
                            .stage {
                                display: block;
                                width: 90px;
                                text-align: center;
                                margin: 20px auto 0;
                            }
                        }
                    }
                }
            }

            .forum-news-tab {
                width: 100%;
            }
        }
    }
}