.mobile-only {
    display: none;
}

.close-btn {
    display: inline-block;
    background: #468189;
    height: 35px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 30px;
    padding: 0 24px;
    transition: .2s;
    &:hover {
        color: #fff;
        background: #589da7;
    }
    .icon {
        width: 8px;
        position: relative;
        top: -1px;
        margin-right: 6px;
    }
}

.figure {
    display: inline-block;
    background-position: center;
    background-size: 100%;
    &.white {
        &.bishop {
            background-image: url('/img/icons/pieces/bishop_w.svg');
        }
        &.crown {
            background-image: url('/img/icons/pieces/crown_w.svg');
        }
        &.knight {
            background-image: url('/img/icons/pieces/knight_w.svg');
        }
        &.pawn {
            background-image: url('/img/icons/pieces/pawn_w.svg');
        }
        &.queen {
            background-image: url('/img/icons/pieces/queen_w.svg');
        }
        &.tower {
            background-image: url('/img/icons/pieces/tower_w.svg');
        }
    }
    &.black {
        &.bishop {
            background-image: url('/img/icons/pieces/bishop.svg');
        }
        &.crown {
            background-image: url('/img/icons/pieces/crown.svg');
        }
        &.knight {
            background-image: url('/img/icons/pieces/knight.svg');
        }
        &.pawn {
            background-image: url('/img/icons/pieces/pawn.svg');
        }
        &.queen {
            background-image: url('/img/icons/pieces/queen.svg');
        }
        &.tower {
            background-image: url('/img/icons/pieces/tower.svg');
        }
    }
}

.board {
    width: 248px;
    height: 251px;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 37px;
    position: relative;
    border-bottom: 3px solid #6C5038;
    &:hover {
        &.standart {
            .cell {
                background-color: #f0d3a6;
                &:nth-child(16n+2),
                &:nth-child(16n+4),
                &:nth-child(16n+6),
                &:nth-child(16n+8),
                &:nth-child(16n+9),
                &:nth-child(16n+11),
                &:nth-child(16n+13),
                &:nth-child(16n+15) {
                    background-color: #b18461;
                }
            }
        }
    }
    &:after {
        content: '';
        position: absolute;
        width: 110%;
        height: 110%;
        top: -5%;
        left: -5%;
        border: 1px solid #468189;
        opacity: 0;
        transition: .2s;
    }
    &:before {
        content: '';
        display: block;
        width: 90%;
        height: 100px;
        bottom: -14px;
        left: 5%;
        position: absolute;
        background: rgba(31, 52, 54, 0.3);
        z-index: 1;
        filter: blur(15px);
    }
    &.turquoise {
        .cell {
            background-color: #95BCC1;
            &:nth-child(16n+2),
            &:nth-child(16n+4),
            &:nth-child(16n+6),
            &:nth-child(16n+8),
            &:nth-child(16n+9),
            &:nth-child(16n+11),
            &:nth-child(16n+13),
            &:nth-child(16n+15) {
                background-color: #468189;
            }
        }
    }
    &.standart {
        .cell {
            background-color: #DDC7A5;
            &:nth-child(16n+2),
            &:nth-child(16n+4),
            &:nth-child(16n+6),
            &:nth-child(16n+8),
            &:nth-child(16n+9),
            &:nth-child(16n+11),
            &:nth-child(16n+13),
            &:nth-child(16n+15) {
                background-color: #AE896A;
            }
        }
    }
    .cell {
        position: relative;
        z-index: 2;
        width: 31px;
        height: 31px;
        background-position: center;
        background-size: 90%;
        background-repeat: no-repeat;
        transition: .2s;
        &:nth-child(1),
        &:nth-child(8) {
            background-image: url('/img/icons/pieces/tower.svg');
        }
        &:nth-child(2),
        &:nth-child(7) {
            background-image: url('/img/icons/pieces/knight.svg');
        }
        &:nth-child(3),
        &:nth-child(6) {
            background-image: url('/img/icons/pieces/bishop.svg');
        }
        &:nth-child(4) {
            background-image: url('/img/icons/pieces/crown.svg');
        }
        &:nth-child(5) {
            background-image: url('/img/icons/pieces/queen.svg');
        }
        &:nth-child(9), &:nth-child(10),
        &:nth-child(11), &:nth-child(12),
        &:nth-child(13), &:nth-child(14),
        &:nth-child(15), &:nth-child(16) {
            background-image: url('/img/icons/pieces/pawn.svg');
        }
        &:nth-child(49), &:nth-child(50),
        &:nth-child(51), &:nth-child(52),
        &:nth-child(53), &:nth-child(54),
        &:nth-child(55), &:nth-child(56) {
            background-image: url('/img/icons/pieces/pawn_w.svg');
        }
        &:nth-child(57),
        &:nth-child(64) {
            background-image: url('/img/icons/pieces/tower_w.svg');
        }
        &:nth-child(58),
        &:nth-child(63) {
            background-image: url('/img/icons/pieces/knight_w.svg');
        }
        &:nth-child(59),
        &:nth-child(62) {
            background-image: url('/img/icons/pieces/bishop_w.svg');
        }
        &:nth-child(60) {
            background-image: url('/img/icons/pieces/crown_w.svg');
        }
        &:nth-child(61) {
            background-image: url('/img/icons/pieces/queen_w.svg');
        }
    }
}

.board-members {
    text-align: center;
    margin-bottom: 15px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    .member {
        display: inline-block;
        color: #4B4B4B;
        .maxstr(114px);
        vertical-align: middle;
        &:before {
            content: '';
            display: inline-block;
           // border: 2px solid #FFFFFF;
            width: 10px;
            border-radius: 50%;
            height: 10px;
            box-sizing: border-box;
            box-shadow: inset #fff 0 0 0 2px;
        }
        &.white:before {
            background: #E2CCAC;
        }
        &.black:before {
            background: #AE896A;
        }
    }
}

.auth-popup {
    position: absolute;
    top: 77px;
    background: #468189;
    border-radius: 0 8px 8px 8px;
    padding: 20px 17px;
    text-align: center;
    z-index: 100;
    opacity: 0;
    box-shadow: rgba(47, 91, 97, 0) 0 10px 30px;
    left: 50%;
    width: 270px;
    min-height: 195px;
    margin-left: 339px;
    transition: opacity .2s;
    transform-origin: top right;
    transform: scale(0);
    .head {
        width: 217px;
        height: 51px;
        background: #ABCBCF;
        position: absolute;
        top: -51px;
        left: 0;
        border-radius: 8px 8px 0 0;
        display: flex;
        align-items: center;
        padding: 4px 0 0 18px;
        cursor: pointer;
        .caption {
            color: #468189;
            font-weight: bold;
            margin-right: 22px;
        }
        img {
            width: 19px;
            position: relative;
            top: -1px;
        }
    }
    &.showed {
        opacity: 1;
        box-shadow: rgba(47, 91, 97, .4) 0 10px 30px;
        transform: scale(1);
    }
    a.btn-transparent {
        border-color: #fff;
        color: #fff;
        font-size: 15px;
        padding: 5px 42px;
        margin-bottom: 17px;
        min-width: 153px;
        &:hover {
        }
    }

    .btns-wr {
        padding-top: 23px;
        .btn {
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            margin-bottom: 16px;
        }
        .to-reg-btn {
            background: #D8E8EA;
            color: #468189;
            width: 192px;
            margin-bottom: 16px;
        }
        .to-login-form-btn {
            width: 161px;
            border: 1px solid #fff;
            color: #fff;
        }
    }

    form {
        display: none;
        input {
            height: 48px;
            text-align: center;
            margin-bottom: 12px;
            padding: 0;
        }
        button {
            border: 1px solid #FFFFFF;
            border-radius: 30px;
            width: 161px;
            height: 48px;
            text-align: center;
            color: #fff;
            line-height: 48px;
            background: transparent;
            margin-top: 4px;
            font-size: 16px;
            font-weight: 600;
        }
        .back-link {
            color: #fff;
            border-bottom: 1px dashed;
            padding-bottom: 5px;
            margin-top: 15px;
            display: inline-block;
            font-size: 16px;
        }
    }
}

.all-page-popup {
    display: none;
    position: absolute;
    top: 110px;
    z-index: 100;
    background: #d9e7e9;
    width: 100%;
    min-height: 100%;
    padding-bottom: 50px;
    &.showed {
        display: block;
    }
    .top-block {
        display: flex;
        align-items: center;
        padding: 0 53px;
        margin-top: 2px;
        margin-bottom: 42px;
        .title {
            font-size: 24px;
            color: #1E1E1E;
        }
        .close-btn {
            top: 5px;
            position: absolute;
            right: 31px;
            padding: 0 27px;
        }
    }
}

.board-info {
    &.short {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .board-members {
            width: auto;
            margin-bottom: 0;
        }
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .step {
        text-align: center;
        .n {
            margin-right: 6px;
        }
        .white {
            color: #AD9470;
            font-weight: bold;
            margin-right: 5px;
        }
        .black {
            color: #7A5B42;
            font-weight: bold;
        }
    }
    .state {
        min-width: 42px;
        height: 20px;
        color: #fff;
        border-radius: 20px;
        text-align: center;
        line-height: 20px;
        padding: 0 9px;
        background: #468189;
        font-size: 12px;
        font-weight: 700;
        .in-process {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 0 4px 6px;
                border-color: transparent transparent transparent #ffffff;
                position: relative;
                left: 2px;
            }
        }
    }
    .views {
        font-size: 14px;
        color: #4B4B4B;
        min-width: 60px;
        &:before {
            content: '';
            display: inline-block;
            width: 17px;
            height: 10px;
            background: url('/img/icons/icon_view.svg');
            margin-right: 5px;
        }
    }
    .date {
        color: #878787;
    }
    .row {
        display: flex;
        justify-content: space-between;
        width: 140px;
        margin: 0 auto;
    }
}

.parties-table {
    display: none;
    padding-top: 9px;
    li {
        display: flex;
        justify-content: space-between;
        height: 49px;
        align-items: center;
        padding-right: 17px;
        border-radius: 50px;
        margin-bottom: 1px;
        > a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &:nth-child(2n) {
            background: #D8E8EA;
        }

        &:hover {
            background: #A3BFC2 !important;
        }
        &.selected {
            background: #468189 !important;
        }
        &.selected {
            color: #fff;
            * {
                color: #fff;
            }
            .step {
                .white {
                    color: #fff !important;
                }
                .black {
                    color: #D8E8EA !important;
                }
            }
            .state:not(.black-win):not(.white-win) {
                background: #fff;
                .score {
                    color: #468189;
                }
                .in-process:after {
                    border-color: transparent transparent transparent #468189;
                }
            }
            .views:before {
                filter: brightness(10);
            }
        }
        &.unselected {
            box-shadow: inset #A3BFC2 0 0 0 2px;
        }
        .board-members {
            margin-bottom: 0;
        }
        .board-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 328px;
        }
        .state {
            &.white-win {
                background: #AD9470;
            }
            &.black-win {
                background: #7A5B42;
            }
        }
        .star {
            width: 16px;
            height: 16px;
            &.gold {
                background: url('/img/icons/star_gold.svg');
            }
            &.silver {
                background: url('/img/icons/star_silver.svg');
            }
            &.bronze {
                background: url('/img/icons/star_bronze.svg');
            }
        }
    }
}

@media screen  and (min-width: 1024px) and (max-width: 1174px) {
    .auth-popup {
        margin: 0;
        left: initial;
        right: 3px;
        width: 250px;
    }

    .all-page-popup {
        top: 126px;
        .top-block {
            .close-btn {
                right: 20px;
            }
        }
    }
}

@media screen and (max-width: 1174px) {
    .all-page-popup {
        .top-block .close-settings {
            right: 15px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .mobile-only {
        display: block;
    }

    .all-page-popup {
        top: 70px;
        .top-block {
            display: flex;
            flex-direction: column-reverse;
            margin: 28px 0 37px;
            padding: 0 16px;
            .title {
                text-align: center;
                line-height: 1.3;
                padding: 0 15px;

            }
            .close-settings {
                position: relative;
                top: 0;
                right: 0;
                max-width: 230px;
                margin: 0 auto 20px;
            }
        }
    }

    .parties-table {
        li {
            padding: 0 15px;
            height: 46px;
            margin: 0 auto 1px;
            .board-members {
                width: auto;
            }
            .board-info {
                width: 90px;
                margin-left: 17px;
                .step, .views {
                    display: none;
                }
            }
        }
    }
}