.index-page {
	header {
		height: 118px;
		background-color: #D8E8EA;
		background-image: url('/img/pattern.svg');
		.title-block {
			.title {
				font-size: 20px;
				margin-bottom: 19px;
			}
			.info-list {
				display: flex;
				li {
					display: flex;
					align-items: center;
					margin-right: 20px;
					> a {
						display: flex;
						align-items: center;
					}
					img {
						margin-right: 10px;
					}
					b {
						color: #468189;
					}
					.num {
						margin-left: 6px;
					}
				}
			}
		}
	}

	.index-page-content {
		.page-markup {
			padding: 36px;
			.title {
				margin-bottom: 26px;
			}
		}
		.left-block {
			margin-right: 26px !important;
			.title {
				padding-left: 13px;
			}
		}
		.news-list {
			li {
				margin-bottom: 5px;
				position: relative;
				padding: 8px 12px 13px;
				line-height: 1.5;
				&.selected {
					background: #D8E8EA;
					border-radius: 8px;
				}
				.date {
					color: #878787;
					margin-bottom: 4px;
				}
				.photo {
					margin-bottom: 12px;
					max-width: 100%;
					display: block;
				}
				.badge {
					background: #468189;
					border-radius: 4px;
					position: absolute;
					color: #fff;
					text-transform: uppercase;
					font-size: 10px;
					font-weight: bold;
					top: 8px;
					right: 11px;
					padding: 3px 17px;
				}
			}
		}

		.tournaments-tab {
			margin-right: 49px !important;
		}

		.right-block {
			width: 223px !important;
			.title {
				text-align: center;
			}
			.party {
				max-width: 223px;
				margin: 0 auto 41px;
				.board {
					width: 200px;
					height: 203px;
					margin: 0 auto 35px;
					.cell {
						width: calc(~"200px / 8");
						height: calc(~"200px / 8");
					}
				}
			}

			.tournament {
				margin: -8px 0 42px;
				text-align: center;
				.logo-wr {
					width: 82px;
					height: 82px;
					border-radius: 50%;
					margin: 0 auto 14px;
					border: 2px solid #D8E8EA;
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;
					.logo {
						max-height: 60px;
						max-width: 51px;
					}
				}
				.name {
					font-size: 14px;
					line-height: 20px;
					color: #468189;
					margin-bottom: 18px;
					display: block;
					text-align: center;
				}
				.row {
					margin-bottom: 17px;
				}
				.view {
					margin-right: 15px;
					vertical-align: middle;
				}
				.date {
					color: #878787;
					margin-right: 15px;
					vertical-align: middle;
				}
				.status, .level {
					display: inline-block;
					.n {
						margin-right: 3px;
					}
					.value {
						color: #878787;
					}
				}
			}

			.styles-stat {
				line-height: 1.4;
				max-width: 263px;
				margin: 0 auto;
				li {
					margin-bottom: 9px;
					display: flex;
					justify-content: space-between;
					.n {
						width: 192px;
					}
					.v {
						width: 35px;
						color: #468189;
						text-align: right;
					}
				}
			}
		}
	}

	@media screen  and (min-width: 1024px) and (max-width: 1174px) {
		header {
			.title-block {
				width: 510px;
			}
		}

		.page-markup {
			.left-block {
				width: 220px !important;
			}
			.tournaments-tab {
				width: 472px !important;
				margin-right: 19px !important;
			}
		}
	}

	@media screen and (max-width: 1023px) {
		header {
			height: 269px;
			margin-bottom: 4px;
			.logo {
				margin-bottom: 21px;
			}
			.title-block {
				.title {
					font-size: 18px;
					margin-bottom: 32px;
				}
				.info-list {
					flex-direction: column;
					li {
						margin-bottom: 19px;
						.icon-wr {
							width: 28px;
							text-align: center;
							padding-right: 10px;
							img {
								display: inline-block;
								margin-right: 0;
							}
						}
					}
				}
			}
		}

		.page-markup {
			padding: 31px 19px !important;
			.title {
				text-align: center;
			}
			.left-block {

			}

			.tournaments-tab {
				margin-right: 0px !important;
			}

			.right-block {
				width: 100% !important;
			}

		}
	}

}