.index-page header {
  height: 118px;
  background-color: #D8E8EA;
  background-image: url('/img/pattern.svg');
}
.index-page header .title-block .title {
  font-size: 20px;
  margin-bottom: 19px;
}
.index-page header .title-block .info-list {
  display: flex;
}
.index-page header .title-block .info-list li {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.index-page header .title-block .info-list li > a {
  display: flex;
  align-items: center;
}
.index-page header .title-block .info-list li img {
  margin-right: 10px;
}
.index-page header .title-block .info-list li b {
  color: #468189;
}
.index-page header .title-block .info-list li .num {
  margin-left: 6px;
}
.index-page .index-page-content .page-markup {
  padding: 36px;
}
.index-page .index-page-content .page-markup .title {
  margin-bottom: 26px;
}
.index-page .index-page-content .left-block {
  margin-right: 26px !important;
}
.index-page .index-page-content .left-block .title {
  padding-left: 13px;
}
.index-page .index-page-content .news-list li {
  margin-bottom: 5px;
  position: relative;
  padding: 8px 12px 13px;
  line-height: 1.5;
}
.index-page .index-page-content .news-list li.selected {
  background: #D8E8EA;
  border-radius: 8px;
}
.index-page .index-page-content .news-list li .date {
  color: #878787;
  margin-bottom: 4px;
}
.index-page .index-page-content .news-list li .photo {
  margin-bottom: 12px;
  max-width: 100%;
  display: block;
}
.index-page .index-page-content .news-list li .badge {
  background: #468189;
  border-radius: 4px;
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  top: 8px;
  right: 11px;
  padding: 3px 17px;
}
.index-page .index-page-content .tournaments-tab {
  margin-right: 49px !important;
}
.index-page .index-page-content .right-block {
  width: 223px !important;
}
.index-page .index-page-content .right-block .title {
  text-align: center;
}
.index-page .index-page-content .right-block .party {
  max-width: 223px;
  margin: 0 auto 41px;
}
.index-page .index-page-content .right-block .party .board {
  width: 200px;
  height: 203px;
  margin: 0 auto 35px;
}
.index-page .index-page-content .right-block .party .board .cell {
  width: calc(200px / 8);
  height: calc(200px / 8);
}
.index-page .index-page-content .right-block .tournament {
  margin: -8px 0 42px;
  text-align: center;
}
.index-page .index-page-content .right-block .tournament .logo-wr {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  margin: 0 auto 14px;
  border: 2px solid #D8E8EA;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.index-page .index-page-content .right-block .tournament .logo-wr .logo {
  max-height: 60px;
  max-width: 51px;
}
.index-page .index-page-content .right-block .tournament .name {
  font-size: 14px;
  line-height: 20px;
  color: #468189;
  margin-bottom: 18px;
  display: block;
  text-align: center;
}
.index-page .index-page-content .right-block .tournament .row {
  margin-bottom: 17px;
}
.index-page .index-page-content .right-block .tournament .view {
  margin-right: 15px;
  vertical-align: middle;
}
.index-page .index-page-content .right-block .tournament .date {
  color: #878787;
  margin-right: 15px;
  vertical-align: middle;
}
.index-page .index-page-content .right-block .tournament .status,
.index-page .index-page-content .right-block .tournament .level {
  display: inline-block;
}
.index-page .index-page-content .right-block .tournament .status .n,
.index-page .index-page-content .right-block .tournament .level .n {
  margin-right: 3px;
}
.index-page .index-page-content .right-block .tournament .status .value,
.index-page .index-page-content .right-block .tournament .level .value {
  color: #878787;
}
.index-page .index-page-content .right-block .styles-stat {
  line-height: 1.4;
  max-width: 263px;
  margin: 0 auto;
}
.index-page .index-page-content .right-block .styles-stat li {
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
}
.index-page .index-page-content .right-block .styles-stat li .n {
  width: 192px;
}
.index-page .index-page-content .right-block .styles-stat li .v {
  width: 35px;
  color: #468189;
  text-align: right;
}
@media screen and (min-width: 1024px) and (max-width: 1174px) {
  .index-page header .title-block {
    width: 510px;
  }
  .index-page .page-markup .left-block {
    width: 220px !important;
  }
  .index-page .page-markup .tournaments-tab {
    width: 472px !important;
    margin-right: 19px !important;
  }
}
@media screen and (max-width: 1023px) {
  .index-page header {
    height: 269px;
    margin-bottom: 4px;
  }
  .index-page header .logo {
    margin-bottom: 21px;
  }
  .index-page header .title-block .title {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .index-page header .title-block .info-list {
    flex-direction: column;
  }
  .index-page header .title-block .info-list li {
    margin-bottom: 19px;
  }
  .index-page header .title-block .info-list li .icon-wr {
    width: 28px;
    text-align: center;
    padding-right: 10px;
  }
  .index-page header .title-block .info-list li .icon-wr img {
    display: inline-block;
    margin-right: 0;
  }
  .index-page .page-markup {
    padding: 31px 19px !important;
  }
  .index-page .page-markup .title {
    text-align: center;
  }
  .index-page .page-markup .tournaments-tab {
    margin-right: 0px !important;
  }
  .index-page .page-markup .right-block {
    width: 100% !important;
  }
}
