.info-page {
	padding-bottom: 100px;

	&.tour-open-page {
		.page-markup {
			.left-block {
				margin-right: 22px;
			}
			.middle-block {
				width: 618px;
				margin-right: 27px;
				> .title {
					padding-left: 25px;
				}
				.parties-boards {
					padding-left: 25px;
				}
			}
		}
	}

	.title {
		font-size: 18px;
		color: #1E1E1E;
		margin-bottom: 19px;
	}

	.top-block-wr {
		background: #D8E8EA;
		height: 338px;
		margin: -127px 0 0;
		padding-top: 149px;
		.top-block {
			display: flex;
			padding: 0 31px 0 41px;
		}
		.info-bl {
			&.info-bl1 {
				width: 313px;
			}
			&.info-bl2 {
				width: 303px;
			}
			.title {
				margin-bottom: 27px;
			}
		}
		.params {
			li {
				margin-bottom: 14px;
				font-size: 14px;
				.n {
					color: #4B4B4B;
					font-weight: 600;
					margin-right: 8px;
				}
				.v {
					color: #468189;
				}
			}
		}
		.sponsor-block {
			text-align: center;
			width: 240px;
			margin-right: 62px;
			.logo {
				margin: -6px 0 4px;
			}
			.name {
				font-size: 14px;
				color: #468189;
				line-height: 1.3;
			}
		}

		.toggle-info-btn {
			display: none;
		}

		.member-block {
			width: 252px;
			text-align: center;
			margin-top: -39px;
			.photo {
				border-radius: 50%;
				border: 4px solid rgba(255, 255, 255, .4);
				box-shadow: 0 2px 14px 0 #ABCBCF;
				margin-bottom: 11px;
			}
			.name {
				font-size: 16px;
				color: #000000;
				margin-bottom: 13px;
			}
			.rating {
				font-size: 14px;
				color: #565656;
				display: flex;
				align-items: baseline;
				margin-bottom: 16px;
				justify-content: center;
				.podium {
					font-size: 0;
					margin-right: 7px;
					i {
						display: inline-block;
						vertical-align: bottom;
						width: 3px;
						background: #468189;
						margin-right: 1px;
						&:nth-child(1) {
							height: 7px;
						}
						&:nth-child(2) {
							height: 11px;
						}
						&:nth-child(3) {
							height: 6px;
						}

					}
				}
			}
			.logout {
				display: flex;
				justify-content: center;
				align-items: baseline;
				.icon {
					margin-right: 3px;
					position: relative;
					top: 2px;
					left: -4px;
				}
				span {
					color: #468189;
					font-weight: 600;
					border-bottom: 1px dashed;
					padding-bottom: 4px;
				}
			}

			.btn-signin {
				font-size: 16px;
				font-weight: 500;
				height: 50px;
				line-height: 50px;
				width: 252px;
				margin-bottom: 19px;
				margin-top: 51px;
			}
			.btn-signup {
				height: 50px;
				width: 176px;
				line-height: 50px;
				font-size: 16px;
				font-weight: 600;
			}
		}

		.timer-block {
			text-align: center;
			width: 228px;
			position: relative;
			top: -24px;
			.timer {
				display: flex;
				justify-content: space-between;
				align-items: center;
				li {
					position: relative;
					&:before {
						content: '';
						display: block;
						width: 80%;
						height: 30px;
						bottom: -8px;
						left: 10%;
						position: absolute;
						background: rgba(71, 130, 138, 0.7);
						z-index: 1;
						filter: blur(7px);
					}
					&:not(:last-child) {
						&:after {
							content: ':';
							position: absolute;
							font-size: 40px;
							color: #468189;
							font-weight: bold;
							right: -20px;
							top: 15px;
						}
					}
					span {
						z-index: 2;
						display: block;
						position: relative;
						background: #FFFFFF;
						border: 1px solid #ABCBCF;
						border-radius: 4px;
						width: 58px;
						height: 60px;
						text-align: center;
						font-size: 32px;
						color: #1C1C1C;
						font-weight: bold;
						line-height: 58px;
					}
				}
			}

			.send-request-btn {
				font-size: 15px;
				font-weight: normal;
				line-height: 38px;
				height: 40px;
				padding: 0;
				width: 100%;
				margin-top: 23px;
			}
		}
	}

	.page-markup {
		.left-block {
			.tours {
				margin: 0 0 33px -12px;
				li {
					position: relative;
					font-size: 16px;
					color: #1C1C1C;
					height: 35px;
					display: flex;
					align-items: center;
					margin-bottom: 1px;
					padding-left: 12px;
					width: 241px;
					&.current {
						&:after {
							content: '';
							display: inline-block;
							width: 8px;
							height: 8px;
							border-radius: 50%;
							background: #70C074;
							margin-left: 9px;
						}
					}
					&.selected {
						background: #DBEAEC;
						&:before {
							content: '';
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 18.5px 0 18.5px 16px;
							border-color: transparent transparent transparent #dbeaec;
							display: block;
							position: absolute;
							right: -16px;
							top: 0;
						}
					}
					a {
						font-weight: 600;
						color: #468189;
						&:hover {
							text-decoration: underline;
						}
					}
					.date {
						font-size: 14px;
						color: #797979;
					}
				}
			}

			.comments {
				margin: 22px 0 25px;
				li {
					border-bottom: 1px solid #EEF5F5;
					padding-bottom: 7px;
					margin-bottom: 13px;
					.name {
						font-size: 12px;
						color: #ABCBCF;
						font-weight: 600;
						margin-bottom: 3px;
					}
					.message {
						font-size: 14px;
						color: #4B4B4B;
						line-height: 1.4;
					}
				}
			}
			.comments-note {
				font-size: 14px;
				color: #797979;
				line-height: 1.4;
			}
		}

		.middle-block {
			position: relative;
			.mobile-tours-block {
				display: none;
			}

			.parties-boards {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin: 29px 0;
				li {
					margin: 0 0 40px;
				}
			}

			.tours-list.selector {
				margin-bottom: 30px;
				display: none;
			}

			.form {
				text-align: center;
				width: 427px;
				margin: 0 auto;
				.title {
					font-size: 20px;
					color: #1C1C1C;
					a {
						font-size: 20px;
						color: #468189;
						font-weight: 600;
						border-bottom: 1px dashed;
					}
				}
				.pic {
					cursor: pointer;
				}
				.n1 {
					max-width: 200px;
					margin: -3px auto 29px;
					line-height: 1.4;
					color: #797979;
				}
				button {
					width: 264px;
				}
			}

			.signup-form {
				display: none;
				.title {
					margin-bottom: 39px;
				}
			}

			.switch-mode-block {
				position: absolute;
				top: 0;
				right: 31px;
				display: flex;
				align-items: center;
				.switcher {
					position: relative;
					width: 92px;
					height: 28px;
					border-radius: 50px;
					overflow: hidden;
					background: #D8E8EA;
					display: flex;
					align-items: center;
					margin-left: 13px;
					transition: .2s;
					&:hover {
						filter: brightness(1.05);
					}
					&:before {
						content: '';
						position: absolute;
						z-index: 1;
						background: #468189;
						width: 50px;
						height: 100%;
						transition: .2s;
						border-radius: 50px;
						left: 0;
						top: 0;
					}
					&.boards {
						div:first-child {
							img {
								transform: rotate(90deg);
							}
						}
					}
					&.table {
						&:before {
							left: 42px;
						}
						div:last-child {
							img {
								filter: grayscale(1) brightness(10);
							}
						}
					}
					> div {
						width: 50%;
						position: relative;
						z-index: 2;
						text-align: center;
						cursor: pointer;
					}
				}
			}
		}

		.right-block {
			.title2 {
				text-align: center;
				line-height: 1.4;
				margin-top: -3px;
			}
			.tournament-table {
				margin-top: -6px;
				li {
					display: flex;
					justify-content: space-between;
					min-height: 50px;
					align-items: center;
					padding: 11px 0;
					.member-col {
						font-size: 14px;
						color: #565656;
						width: 161px;
						padding-left: 11px;
						line-height: 1.4;
					}
					.col {
						width: 40px;
					}
				}
			}
		}
	}

	.login-popup {
		position: absolute;
		top: -30px;
		right: 23px;
		background: #468189;
		border-radius: 10px;
		width: 273px;
		height: 234px;
		padding: 34px;
		text-align: center;
		z-index: 100;
		transition: .2s;
		opacity: 0;
		transform: scale(0);
		box-shadow: rgba(47, 91, 97, 0) 0 10px 30px;
		&:before {
			display: none;
		}
		&.showed {
			opacity: 1;
			transform: scale(1);
			box-shadow: rgba(47, 91, 97, .4) 0 10px 30px;
		}
		.close {
			position: absolute;
			top: 13px;
			right: 13px;
			img {
				width: 18px;
			}
		}
	}

	@media screen and (max-width: 1023px) {
		padding-bottom: 50px;
		&.tour-open-page {
			.page-markup {
				.middle-block {
					width: 100%;
				}
			}
		}

		.top-block-wr {
			margin-top: -32px;
			padding-top: 39px;
			height: auto;
			padding-bottom: 30px;
			.top-block {
				display: block;
				padding: 0 20px;
				.sponsor-block {
					display: none;
					width: 260px;
					margin: 40px auto;
				}
				.timer-block {
					width: 228px;
					margin: 0 auto;
				}
				.info-bl {
					display: none;
					width: 220px;
					margin: 40px auto;
				}
				.toggle-info-btn {
					margin: 43px auto 0;
					height: 39px;
					line-height: 39px;
					width: 169px;
					display: block;
					background: transparent !important;
					color: #468189 !important;
					&:before {
						content: '';
						display: inline-block;
						width: 0;
						height: 0;
						border-left: 4px solid transparent;
						border-right: 4px solid transparent;
						border-top: 6px solid #468189;
						vertical-align: middle;
						position: relative;
						top: -1px;
						margin-right: 3px;
						transition: .2s;
						left: -5px;
					}
					&:after {
						content: 'Подробнее';
					}
					&.expanded {
						&:before {
							border-top: none;
							border-bottom: 6px solid #468189;
						}
						&:after {
							content: 'Свернуть';
						}
					}
				}
			}

			.member-block {
				width: 100%;
				margin-top: 0px;
				.btn-signin {
					margin-top: 0;
				}
			}
		}

		.page-markup {
			.left-block {
				.tours-title, .tours {
					display: none;
				}
			}
			.middle-block {
				.parties {
					justify-content: center;
					li {
						margin: 0 15px 27px;
					}
				}
				.parties-title {
					display: none;
				}

				.parties-boards {
					padding: 0;
					justify-content: center;
					li {
						margin: 0 20px 40px;
					}
				}

				.tours-list.selector {
					display: flex;
					justify-content: center;
				}

				.mobile-tours-block {
					display: block;
					.title {
						text-align: center;
					}
					.mobile-tours-block {
						position: relative;
						&.expanded {
							.tour-block {
								border-radius: 4px 4px 0 0;
								&:after {
									border-left: 6px solid transparent;
									border-right: 6px solid transparent;
									border-bottom: 8px solid #468189;
									border-top: transparent;
								}
							}
						}
						.tour-block {
							border: 1px solid #468189;
							border-radius: 4px;
							height: 44px;
							position: relative;
							display: flex;
							align-items: center;
							justify-content: center;
							&:after {
								content: '';
								display: inline-block;
								width: 0;
								height: 0;
								border-left: 6px solid transparent;
								border-right: 6px solid transparent;
								border-top: 8px solid #468189;
								position: absolute;
								right: 13px;
								top: 18px;
							}
						}

						.tours-list {
							display: none;
							position: absolute;
							z-index: 100;
							background: #fff;
							width: 100%;
							border: 1px solid #468189;
							line-height: 3;
							padding: 10px 13px;
							border-top: 0;
							box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px;
							text-align: center;
						}
						.date {
							color: #797979;
						}
					}
				}

				.form {
					width: 100%;
					.title {
						line-height: 1.5;
						.or {
							display: block;
						}
					}
				}

				.switch-mode-block {
					position: relative;
					right: initial;
					width: 100%;
					justify-content: center;
				}
			}
		}
	}
}