.info-page {
  padding-bottom: 100px;
}
.info-page.tour-open-page .page-markup .left-block {
  margin-right: 22px;
}
.info-page.tour-open-page .page-markup .middle-block {
  width: 618px;
  margin-right: 27px;
}
.info-page.tour-open-page .page-markup .middle-block > .title {
  padding-left: 25px;
}
.info-page.tour-open-page .page-markup .middle-block .parties-boards {
  padding-left: 25px;
}
.info-page .title {
  font-size: 18px;
  color: #1E1E1E;
  margin-bottom: 19px;
}
.info-page .top-block-wr {
  background: #D8E8EA;
  height: 338px;
  margin: -127px 0 0;
  padding-top: 149px;
}
.info-page .top-block-wr .top-block {
  display: flex;
  padding: 0 31px 0 41px;
}
.info-page .top-block-wr .info-bl.info-bl1 {
  width: 313px;
}
.info-page .top-block-wr .info-bl.info-bl2 {
  width: 303px;
}
.info-page .top-block-wr .info-bl .title {
  margin-bottom: 27px;
}
.info-page .top-block-wr .params li {
  margin-bottom: 14px;
  font-size: 14px;
}
.info-page .top-block-wr .params li .n {
  color: #4B4B4B;
  font-weight: 600;
  margin-right: 8px;
}
.info-page .top-block-wr .params li .v {
  color: #468189;
}
.info-page .top-block-wr .sponsor-block {
  text-align: center;
  width: 240px;
  margin-right: 62px;
}
.info-page .top-block-wr .sponsor-block .logo {
  margin: -6px 0 4px;
}
.info-page .top-block-wr .sponsor-block .name {
  font-size: 14px;
  color: #468189;
  line-height: 1.3;
}
.info-page .top-block-wr .toggle-info-btn {
  display: none;
}
.info-page .top-block-wr .member-block {
  width: 252px;
  text-align: center;
  margin-top: -39px;
}
.info-page .top-block-wr .member-block .photo {
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 14px 0 #ABCBCF;
  margin-bottom: 11px;
}
.info-page .top-block-wr .member-block .name {
  font-size: 16px;
  color: #000000;
  margin-bottom: 13px;
}
.info-page .top-block-wr .member-block .rating {
  font-size: 14px;
  color: #565656;
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
  justify-content: center;
}
.info-page .top-block-wr .member-block .rating .podium {
  font-size: 0;
  margin-right: 7px;
}
.info-page .top-block-wr .member-block .rating .podium i {
  display: inline-block;
  vertical-align: bottom;
  width: 3px;
  background: #468189;
  margin-right: 1px;
}
.info-page .top-block-wr .member-block .rating .podium i:nth-child(1) {
  height: 7px;
}
.info-page .top-block-wr .member-block .rating .podium i:nth-child(2) {
  height: 11px;
}
.info-page .top-block-wr .member-block .rating .podium i:nth-child(3) {
  height: 6px;
}
.info-page .top-block-wr .member-block .logout {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.info-page .top-block-wr .member-block .logout .icon {
  margin-right: 3px;
  position: relative;
  top: 2px;
  left: -4px;
}
.info-page .top-block-wr .member-block .logout span {
  color: #468189;
  font-weight: 600;
  border-bottom: 1px dashed;
  padding-bottom: 4px;
}
.info-page .top-block-wr .member-block .btn-signin {
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  width: 252px;
  margin-bottom: 19px;
  margin-top: 51px;
}
.info-page .top-block-wr .member-block .btn-signup {
  height: 50px;
  width: 176px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
}
.info-page .top-block-wr .timer-block {
  text-align: center;
  width: 228px;
  position: relative;
  top: -24px;
}
.info-page .top-block-wr .timer-block .timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-page .top-block-wr .timer-block .timer li {
  position: relative;
}
.info-page .top-block-wr .timer-block .timer li:before {
  content: '';
  display: block;
  width: 80%;
  height: 30px;
  bottom: -8px;
  left: 10%;
  position: absolute;
  background: rgba(71, 130, 138, 0.7);
  z-index: 1;
  filter: blur(7px);
}
.info-page .top-block-wr .timer-block .timer li:not(:last-child):after {
  content: ':';
  position: absolute;
  font-size: 40px;
  color: #468189;
  font-weight: bold;
  right: -20px;
  top: 15px;
}
.info-page .top-block-wr .timer-block .timer li span {
  z-index: 2;
  display: block;
  position: relative;
  background: #FFFFFF;
  border: 1px solid #ABCBCF;
  border-radius: 4px;
  width: 58px;
  height: 60px;
  text-align: center;
  font-size: 32px;
  color: #1C1C1C;
  font-weight: bold;
  line-height: 58px;
}
.info-page .top-block-wr .timer-block .send-request-btn {
  font-size: 15px;
  font-weight: normal;
  line-height: 38px;
  height: 40px;
  padding: 0;
  width: 100%;
  margin-top: 23px;
}
.info-page .page-markup .left-block .tours {
  margin: 0 0 33px -12px;
}
.info-page .page-markup .left-block .tours li {
  position: relative;
  font-size: 16px;
  color: #1C1C1C;
  height: 35px;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  padding-left: 12px;
  width: 241px;
}
.info-page .page-markup .left-block .tours li.current:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #70C074;
  margin-left: 9px;
}
.info-page .page-markup .left-block .tours li.selected {
  background: #DBEAEC;
}
.info-page .page-markup .left-block .tours li.selected:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18.5px 0 18.5px 16px;
  border-color: transparent transparent transparent #dbeaec;
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
}
.info-page .page-markup .left-block .tours li a {
  font-weight: 600;
  color: #468189;
}
.info-page .page-markup .left-block .tours li a:hover {
  text-decoration: underline;
}
.info-page .page-markup .left-block .tours li .date {
  font-size: 14px;
  color: #797979;
}
.info-page .page-markup .left-block .comments {
  margin: 22px 0 25px;
}
.info-page .page-markup .left-block .comments li {
  border-bottom: 1px solid #EEF5F5;
  padding-bottom: 7px;
  margin-bottom: 13px;
}
.info-page .page-markup .left-block .comments li .name {
  font-size: 12px;
  color: #ABCBCF;
  font-weight: 600;
  margin-bottom: 3px;
}
.info-page .page-markup .left-block .comments li .message {
  font-size: 14px;
  color: #4B4B4B;
  line-height: 1.4;
}
.info-page .page-markup .left-block .comments-note {
  font-size: 14px;
  color: #797979;
  line-height: 1.4;
}
.info-page .page-markup .middle-block {
  position: relative;
}
.info-page .page-markup .middle-block .mobile-tours-block {
  display: none;
}
.info-page .page-markup .middle-block .parties-boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 29px 0;
}
.info-page .page-markup .middle-block .parties-boards li {
  margin: 0 0 40px;
}
.info-page .page-markup .middle-block .tours-list.selector {
  margin-bottom: 30px;
  display: none;
}
.info-page .page-markup .middle-block .form {
  text-align: center;
  width: 427px;
  margin: 0 auto;
}
.info-page .page-markup .middle-block .form .title {
  font-size: 20px;
  color: #1C1C1C;
}
.info-page .page-markup .middle-block .form .title a {
  font-size: 20px;
  color: #468189;
  font-weight: 600;
  border-bottom: 1px dashed;
}
.info-page .page-markup .middle-block .form .pic {
  cursor: pointer;
}
.info-page .page-markup .middle-block .form .n1 {
  max-width: 200px;
  margin: -3px auto 29px;
  line-height: 1.4;
  color: #797979;
}
.info-page .page-markup .middle-block .form button {
  width: 264px;
}
.info-page .page-markup .middle-block .signup-form {
  display: none;
}
.info-page .page-markup .middle-block .signup-form .title {
  margin-bottom: 39px;
}
.info-page .page-markup .middle-block .switch-mode-block {
  position: absolute;
  top: 0;
  right: 31px;
  display: flex;
  align-items: center;
}
.info-page .page-markup .middle-block .switch-mode-block .switcher {
  position: relative;
  width: 92px;
  height: 28px;
  border-radius: 50px;
  overflow: hidden;
  background: #D8E8EA;
  display: flex;
  align-items: center;
  margin-left: 13px;
  transition: .2s;
}
.info-page .page-markup .middle-block .switch-mode-block .switcher:hover {
  filter: brightness(1.05);
}
.info-page .page-markup .middle-block .switch-mode-block .switcher:before {
  content: '';
  position: absolute;
  z-index: 1;
  background: #468189;
  width: 50px;
  height: 100%;
  transition: .2s;
  border-radius: 50px;
  left: 0;
  top: 0;
}
.info-page .page-markup .middle-block .switch-mode-block .switcher.boards div:first-child img {
  transform: rotate(90deg);
}
.info-page .page-markup .middle-block .switch-mode-block .switcher.table:before {
  left: 42px;
}
.info-page .page-markup .middle-block .switch-mode-block .switcher.table div:last-child img {
  filter: grayscale(1) brightness(10);
}
.info-page .page-markup .middle-block .switch-mode-block .switcher > div {
  width: 50%;
  position: relative;
  z-index: 2;
  text-align: center;
  cursor: pointer;
}
.info-page .page-markup .right-block .title2 {
  text-align: center;
  line-height: 1.4;
  margin-top: -3px;
}
.info-page .page-markup .right-block .tournament-table {
  margin-top: -6px;
}
.info-page .page-markup .right-block .tournament-table li {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
  padding: 11px 0;
}
.info-page .page-markup .right-block .tournament-table li .member-col {
  font-size: 14px;
  color: #565656;
  width: 161px;
  padding-left: 11px;
  line-height: 1.4;
}
.info-page .page-markup .right-block .tournament-table li .col {
  width: 40px;
}
.info-page .login-popup {
  position: absolute;
  top: -30px;
  right: 23px;
  background: #468189;
  border-radius: 10px;
  width: 273px;
  height: 234px;
  padding: 34px;
  text-align: center;
  z-index: 100;
  transition: .2s;
  opacity: 0;
  transform: scale(0);
  box-shadow: rgba(47, 91, 97, 0) 0 10px 30px;
}
.info-page .login-popup:before {
  display: none;
}
.info-page .login-popup.showed {
  opacity: 1;
  transform: scale(1);
  box-shadow: rgba(47, 91, 97, 0.4) 0 10px 30px;
}
.info-page .login-popup .close {
  position: absolute;
  top: 13px;
  right: 13px;
}
.info-page .login-popup .close img {
  width: 18px;
}
@media screen and (max-width: 1023px) {
  .info-page {
    padding-bottom: 50px;
  }
  .info-page.tour-open-page .page-markup .middle-block {
    width: 100%;
  }
  .info-page .top-block-wr {
    margin-top: -32px;
    padding-top: 39px;
    height: auto;
    padding-bottom: 30px;
  }
  .info-page .top-block-wr .top-block {
    display: block;
    padding: 0 20px;
  }
  .info-page .top-block-wr .top-block .sponsor-block {
    display: none;
    width: 260px;
    margin: 40px auto;
  }
  .info-page .top-block-wr .top-block .timer-block {
    width: 228px;
    margin: 0 auto;
  }
  .info-page .top-block-wr .top-block .info-bl {
    display: none;
    width: 220px;
    margin: 40px auto;
  }
  .info-page .top-block-wr .top-block .toggle-info-btn {
    margin: 43px auto 0;
    height: 39px;
    line-height: 39px;
    width: 169px;
    display: block;
    background: transparent !important;
    color: #468189 !important;
  }
  .info-page .top-block-wr .top-block .toggle-info-btn:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #468189;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 3px;
    transition: .2s;
    left: -5px;
  }
  .info-page .top-block-wr .top-block .toggle-info-btn:after {
    content: 'Подробнее';
  }
  .info-page .top-block-wr .top-block .toggle-info-btn.expanded:before {
    border-top: none;
    border-bottom: 6px solid #468189;
  }
  .info-page .top-block-wr .top-block .toggle-info-btn.expanded:after {
    content: 'Свернуть';
  }
  .info-page .top-block-wr .member-block {
    width: 100%;
    margin-top: 0px;
  }
  .info-page .top-block-wr .member-block .btn-signin {
    margin-top: 0;
  }
  .info-page .page-markup .left-block .tours-title,
  .info-page .page-markup .left-block .tours {
    display: none;
  }
  .info-page .page-markup .middle-block .parties {
    justify-content: center;
  }
  .info-page .page-markup .middle-block .parties li {
    margin: 0 15px 27px;
  }
  .info-page .page-markup .middle-block .parties-title {
    display: none;
  }
  .info-page .page-markup .middle-block .parties-boards {
    padding: 0;
    justify-content: center;
  }
  .info-page .page-markup .middle-block .parties-boards li {
    margin: 0 20px 40px;
  }
  .info-page .page-markup .middle-block .tours-list.selector {
    display: flex;
    justify-content: center;
  }
  .info-page .page-markup .middle-block .mobile-tours-block {
    display: block;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .title {
    text-align: center;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block {
    position: relative;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block.expanded .tour-block {
    border-radius: 4px 4px 0 0;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block.expanded .tour-block:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #468189;
    border-top: transparent;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block .tour-block {
    border: 1px solid #468189;
    border-radius: 4px;
    height: 44px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block .tour-block:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #468189;
    position: absolute;
    right: 13px;
    top: 18px;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block .tours-list {
    display: none;
    position: absolute;
    z-index: 100;
    background: #fff;
    width: 100%;
    border: 1px solid #468189;
    line-height: 3;
    padding: 10px 13px;
    border-top: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px;
    text-align: center;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block .date {
    color: #797979;
  }
  .info-page .page-markup .middle-block .form {
    width: 100%;
  }
  .info-page .page-markup .middle-block .form .title {
    line-height: 1.5;
  }
  .info-page .page-markup .middle-block .form .title .or {
    display: block;
  }
  .info-page .page-markup .middle-block .switch-mode-block {
    position: relative;
    right: initial;
    width: 100%;
    justify-content: center;
  }
}
