.btn {
	background: #468189;
	border-radius: 30px;
	cursor: pointer;
	display: inline-block;
	height: 54px;
	line-height: 54px;
	padding: 0 20px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #468189;
	transition: .2s;
	&:hover {
		background: transparent;
		color: #468189;
	}
}

button {
	cursor: pointer;
}

input {
	background: #FFFFFF;
	border: 1px solid #468189;
	border-radius: 30px;
	height: 54px;
	display: block;
	width: 100%;
	margin-bottom: 30px;
	font-size: 16px;
	color: #797979;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.btn-transparent {
	border: 1px solid #468189;
	border-radius: 100px;
	display: inline-block;
	text-decoration: none !important;
	cursor: pointer;
	color: #468189;
	text-align: center;
	line-height: 33px;
	padding: 0 17px;
	font-size: 12px;
	transition: .2s;
	font-weight: 600;
	&:hover {
		background: #468189 !important;
		color: #fff !important;
		.icon {
			filter: grayscale(1) brightness(2);
		}
	}
	.icon {
		transition: filter .2s;
		vertical-align: middle;
	}
}

.selector {
	height: 44px;
	box-shadow: inset #468189 0 0 0 1px;
	border-radius: 4px;
	justify-content: space-between;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	padding: 0 21px;
	font-size: 14px;
	.expand-block {
		&:after {
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 8px solid #468189;
			position: absolute;
			right: 13px;
			top: 19px;
		}
	}
	.tour {
		color: #1C1C1C;
		font-weight: bold;
	}
	.selected-variant {
		.maxstr(calc(~"100% - 10px"));
	}
	.list-extended {
		z-index: 1000;
		border-radius: 4px;
		color: #fff;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		display: none;
		border: 1px solid #468189;
		box-shadow: rgba(0, 0, 0, 0.4) 0 6px 20px 5px;
		.hide-block {
			position: absolute;
			right: 0;
			top: 0;
			width: 42px;
			height: 42px;
			z-index: 1;
			transition: .2s;
			&:hover:after {
				border-bottom-color: #eee;
			}
			&:after {
				content: '';
				display: inline-block;
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-bottom: 8px solid #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -6px -4px;
			}
		}
		ul {
			li {
				background: #468189;
				padding: 14px 20px;
				transition: .2s;
				&:hover {
					filter: brightness(1.1);
				}
				&:not(:last-child) {
					border-bottom: 1px solid rgba(255, 255, 255, .5);
				}
				.caption {
					color: #fff;
					.maxstr(100%);
					.tour {
						color: #fff;
					}
				}
			}
		}
	}
}