@import 'reset.css';
.mobile-only {
  display: none;
}
.close-btn {
  display: inline-block;
  background: #468189;
  height: 35px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border-radius: 30px;
  padding: 0 24px;
  transition: .2s;
}
.close-btn:hover {
  color: #fff;
  background: #589da7;
}
.close-btn .icon {
  width: 8px;
  position: relative;
  top: -1px;
  margin-right: 6px;
}
.figure {
  display: inline-block;
  background-position: center;
  background-size: 100%;
}
.figure.white.bishop {
  background-image: url('/img/icons/pieces/bishop_w.svg');
}
.figure.white.crown {
  background-image: url('/img/icons/pieces/crown_w.svg');
}
.figure.white.knight {
  background-image: url('/img/icons/pieces/knight_w.svg');
}
.figure.white.pawn {
  background-image: url('/img/icons/pieces/pawn_w.svg');
}
.figure.white.queen {
  background-image: url('/img/icons/pieces/queen_w.svg');
}
.figure.white.tower {
  background-image: url('/img/icons/pieces/tower_w.svg');
}
.figure.black.bishop {
  background-image: url('/img/icons/pieces/bishop.svg');
}
.figure.black.crown {
  background-image: url('/img/icons/pieces/crown.svg');
}
.figure.black.knight {
  background-image: url('/img/icons/pieces/knight.svg');
}
.figure.black.pawn {
  background-image: url('/img/icons/pieces/pawn.svg');
}
.figure.black.queen {
  background-image: url('/img/icons/pieces/queen.svg');
}
.figure.black.tower {
  background-image: url('/img/icons/pieces/tower.svg');
}
.board {
  width: 248px;
  height: 251px;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 37px;
  position: relative;
  border-bottom: 3px solid #6C5038;
}
.board:hover.standart .cell {
  background-color: #f0d3a6;
}
.board:hover.standart .cell:nth-child(16n+2),
.board:hover.standart .cell:nth-child(16n+4),
.board:hover.standart .cell:nth-child(16n+6),
.board:hover.standart .cell:nth-child(16n+8),
.board:hover.standart .cell:nth-child(16n+9),
.board:hover.standart .cell:nth-child(16n+11),
.board:hover.standart .cell:nth-child(16n+13),
.board:hover.standart .cell:nth-child(16n+15) {
  background-color: #b18461;
}
.board:after {
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  border: 1px solid #468189;
  opacity: 0;
  transition: .2s;
}
.board:before {
  content: '';
  display: block;
  width: 90%;
  height: 100px;
  bottom: -14px;
  left: 5%;
  position: absolute;
  background: rgba(31, 52, 54, 0.3);
  z-index: 1;
  filter: blur(15px);
}
.board.turquoise .cell {
  background-color: #95BCC1;
}
.board.turquoise .cell:nth-child(16n+2),
.board.turquoise .cell:nth-child(16n+4),
.board.turquoise .cell:nth-child(16n+6),
.board.turquoise .cell:nth-child(16n+8),
.board.turquoise .cell:nth-child(16n+9),
.board.turquoise .cell:nth-child(16n+11),
.board.turquoise .cell:nth-child(16n+13),
.board.turquoise .cell:nth-child(16n+15) {
  background-color: #468189;
}
.board.standart .cell {
  background-color: #DDC7A5;
}
.board.standart .cell:nth-child(16n+2),
.board.standart .cell:nth-child(16n+4),
.board.standart .cell:nth-child(16n+6),
.board.standart .cell:nth-child(16n+8),
.board.standart .cell:nth-child(16n+9),
.board.standart .cell:nth-child(16n+11),
.board.standart .cell:nth-child(16n+13),
.board.standart .cell:nth-child(16n+15) {
  background-color: #AE896A;
}
.board .cell {
  position: relative;
  z-index: 2;
  width: 31px;
  height: 31px;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  transition: .2s;
}
.board .cell:nth-child(1),
.board .cell:nth-child(8) {
  background-image: url('/img/icons/pieces/tower.svg');
}
.board .cell:nth-child(2),
.board .cell:nth-child(7) {
  background-image: url('/img/icons/pieces/knight.svg');
}
.board .cell:nth-child(3),
.board .cell:nth-child(6) {
  background-image: url('/img/icons/pieces/bishop.svg');
}
.board .cell:nth-child(4) {
  background-image: url('/img/icons/pieces/crown.svg');
}
.board .cell:nth-child(5) {
  background-image: url('/img/icons/pieces/queen.svg');
}
.board .cell:nth-child(9),
.board .cell:nth-child(10),
.board .cell:nth-child(11),
.board .cell:nth-child(12),
.board .cell:nth-child(13),
.board .cell:nth-child(14),
.board .cell:nth-child(15),
.board .cell:nth-child(16) {
  background-image: url('/img/icons/pieces/pawn.svg');
}
.board .cell:nth-child(49),
.board .cell:nth-child(50),
.board .cell:nth-child(51),
.board .cell:nth-child(52),
.board .cell:nth-child(53),
.board .cell:nth-child(54),
.board .cell:nth-child(55),
.board .cell:nth-child(56) {
  background-image: url('/img/icons/pieces/pawn_w.svg');
}
.board .cell:nth-child(57),
.board .cell:nth-child(64) {
  background-image: url('/img/icons/pieces/tower_w.svg');
}
.board .cell:nth-child(58),
.board .cell:nth-child(63) {
  background-image: url('/img/icons/pieces/knight_w.svg');
}
.board .cell:nth-child(59),
.board .cell:nth-child(62) {
  background-image: url('/img/icons/pieces/bishop_w.svg');
}
.board .cell:nth-child(60) {
  background-image: url('/img/icons/pieces/crown_w.svg');
}
.board .cell:nth-child(61) {
  background-image: url('/img/icons/pieces/queen_w.svg');
}
.board-members {
  text-align: center;
  margin-bottom: 15px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.board-members .member {
  color: #4B4B4B;
  max-width: 114px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
.board-members .member:before {
  content: '';
  display: inline-block;
  width: 10px;
  border-radius: 50%;
  height: 10px;
  box-sizing: border-box;
  box-shadow: inset #fff 0 0 0 2px;
}
.board-members .member.white:before {
  background: #E2CCAC;
}
.board-members .member.black:before {
  background: #AE896A;
}
.auth-popup {
  position: absolute;
  top: 77px;
  background: #468189;
  border-radius: 0 8px 8px 8px;
  padding: 20px 17px;
  text-align: center;
  z-index: 100;
  opacity: 0;
  box-shadow: rgba(47, 91, 97, 0) 0 10px 30px;
  left: 50%;
  width: 270px;
  min-height: 195px;
  margin-left: 339px;
  transition: opacity .2s;
  transform-origin: top right;
  transform: scale(0);
}
.auth-popup .head {
  width: 217px;
  height: 51px;
  background: #ABCBCF;
  position: absolute;
  top: -51px;
  left: 0;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  padding: 4px 0 0 18px;
  cursor: pointer;
}
.auth-popup .head .caption {
  color: #468189;
  font-weight: bold;
  margin-right: 22px;
}
.auth-popup .head img {
  width: 19px;
  position: relative;
  top: -1px;
}
.auth-popup.showed {
  opacity: 1;
  box-shadow: rgba(47, 91, 97, 0.4) 0 10px 30px;
  transform: scale(1);
}
.auth-popup a.btn-transparent {
  border-color: #fff;
  color: #fff;
  font-size: 15px;
  padding: 5px 42px;
  margin-bottom: 17px;
  min-width: 153px;
}
.auth-popup .btns-wr {
  padding-top: 23px;
}
.auth-popup .btns-wr .btn {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  margin-bottom: 16px;
}
.auth-popup .btns-wr .to-reg-btn {
  background: #D8E8EA;
  color: #468189;
  width: 192px;
  margin-bottom: 16px;
}
.auth-popup .btns-wr .to-login-form-btn {
  width: 161px;
  border: 1px solid #fff;
  color: #fff;
}
.auth-popup form {
  display: none;
}
.auth-popup form input {
  height: 48px;
  text-align: center;
  margin-bottom: 12px;
  padding: 0;
}
.auth-popup form button {
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  width: 161px;
  height: 48px;
  text-align: center;
  color: #fff;
  line-height: 48px;
  background: transparent;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 600;
}
.auth-popup form .back-link {
  color: #fff;
  border-bottom: 1px dashed;
  padding-bottom: 5px;
  margin-top: 15px;
  display: inline-block;
  font-size: 16px;
}
.all-page-popup {
  display: none;
  position: absolute;
  top: 110px;
  z-index: 100;
  background: #d9e7e9;
  width: 100%;
  min-height: 100%;
  padding-bottom: 50px;
}
.all-page-popup.showed {
  display: block;
}
.all-page-popup .top-block {
  display: flex;
  align-items: center;
  padding: 0 53px;
  margin-top: 2px;
  margin-bottom: 42px;
}
.all-page-popup .top-block .title {
  font-size: 24px;
  color: #1E1E1E;
}
.all-page-popup .top-block .close-btn {
  top: 5px;
  position: absolute;
  right: 31px;
  padding: 0 27px;
}
.board-info.short {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board-info.short .board-members {
  width: auto;
  margin-bottom: 0;
}
.board-info .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board-info .step {
  text-align: center;
}
.board-info .step .n {
  margin-right: 6px;
}
.board-info .step .white {
  color: #AD9470;
  font-weight: bold;
  margin-right: 5px;
}
.board-info .step .black {
  color: #7A5B42;
  font-weight: bold;
}
.board-info .state {
  min-width: 42px;
  height: 20px;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 20px;
  padding: 0 9px;
  background: #468189;
  font-size: 12px;
  font-weight: 700;
}
.board-info .state .in-process {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.board-info .state .in-process:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  border-color: transparent transparent transparent #ffffff;
  position: relative;
  left: 2px;
}
.board-info .views {
  font-size: 14px;
  color: #4B4B4B;
  min-width: 60px;
}
.board-info .views:before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 10px;
  background: url('/img/icons/icon_view.svg');
  margin-right: 5px;
}
.board-info .date {
  color: #878787;
}
.board-info .row {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin: 0 auto;
}
.parties-table {
  display: none;
  padding-top: 9px;
}
.parties-table li {
  display: flex;
  justify-content: space-between;
  height: 49px;
  align-items: center;
  padding-right: 17px;
  border-radius: 50px;
  margin-bottom: 1px;
}
.parties-table li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.parties-table li:nth-child(2n) {
  background: #D8E8EA;
}
.parties-table li:hover {
  background: #A3BFC2 !important;
}
.parties-table li.selected {
  background: #468189 !important;
}
.parties-table li.selected {
  color: #fff;
}
.parties-table li.selected * {
  color: #fff;
}
.parties-table li.selected .step .white {
  color: #fff !important;
}
.parties-table li.selected .step .black {
  color: #D8E8EA !important;
}
.parties-table li.selected .state:not(.black-win):not(.white-win) {
  background: #fff;
}
.parties-table li.selected .state:not(.black-win):not(.white-win) .score {
  color: #468189;
}
.parties-table li.selected .state:not(.black-win):not(.white-win) .in-process:after {
  border-color: transparent transparent transparent #468189;
}
.parties-table li.selected .views:before {
  filter: brightness(10);
}
.parties-table li.unselected {
  box-shadow: inset #A3BFC2 0 0 0 2px;
}
.parties-table li .board-members {
  margin-bottom: 0;
}
.parties-table li .board-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 328px;
}
.parties-table li .state.white-win {
  background: #AD9470;
}
.parties-table li .state.black-win {
  background: #7A5B42;
}
.parties-table li .star {
  width: 16px;
  height: 16px;
}
.parties-table li .star.gold {
  background: url('/img/icons/star_gold.svg');
}
.parties-table li .star.silver {
  background: url('/img/icons/star_silver.svg');
}
.parties-table li .star.bronze {
  background: url('/img/icons/star_bronze.svg');
}
@media screen and (min-width: 1024px) and (max-width: 1174px) {
  .auth-popup {
    margin: 0;
    left: initial;
    right: 3px;
    width: 250px;
  }
  .all-page-popup {
    top: 126px;
  }
  .all-page-popup .top-block .close-btn {
    right: 20px;
  }
}
@media screen and (max-width: 1174px) {
  .all-page-popup .top-block .close-settings {
    right: 15px;
  }
}
@media screen and (max-width: 1023px) {
  .mobile-only {
    display: block;
  }
  .all-page-popup {
    top: 70px;
  }
  .all-page-popup .top-block {
    display: flex;
    flex-direction: column-reverse;
    margin: 28px 0 37px;
    padding: 0 16px;
  }
  .all-page-popup .top-block .title {
    text-align: center;
    line-height: 1.3;
    padding: 0 15px;
  }
  .all-page-popup .top-block .close-settings {
    position: relative;
    top: 0;
    right: 0;
    max-width: 230px;
    margin: 0 auto 20px;
  }
  .parties-table li {
    padding: 0 15px;
    height: 46px;
    margin: 0 auto 1px;
  }
  .parties-table li .board-members {
    width: auto;
  }
  .parties-table li .board-info {
    width: 90px;
    margin-left: 17px;
  }
  .parties-table li .board-info .step,
  .parties-table li .board-info .views {
    display: none;
  }
}
.index-page header {
  height: 118px;
  background-color: #D8E8EA;
  background-image: url('/img/pattern.svg');
}
.index-page header .title-block .title {
  font-size: 20px;
  margin-bottom: 19px;
}
.index-page header .title-block .info-list {
  display: flex;
}
.index-page header .title-block .info-list li {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.index-page header .title-block .info-list li > a {
  display: flex;
  align-items: center;
}
.index-page header .title-block .info-list li img {
  margin-right: 10px;
}
.index-page header .title-block .info-list li b {
  color: #468189;
}
.index-page header .title-block .info-list li .num {
  margin-left: 6px;
}
.index-page .index-page-content .page-markup {
  padding: 36px;
}
.index-page .index-page-content .page-markup .title {
  margin-bottom: 26px;
}
.index-page .index-page-content .left-block {
  margin-right: 26px !important;
}
.index-page .index-page-content .left-block .title {
  padding-left: 13px;
}
.index-page .index-page-content .news-list li {
  margin-bottom: 5px;
  position: relative;
  padding: 8px 12px 13px;
  line-height: 1.5;
}
.index-page .index-page-content .news-list li.selected {
  background: #D8E8EA;
  border-radius: 8px;
}
.index-page .index-page-content .news-list li .date {
  color: #878787;
  margin-bottom: 4px;
}
.index-page .index-page-content .news-list li .photo {
  margin-bottom: 12px;
  max-width: 100%;
  display: block;
}
.index-page .index-page-content .news-list li .badge {
  background: #468189;
  border-radius: 4px;
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  top: 8px;
  right: 11px;
  padding: 3px 17px;
}
.index-page .index-page-content .tournaments-tab {
  margin-right: 49px !important;
}
.index-page .index-page-content .right-block {
  width: 223px !important;
}
.index-page .index-page-content .right-block .title {
  text-align: center;
}
.index-page .index-page-content .right-block .party {
  max-width: 223px;
  margin: 0 auto 41px;
}
.index-page .index-page-content .right-block .party .board {
  width: 200px;
  height: 203px;
  margin: 0 auto 35px;
}
.index-page .index-page-content .right-block .party .board .cell {
  width: calc(200px / 8);
  height: calc(200px / 8);
}
.index-page .index-page-content .right-block .tournament {
  margin: -8px 0 42px;
  text-align: center;
}
.index-page .index-page-content .right-block .tournament .logo-wr {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  margin: 0 auto 14px;
  border: 2px solid #D8E8EA;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.index-page .index-page-content .right-block .tournament .logo-wr .logo {
  max-height: 60px;
  max-width: 51px;
}
.index-page .index-page-content .right-block .tournament .name {
  font-size: 14px;
  line-height: 20px;
  color: #468189;
  margin-bottom: 18px;
  display: block;
  text-align: center;
}
.index-page .index-page-content .right-block .tournament .row {
  margin-bottom: 17px;
}
.index-page .index-page-content .right-block .tournament .view {
  margin-right: 15px;
  vertical-align: middle;
}
.index-page .index-page-content .right-block .tournament .date {
  color: #878787;
  margin-right: 15px;
  vertical-align: middle;
}
.index-page .index-page-content .right-block .tournament .status,
.index-page .index-page-content .right-block .tournament .level {
  display: inline-block;
}
.index-page .index-page-content .right-block .tournament .status .n,
.index-page .index-page-content .right-block .tournament .level .n {
  margin-right: 3px;
}
.index-page .index-page-content .right-block .tournament .status .value,
.index-page .index-page-content .right-block .tournament .level .value {
  color: #878787;
}
.index-page .index-page-content .right-block .styles-stat {
  line-height: 1.4;
  max-width: 263px;
  margin: 0 auto;
}
.index-page .index-page-content .right-block .styles-stat li {
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;
}
.index-page .index-page-content .right-block .styles-stat li .n {
  width: 192px;
}
.index-page .index-page-content .right-block .styles-stat li .v {
  width: 35px;
  color: #468189;
  text-align: right;
}
@media screen and (min-width: 1024px) and (max-width: 1174px) {
  .index-page header .title-block {
    width: 510px;
  }
  .index-page .page-markup .left-block {
    width: 220px !important;
  }
  .index-page .page-markup .tournaments-tab {
    width: 472px !important;
    margin-right: 19px !important;
  }
}
@media screen and (max-width: 1023px) {
  .index-page header {
    height: 269px;
    margin-bottom: 4px;
  }
  .index-page header .logo {
    margin-bottom: 21px;
  }
  .index-page header .title-block .title {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .index-page header .title-block .info-list {
    flex-direction: column;
  }
  .index-page header .title-block .info-list li {
    margin-bottom: 19px;
  }
  .index-page header .title-block .info-list li .icon-wr {
    width: 28px;
    text-align: center;
    padding-right: 10px;
  }
  .index-page header .title-block .info-list li .icon-wr img {
    display: inline-block;
    margin-right: 0;
  }
  .index-page .page-markup {
    padding: 31px 19px !important;
  }
  .index-page .page-markup .title {
    text-align: center;
  }
  .index-page .page-markup .tournaments-tab {
    margin-right: 0px !important;
  }
  .index-page .page-markup .right-block {
    width: 100% !important;
  }
}
.party-page {
  padding-bottom: 100px;
  position: relative;
}
.party-page:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 410px;
  background: #D8E8EA;
  top: -119px;
  z-index: 1;
}
.party-page .index-page-content {
  z-index: 2;
}
.party-page .top-block {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 32px;
}
.party-page .top-block .all-parties-btn {
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
  width: 140px;
  justify-content: center;
  position: relative;
}
.party-page .top-block .all-parties-btn:after {
  content: '';
  height: 100%;
  width: 1px;
  background: #fff;
  margin-right: 20px;
  position: absolute;
  right: -40px;
  top: 0;
}
.party-page .top-block .all-parties-btn img {
  margin-right: 9px;
}
.party-page .top-block nav {
  max-width: 980px;
  width: calc(100% - 350px);
  overflow: hidden;
  height: 34px;
}
.party-page .top-block nav a {
  display: inline-block;
  color: #468189;
  line-height: 34px;
  transition: .2s;
  font-size: 14px;
  border-radius: 50px;
  text-align: center;
  margin: 0;
  border: 0;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
}
.party-page .top-block nav a:not(:last-child):after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 35px;
  background: #fff;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 0;
}
.party-page .top-block nav a:hover {
  text-decoration: underline;
}
.party-page .top-block nav a:hover {
  background: #ABCBCF;
  text-decoration: none;
  color: #2A464C;
}
.party-page .top-block nav a:hover:after {
  opacity: 0;
}
.party-page .top-block nav a:hover:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 35px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: -1px;
  background: #D8E8EA;
}
.party-page .top-block nav a:hover .close {
  visibility: visible;
  opacity: 1;
}
.party-page .top-block nav a.active {
  color: #4B4B4B;
  font-weight: bold;
  padding: 0 15px;
}
.party-page .top-block nav a .close {
  background: #468189;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 50px 50px 0;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
  box-shadow: #ABCBCF -20px 0 20px;
}
.party-page .top-block nav a .close img {
  filter: brightness(10);
  width: 12px;
}
.party-page .top-block nav a .name {
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
.party-page .top-block nav a .badge {
  display: inline-block;
  background: #468189;
  color: #fff;
  border-radius: 30px;
  line-height: 20px;
  margin-left: 7px;
  padding: 0 9px;
  font-size: 12px;
  font-weight: 700;
}
.party-page .top-block .match-list {
  width: 187px;
}
.party-page .mobile-top-block {
  display: none;
}
.party-page .content-wr {
  display: flex;
  justify-content: space-between;
}
.party-page .content-wr .chess-board-block {
  position: relative;
  width: 550px;
}
.party-page .content-wr .chess-board-block .match-info.mobile-only {
  display: none;
}
.party-page .content-wr .chess-board-block .sponsor-block {
  display: flex;
}
.party-page .content-wr .chess-board-block .sponsor-block .logo {
  margin: 0 24px 0 49px;
}
.party-page .content-wr .chess-board-block .sponsor-block .info .t {
  font-size: 16px;
  color: #4B4B4B;
  font-weight: bold;
  margin: 15px 0 10px;
}
.party-page .content-wr .chess-board-block .sponsor-block .info .name {
  color: #468189;
}
.party-page .content-wr .chess-board-block .match-board-wr {
  position: relative;
  display: flex;
  margin: 37px 0 67px;
  justify-content: center;
  align-items: stretch;
}
.party-page .content-wr .chess-board-block .match-board-wr:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
  left: 50%;
  transition: .2s;
  filter: blur(30px);
  z-index: 1;
  opacity: 0.25;
  background: #1F3436;
  border-radius: 100px;
  max-width: 590px;
  transform: translateX(-50%);
}
.party-page .content-wr .chess-board-block .match-board-wr .board-wr {
  position: relative;
  margin: 0 0 0 48px;
}
.party-page .content-wr .chess-board-block .match-board-wr .ver-l {
  position: absolute;
  height: 100%;
  left: -40px;
}
.party-page .content-wr .chess-board-block .match-board-wr .ver-l li {
  font-size: 12px;
  color: #4B4B4B;
  height: calc(12.5%);
  display: flex;
  align-items: center;
}
.party-page .content-wr .chess-board-block .match-board-wr .hor-l {
  position: absolute;
  width: 100%;
  font-size: .00001px;
  bottom: -40px;
}
.party-page .content-wr .chess-board-block .match-board-wr .hor-l li {
  font-size: 12px;
  color: #4B4B4B;
  width: calc(12.5%);
  display: inline-block;
  text-align: center;
}
.party-page .content-wr .chess-board-block .match-board-wr .board-wr2 {
  position: relative;
  z-index: 2;
  display: block;
}
.party-page .content-wr .chess-board-block .match-board-wr .board-wr2 img {
  display: block;
}
.party-page .content-wr .chess-board-block .match-board-wr .board-wr2:after {
  content: '';
  background: #6C5038;
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  transform: perspective(100px) rotateX(-20deg);
  bottom: -5px;
  transform-origin: top;
}
.party-page .content-wr .chess-board-block .match-board-wr .chance-block {
  display: flex;
  margin-left: 14px;
  position: relative;
  z-index: 1;
}
.party-page .content-wr .chess-board-block .match-board-wr .chance-block .chance-line {
  width: 9px;
  background: #fff;
  border-radius: 3px;
  position: relative;
  margin-right: 11px;
}
.party-page .content-wr .chess-board-block .match-board-wr .chance-block .chance-line .chance {
  background: #8CB1B7;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  transition: .2s;
}
.party-page .content-wr .chess-board-block .match-board-wr .chance-block .ruler {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 24px;
}
.party-page .content-wr .chess-board-block .match-board-wr .chance-block .ruler li {
  font-size: 12px;
  color: #4B4B4B;
  display: flex;
  align-items: center;
}
.party-page .content-wr .right-block {
  width: 664px;
}
.party-page .content-wr .right-block .game-block {
  display: flex;
}
.party-page .content-wr .right-block .game-block .title {
  font-size: 18px;
  color: #1E1E1E;
}
.party-page .content-wr .right-block .game-block .course {
  width: 298px;
}
.party-page .content-wr .right-block .game-block .course .title {
  text-align: center;
  margin-bottom: 17px;
}
.party-page .content-wr .right-block .game-block .course .table-wr {
  width: 278px;
  border-radius: 10px;
  background: #fff;
  margin-left: 10px;
  box-shadow: rgba(70, 129, 137, 0.3) 0 5px 20px 5px;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table {
  padding-right: 4px;
  height: 352px !important;
  overflow-x: hidden !important;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table:not(.scroll-content):not(.scroll-wrapper) {
  overflow-y: scroll !important;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el {
  height: 42px;
  display: flex;
  align-items: center;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el:nth-child(2n+1) {
  background: #D8E8EA;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .number {
  font-size: 12px;
  color: #4B4B4B;
  width: 23px;
  text-align: center;
  margin-right: 0px;
  display: block;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  padding-right: 6px;
  height: 42px;
  transition: background .2s;
  padding-left: 4px;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step:nth-child(1) {
  border-right: 2px solid #fff;
  width: 142px;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step:hover {
  background: #ABCBCF;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step:hover .circle {
  border: 1px solid #fff;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step.selected {
  box-shadow: inset #468189 0 0 0 2px;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step .figure {
  transition: .2s;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-size: 25px;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step .figure.white {
  background-color: #468189;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step .figure.black {
  background-color: #ABCBCF;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step .circle-wr {
  display: inline-block;
  width: 13px;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step .circle-wr .circle {
  border-radius: 50%;
  display: inline-block;
  width: 8px;
  height: 8px;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step .circle-wr .circle.green {
  background: #70C074;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step .circle-wr .circle.red {
  background: #F45E5E;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step .n {
  font-size: 14px;
  color: #468189;
  font-weight: bold;
  width: 28px;
}
.party-page .content-wr .right-block .game-block .course .table-wr .table .table-el .step .score {
  font-size: 14px;
  color: #565656;
}
.party-page .content-wr .right-block .game-block .analysis {
  position: relative;
  padding-left: 29px;
  width: 304px;
}
.party-page .content-wr .right-block .game-block .analysis .slide-btn {
  position: absolute;
  top: -1px;
  right: 0;
  line-height: 24px;
  padding: 0 13px;
}
.party-page .content-wr .right-block .game-block .analysis .slide-btn:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 6px;
  transition: .2s;
}
.party-page .content-wr .right-block .game-block .analysis .slide-btn.slide-up:before {
  border-bottom: 6px solid #468189;
}
.party-page .content-wr .right-block .game-block .analysis .slide-btn.slide-up:after {
  content: 'Свернуть';
}
.party-page .content-wr .right-block .game-block .analysis .slide-btn.slide-up:hover:before {
  border-bottom-color: #fff;
}
.party-page .content-wr .right-block .game-block .analysis .slide-btn.slide-down:before {
  border-top: 6px solid #468189;
}
.party-page .content-wr .right-block .game-block .analysis .slide-btn.slide-down:after {
  content: 'Показать';
}
.party-page .content-wr .right-block .game-block .analysis .slide-btn.slide-down:hover:before {
  border-top-color: #fff;
}
.party-page .content-wr .right-block .game-block .analysis .st {
  font-size: 14px;
  color: #4B4B4B;
}
.party-page .content-wr .right-block .game-block .analysis .t {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.party-page .content-wr .right-block .game-block .analysis .t .bl {
  margin-right: 31px;
}
.party-page .content-wr .right-block .game-block .analysis .t .bl .st {
  margin-bottom: 15px;
}
.party-page .content-wr .right-block .game-block .analysis .t .bl .value {
  color: #468189;
}
.party-page .content-wr .right-block .game-block .analysis .steps {
  margin-top: 21px;
}
.party-page .content-wr .right-block .game-block .analysis .steps li {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 18px;
}
.party-page .content-wr .right-block .game-block .analysis .steps li .num {
  color: #4B4B4B;
  margin-right: 6px;
}
.party-page .content-wr .right-block .game-block .analysis .steps li .white {
  color: #AD9470;
  font-weight: bold;
  margin-right: 1px;
}
.party-page .content-wr .right-block .game-block .analysis .steps li .black {
  color: #7A5B42;
  font-weight: bold;
}
.party-page .content-wr .right-block .btns-wr {
  padding-left: 11px;
  margin-bottom: 31px;
}
.party-page .content-wr .right-block .btns-wr .btn-share {
  margin-right: 22px;
}
.party-page .content-wr .right-block .btns-wr .btn-share .icon {
  margin-right: 6px;
}
.party-page .content-wr .right-block .btns-wr .btn-show-stream {
  padding: 0 24px;
}
.party-page .content-wr .right-block .btns-wr .btn-show-stream .icon {
  margin-right: 4px;
  position: relative;
  top: -1px;
}
.party-page .content-wr .player-btns-wr {
  padding-left: 18px;
  margin-bottom: 30px;
}
.party-page .content-wr .player-btns-wr .b {
  cursor: pointer;
  display: inline-block;
  width: 48px;
  height: 35px;
  position: relative;
  z-index: 6;
  transition: .2s;
  top: 0;
}
.party-page .content-wr .player-btns-wr .b:before {
  content: '';
  display: block;
  width: 80%;
  height: 100%;
  background: #468189;
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 10%;
  filter: blur(8px);
  opacity: 0.4;
}
.party-page .content-wr .player-btns-wr .b:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 4px;
  z-index: 6;
}
.party-page .content-wr .player-btns-wr .b:hover i {
  filter: brightness(0.5);
}
.party-page .content-wr .player-btns-wr .b:active {
  top: 7px;
}
.party-page .content-wr .player-btns-wr .b i {
  transition: .2s;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 7;
  position: relative;
}
.party-page .content-wr .player-btns-wr .b.prev i {
  background-image: url('/img/icons/player_end.svg');
  transform: rotate(180deg);
}
.party-page .content-wr .player-btns-wr .b.to-start i {
  background-image: url('/img/icons/player_next.svg');
  transform: rotate(180deg);
}
.party-page .content-wr .player-btns-wr .b.play i {
  background-image: url('/img/icons/player_play.svg');
}
.party-page .content-wr .player-btns-wr .b.pause i {
  background-image: url('/img/icons/player_pause.svg');
}
.party-page .content-wr .player-btns-wr .b.to-end i {
  background-image: url('/img/icons/player_end.svg');
}
.party-page .content-wr .player-btns-wr .b.next i {
  background-image: url('/img/icons/player_next.svg');
}
.party-page .content-wr .match-info {
  display: flex;
  padding-top: 33px;
  margin-bottom: 32px;
}
.party-page .content-wr .match-info .player {
  height: 98px;
}
.party-page .content-wr .match-info .player:first-child {
  margin-right: 25px;
}
.party-page .content-wr .match-info .player .time {
  font-size: 13px;
  color: #6E6E6E;
  margin-bottom: 7px;
}
.party-page .content-wr .match-info .player .time:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 15px;
  background: url(/img/icons/icon_time.svg);
  margin-right: 8px;
  position: relative;
  top: 1px;
}
.party-page .content-wr .match-info .player .time.time-ends:before {
  background: url('/img/icons/icon_time_less.svg');
}
.party-page .content-wr .match-info .player .info {
  display: flex;
  padding-left: 8px;
  align-items: flex-start;
}
.party-page .content-wr .match-info .player .info .photo-wr {
  position: relative;
  border: 4px solid #FFFFFF;
  box-shadow: 0 2px 14px 0 #ABCBCF;
  border-radius: 50%;
  margin-right: 9px;
}
.party-page .content-wr .match-info .player .info .photo-wr .photo {
  border-radius: 50%;
  display: block;
  width: 50px;
  height: 50px;
}
.party-page .content-wr .match-info .player .info .photo-wr .color {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  width: 14px;
  height: 14px;
  right: 2px;
  bottom: -2px;
}
.party-page .content-wr .match-info .player .info .photo-wr .color.white {
  background: #E4CAA3;
}
.party-page .content-wr .match-info .player .info .photo-wr .color.black {
  background: #AE896A;
}
.party-page .content-wr .match-info .player .info .r .name {
  display: block;
  font-size: 16px;
  color: #000000;
  margin: 5px 0 10px;
  line-height: 1.4;
  max-width: 200px;
}
.party-page .content-wr .match-info .player .info .r .name:hover {
  text-decoration: underline;
}
.party-page .content-wr .match-info .player .info .r .stat {
  color: #565656;
  font-size: 14px;
}
.party-page .content-wr .match-info .player .info .r .stat .stars {
  margin-right: 14px;
}
.party-page .content-wr .match-info .player .info .r .stat .stars:before {
  content: '';
  display: inline-block;
  width: 13.3px;
  height: 12.7px;
  background: url('/img/icons/icon_rate.svg');
  margin-right: 4px;
  position: relative;
  top: 1px;
}
.party-page .content-wr .match-info .player .info .r .stat .location:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 13px;
  background: url('/img/icons/icon_location.svg');
  background-size: cover;
  margin-right: 6px;
  position: relative;
  top: 1px;
}
.party-page .stream-popup {
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 25px;
  width: 578px;
  position: absolute;
  z-index: 100;
  display: none;
  top: 60px;
  left: 50%;
  margin-left: -40px;
  box-shadow: 0 23px 36px 0 rgba(0, 0, 0, 0.26);
}
.party-page .stream-popup .head {
  height: 35px;
  background: #468189;
  border-radius: 10px 10px 0 0;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.party-page .stream-popup .head .min {
  margin-right: 15px;
}
.party-page .stream-popup .head .close {
  margin-right: 15px;
}
@media screen and (min-width: 1024px) and (max-width: 1174px) {
  .party-page:before {
    top: -135px;
  }
  .party-page .top-block nav {
    max-width: 840px;
  }
  .party-page .content-wr .chess-board-block {
    width: 440px;
  }
  .party-page .content-wr .chess-board-block img {
    max-width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .party-page .top-block {
    display: none;
  }
  .party-page .mobile-top-block {
    padding: 0 13px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    position: relative;
    max-width: 510px;
  }
  .party-page .mobile-top-block .arrow {
    transform: rotate(-45deg);
    border-left: 2px solid #468189;
    border-top: 2px solid #468189;
    width: 20px;
    height: 20px;
    margin: 13px 0;
  }
  .party-page .mobile-top-block .arrow.arrow-next {
    transform: rotate(135deg);
  }
  .party-page .mobile-top-block .match {
    position: relative;
    display: flex;
    height: 43px;
    align-items: center;
    border-bottom: 1px solid #5A9096;
    width: calc(100% - 50px);
    padding-left: 15px;
  }
  .party-page .mobile-top-block .match .member {
    display: inline-block;
    color: #4B4B4B;
    font-weight: bold;
    max-width: calc((100% - 30px)/2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .party-page .mobile-top-block .match .member:before {
    content: '';
    display: inline-block;
    border: 2px solid #FFFFFF;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    box-sizing: border-box;
  }
  .party-page .mobile-top-block .match .member.white:before {
    background: #E2CCAC;
  }
  .party-page .mobile-top-block .match .member.black:before {
    background: #AE896A;
  }
  .party-page .mobile-top-block .match .del {
    margin: 0 3px;
  }
  .party-page .mobile-top-block .match-block {
    height: 44px;
    border: 1px solid #468189;
    border-radius: 4px;
    padding: 0 9px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: calc(100% - 50px);
  }
  .party-page .mobile-top-block .match-block .del {
    color: #4B4B4B;
  }
  .party-page .mobile-top-block .match-block .notification {
    cursor: pointer;
    background: url(/img/icons/icon_notify.svg) left center no-repeat;
    height: 25px;
    width: 47px;
    position: relative;
  }
  .party-page .mobile-top-block .match-block .notification:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #468189;
    position: absolute;
    right: 0;
    top: 10px;
  }
  .party-page .mobile-top-block .match-block-extended {
    z-index: 1000;
    border-radius: 4px;
    background: #468189;
    color: #fff;
    position: absolute;
    width: calc(100% - 76px);
    left: 38px;
    padding-bottom: 8px;
    display: none;
    border: 1px solid #468189;
    box-shadow: rgba(0, 0, 0, 0.4) 0 6px 20px 5px;
  }
  .party-page .mobile-top-block .match-block-extended .scroll-wrapper > .scroll-element {
    background: transparent;
  }
  .party-page .mobile-top-block .match-block-extended .match .member {
    color: #fff;
  }
  .party-page .mobile-top-block .match-block-extended .hide-match-block {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    right: 11px;
    top: 17px;
  }
  .party-page .mobile-top-block .match-block-extended .current-match {
    cursor: pointer;
  }
  .party-page .mobile-top-block .match-block-extended .matches {
    max-height: 220px;
  }
  .party-page .mobile-top-block .match-block-extended .matches a {
    color: #5A9096;
    text-decoration: none;
  }
  .party-page .mobile-top-block .match-block-extended .matches a .del {
    color: #fff;
  }
  .party-page .mobile-top-block .match-block-extended .matches a .match {
    width: calc(100% - 20px);
    padding-right: 50px;
  }
  .party-page .mobile-top-block .match-block-extended .matches a .match .member {
    font-weight: normal;
  }
  .party-page .mobile-top-block .match-block-extended .status {
    color: #fff;
    border-radius: 100px;
    line-height: 21px;
    padding: 0 10px;
    background: #A2C0C4;
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    top: 10px;
  }
  .party-page .mobile-top-block .match-block-extended .all-parties-btn {
    background: #D8E8EA;
    margin: 5px auto;
    display: block;
    max-width: 200px;
  }
  .party-page .content-wr {
    display: block;
  }
  .party-page .content-wr .chess-board-block {
    width: 100%;
  }
  .party-page .content-wr .chess-board-block .match-info.mobile-only {
    display: flex;
    justify-content: space-between;
    padding: 14px 32px 0;
    max-width: 300px;
    margin: 0 auto 7px;
  }
  .party-page .content-wr .chess-board-block .match-info.mobile-only .player {
    height: auto;
  }
  .party-page .content-wr .chess-board-block .match-board-wr {
    margin: 8px 0 47px;
  }
  .party-page .content-wr .chess-board-block .match-board-wr:before {
    z-index: 2;
  }
  .party-page .content-wr .chess-board-block .match-board-wr .board-wr {
    max-width: 440px;
    margin: 0px 0 0 30px;
  }
  .party-page .content-wr .chess-board-block .match-board-wr .board-wr .board-img {
    max-width: 100%;
  }
  .party-page .content-wr .chess-board-block .match-board-wr .ver-l {
    left: -19px;
  }
  .party-page .content-wr .chess-board-block .match-board-wr .hor-l {
    bottom: -21px;
  }
  .party-page .content-wr .chess-board-block .match-board-wr .chance-block {
    margin-left: 0;
    width: 40px;
    max-width: 32px;
  }
  .party-page .content-wr .chess-board-block .match-board-wr .chance-block .chance-line {
    border-radius: 0;
    margin-right: 0;
    width: 100%;
  }
  .party-page .content-wr .chess-board-block .match-board-wr .chance-block .ruler {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 7px;
    left: 0;
  }
  .party-page .content-wr .chess-board-block .player-btns-wr {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 auto 47px;
    width: 283px;
  }
  .party-page .content-wr .chess-board-block .sponsor-block {
    display: flex;
    align-items: center;
    padding: 0 12px;
    justify-content: space-between;
    width: 320px;
    margin: 0 auto 39px;
  }
  .party-page .content-wr .chess-board-block .sponsor-block .logo {
    margin: 0;
    width: 128px;
  }
  .party-page .content-wr .chess-board-block .sponsor-block .info {
    width: 155px;
  }
  .party-page .content-wr .chess-board-block .sponsor-block .info .t {
    margin: 0px 0 6px;
  }
  .party-page .content-wr .chess-board-block .sponsor-block .info .name {
    line-height: 1.4;
  }
  .party-page .content-wr .right-block {
    width: 100%;
  }
  .party-page .content-wr .right-block .match-info,
  .party-page .content-wr .right-block .btns-wr {
    display: none;
  }
  .party-page .content-wr .right-block .game-block {
    display: block;
  }
  .party-page .content-wr .right-block .game-block .course {
    display: none;
  }
  .party-page .content-wr .right-block .game-block .analysis {
    width: 100%;
    padding: 0 15px;
    max-width: 500px;
    margin: 0 auto;
  }
  .party-page .content-wr .right-block .game-block .analysis .slide-up {
    right: 15px;
  }
}
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}
.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.scroll-element {
  display: none;
  box-sizing: content-box;
}
.scroll-element div {
  box-sizing: content-box;
}
.scroll-element .scroll-bar {
  cursor: default;
}
.scroll-element .scroll-arrow {
  cursor: default;
}
.scroll-element.scroll-x.scroll-scrollx_visible {
  display: block;
}
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}
.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.scroll-wrapper > .scroll-element {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
  background-color: #fff;
}
.scroll-wrapper > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.scroll-wrapper > .scroll-element .scroll-element_outer {
  overflow: hidden;
  border-radius: 8px;
}
.scroll-wrapper > .scroll-element .scroll-element_track {
  background-color: #D8E8EA;
  border-radius: 8px;
}
.scroll-wrapper > .scroll-element .scroll-bar {
  border-radius: 8px;
  background: #ABCBCF;
}
.scroll-wrapper > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2;
}
.scroll-wrapper > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 12px;
}
.scroll-wrapper > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 5px;
}
.scroll-wrapper > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px;
}
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
}
.scroll-wrapper > .scroll-content.scroll-scrolly_visible {
  left: 0;
  margin-left: 0;
}
.scroll-wrapper > .scroll-content.scroll-scrollx_visible {
  top: 0;
  margin-top: 0;
}
.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -14px;
}
.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px;
}
.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -14px;
}
.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px;
}
.settings-block .top-block {
  justify-content: space-between;
  padding: 0 35px 0 48px;
}
.settings-block .top-block .close-btn {
  position: relative;
  top: 0;
  right: 0;
}
.settings-block .variants-wr {
  width: 100%;
}
.settings-block .variants {
  flex-wrap: wrap;
  display: flex;
  padding-left: 50px;
}
.settings-block .variants li {
  cursor: pointer;
  margin-right: 60px;
  margin-bottom: 51px;
}
.settings-block .variants li:nth-child(4n+4) {
  margin-right: 0;
}
.settings-block .variants li:hover .board:after {
  opacity: 1;
}
.settings-block .variants li.selected .name:before {
  opacity: 1;
}
.settings-block .variants li .name {
  text-align: center;
  font-size: 16px;
  color: #1E1E1E;
}
.settings-block .variants li .name:before {
  content: '';
  background: #468189;
  border: 2px solid #FFFFFF;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-right: 10px;
  position: relative;
  top: -1px;
  opacity: 0;
  transition: .2s;
}
@media screen and (max-width: 1174px) {
  .settings-block .variants {
    width: 100%;
  }
  .settings-block .variants li {
    margin-right: 80px;
  }
}
@media screen and (max-width: 1023px) {
  .settings-block .variants-wr {
    width: 100%;
  }
  .settings-block .variants-wr .variants {
    width: 100%;
  }
  .settings-block .variants-wr .variants li {
    margin: 0 auto 30px;
  }
}
.btn {
  background: #468189;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #468189;
  transition: .2s;
}
.btn:hover {
  background: transparent;
  color: #468189;
}
button {
  cursor: pointer;
}
input {
  background: #FFFFFF;
  border: 1px solid #468189;
  border-radius: 30px;
  height: 54px;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  font-size: 16px;
  color: #797979;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.btn-transparent {
  border: 1px solid #468189;
  border-radius: 100px;
  display: inline-block;
  text-decoration: none !important;
  cursor: pointer;
  color: #468189;
  text-align: center;
  line-height: 33px;
  padding: 0 17px;
  font-size: 12px;
  transition: .2s;
  font-weight: 600;
}
.btn-transparent:hover {
  background: #468189 !important;
  color: #fff !important;
}
.btn-transparent:hover .icon {
  filter: grayscale(1) brightness(2);
}
.btn-transparent .icon {
  transition: filter .2s;
  vertical-align: middle;
}
.selector {
  height: 44px;
  box-shadow: inset #468189 0 0 0 1px;
  border-radius: 4px;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 21px;
  font-size: 14px;
}
.selector .expand-block:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #468189;
  position: absolute;
  right: 13px;
  top: 19px;
}
.selector .tour {
  color: #1C1C1C;
  font-weight: bold;
}
.selector .selected-variant {
  max-width: calc(100% - 10px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
.selector .list-extended {
  z-index: 1000;
  border-radius: 4px;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  display: none;
  border: 1px solid #468189;
  box-shadow: rgba(0, 0, 0, 0.4) 0 6px 20px 5px;
}
.selector .list-extended .hide-block {
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  z-index: 1;
  transition: .2s;
}
.selector .list-extended .hide-block:hover:after {
  border-bottom-color: #eee;
}
.selector .list-extended .hide-block:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px -4px;
}
.selector .list-extended ul li {
  background: #468189;
  padding: 14px 20px;
  transition: .2s;
}
.selector .list-extended ul li:hover {
  filter: brightness(1.1);
}
.selector .list-extended ul li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.selector .list-extended ul li .caption {
  color: #fff;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
.selector .list-extended ul li .caption .tour {
  color: #fff;
}
.reg-page {
  padding-bottom: 127px;
}
.reg-page .page-title {
  font-size: 20px;
  color: #1C1C1C;
  text-align: center;
  font-weight: normal;
  margin: -5px 0 22px;
}
.reg-page .signin-form {
  text-align: center;
  width: 350px;
  margin: 0 auto;
}
.reg-page .signin-form .pic {
  margin-bottom: 9px;
  cursor: pointer;
}
.reg-page .signin-form .n1 {
  font-size: 14px;
  color: #797979;
  margin-bottom: 45px;
}
.reg-page .signin-form button {
  width: 264px;
}
@media screen and (max-width: 1023px) {
  .reg-page .signin-form {
    width: 100%;
    padding: 0 20px;
  }
}
.info-page {
  padding-bottom: 100px;
}
.info-page.tour-open-page .page-markup .left-block {
  margin-right: 22px;
}
.info-page.tour-open-page .page-markup .middle-block {
  width: 618px;
  margin-right: 27px;
}
.info-page.tour-open-page .page-markup .middle-block > .title {
  padding-left: 25px;
}
.info-page.tour-open-page .page-markup .middle-block .parties-boards {
  padding-left: 25px;
}
.info-page .title {
  font-size: 18px;
  color: #1E1E1E;
  margin-bottom: 19px;
}
.info-page .top-block-wr {
  background: #D8E8EA;
  height: 338px;
  margin: -127px 0 0;
  padding-top: 149px;
}
.info-page .top-block-wr .top-block {
  display: flex;
  padding: 0 31px 0 41px;
}
.info-page .top-block-wr .info-bl.info-bl1 {
  width: 313px;
}
.info-page .top-block-wr .info-bl.info-bl2 {
  width: 303px;
}
.info-page .top-block-wr .info-bl .title {
  margin-bottom: 27px;
}
.info-page .top-block-wr .params li {
  margin-bottom: 14px;
  font-size: 14px;
}
.info-page .top-block-wr .params li .n {
  color: #4B4B4B;
  font-weight: 600;
  margin-right: 8px;
}
.info-page .top-block-wr .params li .v {
  color: #468189;
}
.info-page .top-block-wr .sponsor-block {
  text-align: center;
  width: 240px;
  margin-right: 62px;
}
.info-page .top-block-wr .sponsor-block .logo {
  margin: -6px 0 4px;
}
.info-page .top-block-wr .sponsor-block .name {
  font-size: 14px;
  color: #468189;
  line-height: 1.3;
}
.info-page .top-block-wr .toggle-info-btn {
  display: none;
}
.info-page .top-block-wr .member-block {
  width: 252px;
  text-align: center;
  margin-top: -39px;
}
.info-page .top-block-wr .member-block .photo {
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 14px 0 #ABCBCF;
  margin-bottom: 11px;
}
.info-page .top-block-wr .member-block .name {
  font-size: 16px;
  color: #000000;
  margin-bottom: 13px;
}
.info-page .top-block-wr .member-block .rating {
  font-size: 14px;
  color: #565656;
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
  justify-content: center;
}
.info-page .top-block-wr .member-block .rating .podium {
  font-size: 0;
  margin-right: 7px;
}
.info-page .top-block-wr .member-block .rating .podium i {
  display: inline-block;
  vertical-align: bottom;
  width: 3px;
  background: #468189;
  margin-right: 1px;
}
.info-page .top-block-wr .member-block .rating .podium i:nth-child(1) {
  height: 7px;
}
.info-page .top-block-wr .member-block .rating .podium i:nth-child(2) {
  height: 11px;
}
.info-page .top-block-wr .member-block .rating .podium i:nth-child(3) {
  height: 6px;
}
.info-page .top-block-wr .member-block .logout {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.info-page .top-block-wr .member-block .logout .icon {
  margin-right: 3px;
  position: relative;
  top: 2px;
  left: -4px;
}
.info-page .top-block-wr .member-block .logout span {
  color: #468189;
  font-weight: 600;
  border-bottom: 1px dashed;
  padding-bottom: 4px;
}
.info-page .top-block-wr .member-block .btn-signin {
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  width: 252px;
  margin-bottom: 19px;
  margin-top: 51px;
}
.info-page .top-block-wr .member-block .btn-signup {
  height: 50px;
  width: 176px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
}
.info-page .top-block-wr .timer-block {
  text-align: center;
  width: 228px;
  position: relative;
  top: -24px;
}
.info-page .top-block-wr .timer-block .timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-page .top-block-wr .timer-block .timer li {
  position: relative;
}
.info-page .top-block-wr .timer-block .timer li:before {
  content: '';
  display: block;
  width: 80%;
  height: 30px;
  bottom: -8px;
  left: 10%;
  position: absolute;
  background: rgba(71, 130, 138, 0.7);
  z-index: 1;
  filter: blur(7px);
}
.info-page .top-block-wr .timer-block .timer li:not(:last-child):after {
  content: ':';
  position: absolute;
  font-size: 40px;
  color: #468189;
  font-weight: bold;
  right: -20px;
  top: 15px;
}
.info-page .top-block-wr .timer-block .timer li span {
  z-index: 2;
  display: block;
  position: relative;
  background: #FFFFFF;
  border: 1px solid #ABCBCF;
  border-radius: 4px;
  width: 58px;
  height: 60px;
  text-align: center;
  font-size: 32px;
  color: #1C1C1C;
  font-weight: bold;
  line-height: 58px;
}
.info-page .top-block-wr .timer-block .send-request-btn {
  font-size: 15px;
  font-weight: normal;
  line-height: 38px;
  height: 40px;
  padding: 0;
  width: 100%;
  margin-top: 23px;
}
.info-page .page-markup .left-block .tours {
  margin: 0 0 33px -12px;
}
.info-page .page-markup .left-block .tours li {
  position: relative;
  font-size: 16px;
  color: #1C1C1C;
  height: 35px;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  padding-left: 12px;
  width: 241px;
}
.info-page .page-markup .left-block .tours li.current:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #70C074;
  margin-left: 9px;
}
.info-page .page-markup .left-block .tours li.selected {
  background: #DBEAEC;
}
.info-page .page-markup .left-block .tours li.selected:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18.5px 0 18.5px 16px;
  border-color: transparent transparent transparent #dbeaec;
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
}
.info-page .page-markup .left-block .tours li a {
  font-weight: 600;
  color: #468189;
}
.info-page .page-markup .left-block .tours li a:hover {
  text-decoration: underline;
}
.info-page .page-markup .left-block .tours li .date {
  font-size: 14px;
  color: #797979;
}
.info-page .page-markup .left-block .comments {
  margin: 22px 0 25px;
}
.info-page .page-markup .left-block .comments li {
  border-bottom: 1px solid #EEF5F5;
  padding-bottom: 7px;
  margin-bottom: 13px;
}
.info-page .page-markup .left-block .comments li .name {
  font-size: 12px;
  color: #ABCBCF;
  font-weight: 600;
  margin-bottom: 3px;
}
.info-page .page-markup .left-block .comments li .message {
  font-size: 14px;
  color: #4B4B4B;
  line-height: 1.4;
}
.info-page .page-markup .left-block .comments-note {
  font-size: 14px;
  color: #797979;
  line-height: 1.4;
}
.info-page .page-markup .middle-block {
  position: relative;
}
.info-page .page-markup .middle-block .mobile-tours-block {
  display: none;
}
.info-page .page-markup .middle-block .parties-boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 29px 0;
}
.info-page .page-markup .middle-block .parties-boards li {
  margin: 0 0 40px;
}
.info-page .page-markup .middle-block .tours-list.selector {
  margin-bottom: 30px;
  display: none;
}
.info-page .page-markup .middle-block .form {
  text-align: center;
  width: 427px;
  margin: 0 auto;
}
.info-page .page-markup .middle-block .form .title {
  font-size: 20px;
  color: #1C1C1C;
}
.info-page .page-markup .middle-block .form .title a {
  font-size: 20px;
  color: #468189;
  font-weight: 600;
  border-bottom: 1px dashed;
}
.info-page .page-markup .middle-block .form .pic {
  cursor: pointer;
}
.info-page .page-markup .middle-block .form .n1 {
  max-width: 200px;
  margin: -3px auto 29px;
  line-height: 1.4;
  color: #797979;
}
.info-page .page-markup .middle-block .form button {
  width: 264px;
}
.info-page .page-markup .middle-block .signup-form {
  display: none;
}
.info-page .page-markup .middle-block .signup-form .title {
  margin-bottom: 39px;
}
.info-page .page-markup .middle-block .switch-mode-block {
  position: absolute;
  top: 0;
  right: 31px;
  display: flex;
  align-items: center;
}
.info-page .page-markup .middle-block .switch-mode-block .switcher {
  position: relative;
  width: 92px;
  height: 28px;
  border-radius: 50px;
  overflow: hidden;
  background: #D8E8EA;
  display: flex;
  align-items: center;
  margin-left: 13px;
  transition: .2s;
}
.info-page .page-markup .middle-block .switch-mode-block .switcher:hover {
  filter: brightness(1.05);
}
.info-page .page-markup .middle-block .switch-mode-block .switcher:before {
  content: '';
  position: absolute;
  z-index: 1;
  background: #468189;
  width: 50px;
  height: 100%;
  transition: .2s;
  border-radius: 50px;
  left: 0;
  top: 0;
}
.info-page .page-markup .middle-block .switch-mode-block .switcher.boards div:first-child img {
  transform: rotate(90deg);
}
.info-page .page-markup .middle-block .switch-mode-block .switcher.table:before {
  left: 42px;
}
.info-page .page-markup .middle-block .switch-mode-block .switcher.table div:last-child img {
  filter: grayscale(1) brightness(10);
}
.info-page .page-markup .middle-block .switch-mode-block .switcher > div {
  width: 50%;
  position: relative;
  z-index: 2;
  text-align: center;
  cursor: pointer;
}
.info-page .page-markup .right-block .title2 {
  text-align: center;
  line-height: 1.4;
  margin-top: -3px;
}
.info-page .page-markup .right-block .tournament-table {
  margin-top: -6px;
}
.info-page .page-markup .right-block .tournament-table li {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
  padding: 11px 0;
}
.info-page .page-markup .right-block .tournament-table li .member-col {
  font-size: 14px;
  color: #565656;
  width: 161px;
  padding-left: 11px;
  line-height: 1.4;
}
.info-page .page-markup .right-block .tournament-table li .col {
  width: 40px;
}
.info-page .login-popup {
  position: absolute;
  top: -30px;
  right: 23px;
  background: #468189;
  border-radius: 10px;
  width: 273px;
  height: 234px;
  padding: 34px;
  text-align: center;
  z-index: 100;
  transition: .2s;
  opacity: 0;
  transform: scale(0);
  box-shadow: rgba(47, 91, 97, 0) 0 10px 30px;
}
.info-page .login-popup:before {
  display: none;
}
.info-page .login-popup.showed {
  opacity: 1;
  transform: scale(1);
  box-shadow: rgba(47, 91, 97, 0.4) 0 10px 30px;
}
.info-page .login-popup .close {
  position: absolute;
  top: 13px;
  right: 13px;
}
.info-page .login-popup .close img {
  width: 18px;
}
@media screen and (max-width: 1023px) {
  .info-page {
    padding-bottom: 50px;
  }
  .info-page.tour-open-page .page-markup .middle-block {
    width: 100%;
  }
  .info-page .top-block-wr {
    margin-top: -32px;
    padding-top: 39px;
    height: auto;
    padding-bottom: 30px;
  }
  .info-page .top-block-wr .top-block {
    display: block;
    padding: 0 20px;
  }
  .info-page .top-block-wr .top-block .sponsor-block {
    display: none;
    width: 260px;
    margin: 40px auto;
  }
  .info-page .top-block-wr .top-block .timer-block {
    width: 228px;
    margin: 0 auto;
  }
  .info-page .top-block-wr .top-block .info-bl {
    display: none;
    width: 220px;
    margin: 40px auto;
  }
  .info-page .top-block-wr .top-block .toggle-info-btn {
    margin: 43px auto 0;
    height: 39px;
    line-height: 39px;
    width: 169px;
    display: block;
    background: transparent !important;
    color: #468189 !important;
  }
  .info-page .top-block-wr .top-block .toggle-info-btn:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #468189;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 3px;
    transition: .2s;
    left: -5px;
  }
  .info-page .top-block-wr .top-block .toggle-info-btn:after {
    content: 'Подробнее';
  }
  .info-page .top-block-wr .top-block .toggle-info-btn.expanded:before {
    border-top: none;
    border-bottom: 6px solid #468189;
  }
  .info-page .top-block-wr .top-block .toggle-info-btn.expanded:after {
    content: 'Свернуть';
  }
  .info-page .top-block-wr .member-block {
    width: 100%;
    margin-top: 0px;
  }
  .info-page .top-block-wr .member-block .btn-signin {
    margin-top: 0;
  }
  .info-page .page-markup .left-block .tours-title,
  .info-page .page-markup .left-block .tours {
    display: none;
  }
  .info-page .page-markup .middle-block .parties {
    justify-content: center;
  }
  .info-page .page-markup .middle-block .parties li {
    margin: 0 15px 27px;
  }
  .info-page .page-markup .middle-block .parties-title {
    display: none;
  }
  .info-page .page-markup .middle-block .parties-boards {
    padding: 0;
    justify-content: center;
  }
  .info-page .page-markup .middle-block .parties-boards li {
    margin: 0 20px 40px;
  }
  .info-page .page-markup .middle-block .tours-list.selector {
    display: flex;
    justify-content: center;
  }
  .info-page .page-markup .middle-block .mobile-tours-block {
    display: block;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .title {
    text-align: center;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block {
    position: relative;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block.expanded .tour-block {
    border-radius: 4px 4px 0 0;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block.expanded .tour-block:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #468189;
    border-top: transparent;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block .tour-block {
    border: 1px solid #468189;
    border-radius: 4px;
    height: 44px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block .tour-block:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #468189;
    position: absolute;
    right: 13px;
    top: 18px;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block .tours-list {
    display: none;
    position: absolute;
    z-index: 100;
    background: #fff;
    width: 100%;
    border: 1px solid #468189;
    line-height: 3;
    padding: 10px 13px;
    border-top: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px;
    text-align: center;
  }
  .info-page .page-markup .middle-block .mobile-tours-block .mobile-tours-block .date {
    color: #797979;
  }
  .info-page .page-markup .middle-block .form {
    width: 100%;
  }
  .info-page .page-markup .middle-block .form .title {
    line-height: 1.5;
  }
  .info-page .page-markup .middle-block .form .title .or {
    display: block;
  }
  .info-page .page-markup .middle-block .switch-mode-block {
    position: relative;
    right: initial;
    width: 100%;
    justify-content: center;
  }
}
.club-page .top-block-wr {
  margin: -150px 0 0;
  height: 384px;
}
.club-page .top-block-wr .top-block .club-block {
  margin-right: 47px;
}
.club-page .top-block-wr .top-block .club-block .logo {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  background: #fff;
  border: 7px solid #ABCBCF;
  margin-bottom: 13px;
}
.club-page .top-block-wr .top-block .club-block .logo img {
  max-width: 100%;
  max-height: 100%;
}
.club-page .top-block-wr .top-block .club-block .rating {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.club-page .top-block-wr .top-block .club-block .rating i {
  width: 14px;
  height: 14px;
  background: url('/img/icons/icon_star_empty.svg');
}
.club-page .top-block-wr .top-block .club-block .rating[data-rating="1"] i:nth-child(1),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="2"] i:nth-child(1),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="3"] i:nth-child(1),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="4"] i:nth-child(1),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="5"] i:nth-child(1) {
  background-image: url('/img/icons/icon_star_full.svg');
}
.club-page .top-block-wr .top-block .club-block .rating[data-rating="2"] i:nth-child(2),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="3"] i:nth-child(2),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="4"] i:nth-child(2),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="5"] i:nth-child(2) {
  background-image: url('/img/icons/icon_star_full.svg');
}
.club-page .top-block-wr .top-block .club-block .rating[data-rating="3"] i:nth-child(3),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="4"] i:nth-child(3),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="5"] i:nth-child(3) {
  background-image: url('/img/icons/icon_star_full.svg');
}
.club-page .top-block-wr .top-block .club-block .rating[data-rating="4"] i:nth-child(4),
.club-page .top-block-wr .top-block .club-block .rating[data-rating="5"] i:nth-child(4) {
  background-image: url('/img/icons/icon_star_full.svg');
}
.club-page .top-block-wr .top-block .club-block .rating[data-rating="5"] i:nth-child(5) {
  background-image: url('/img/icons/icon_star_full.svg');
}
.club-page .top-block-wr .top-block .title {
  font-size: 16px;
}
.club-page .top-block-wr .top-block .info-bl {
  padding-top: 5px;
}
.club-page .top-block-wr .top-block .tournament-info {
  width: 268px;
  padding-top: 5px;
  margin-right: 72px;
}
.club-page .top-block-wr .top-block .tournament-info .title {
  margin-bottom: 22px;
}
.club-page .top-block-wr .top-block .tournament-info .info-list li {
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
}
.club-page .top-block-wr .top-block .tournament-info .info-list li .icon-wr {
  width: 20px;
  text-align: center;
}
.club-page .top-block-wr .top-block .tournament-info .info-list li .n {
  width: 220px;
}
.club-page .top-block-wr .top-block .tournament-info .info-list li .v {
  color: #468189;
  font-weight: 700;
}
.club-page .top-block-wr .top-block .stats-info {
  padding-top: 5px;
  width: 230px;
  margin-right: 76px;
}
.club-page .top-block-wr .top-block .stats-info .title {
  margin-bottom: 19px;
}
.club-page .top-block-wr .top-block .stats-info .stats-list li {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.club-page .top-block-wr .top-block .stats-info .stats-list li .n {
  width: 150px;
  line-height: 1.45;
}
.club-page .top-block-wr .top-block .stats-info .stats-list li .v {
  font-size: 28px;
  color: #468189;
  font-weight: bold;
}
.club-page .top-block-wr .top-block .best-player-block {
  width: 332px;
  text-align: left;
  margin-top: 5px;
}
.club-page .top-block-wr .top-block .best-player-block .title {
  margin-bottom: 21px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info {
  display: flex;
  align-items: flex-start;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .photo {
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 14px 0 #ABCBCF;
  margin-bottom: 11px;
  width: 67px;
  height: 67px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .info {
  width: 240px;
  margin-left: 18px;
  padding-top: 15px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .info .name {
  font-size: 16px;
  color: #4B4B4B;
  margin-bottom: 13px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .info .rating {
  margin-right: 14px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .info .rating:before {
  content: '';
  background-image: url('/img/icons/icon_star_full.svg');
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 4px;
}
.club-page .top-block-wr .top-block .best-player-block .member-info .info .location:before {
  content: '';
  background-image: url('/img/icons/icon_location.svg');
  display: inline-block;
  width: 10px;
  height: 13px;
  background-size: 100%;
  margin-right: 6px;
}
.club-page .top-block-wr .top-block .best-player-block .show-profile-btn {
  margin: 5px 11px 0 78px;
  display: block;
  height: 39px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 700;
}
.club-page .page-markup {
  padding: 41px 20px 0 18px;
}
.club-page .page-markup .title {
  margin-bottom: 20px;
}
.club-page .page-markup .gamers-rating-tab .gamers-rating-list {
  width: 275px;
  margin-top: -12px;
}
.club-page .page-markup .gamers-rating-tab .gamers-rating-list li {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.4;
  min-height: 50px;
}
.club-page .page-markup .gamers-rating-tab .gamers-rating-list li .gamer-name {
  width: 153px;
}
.club-page .page-markup .gamers-rating-tab .gamers-rating-list li .games-count {
  width: 40px;
  text-align: center;
}
.club-page .page-markup .gamers-rating-tab .gamers-rating-list li .points {
  width: 40px;
  text-align: center;
}
.club-page .page-markup .gamers-rating-tab .show-more-btn {
  margin: 42px 0 0 16px;
  display: block;
  line-height: 37px;
  font-size: 14px;
}
.club-page .page-markup .forum-news-tab {
  width: 255px;
}
.club-page .page-markup .forum-news-tab .forum-news-list {
  margin-top: 27px;
}
.club-page .page-markup .forum-news-tab .forum-news-list li {
  padding-bottom: 8px;
  margin-bottom: 14px;
  border-bottom: 1px solid #eff5f5;
}
.club-page .page-markup .forum-news-tab .forum-news-list li .date-time {
  font-size: 12px;
  color: #ABCBCF;
  font-weight: 700;
  margin-bottom: 4px;
}
.club-page .page-markup .forum-news-tab .forum-news-list li .message {
  font-size: 14px;
  line-height: 1.4;
}
.club-page .page-markup .forum-news-tab .show-more-btn {
  margin: 33px auto;
  display: block;
  line-height: 37px;
  font-size: 14px;
  width: 242px;
}
@media screen and (min-width: 1024px) and (max-width: 1174px) {
  .club-page .top-block-wr .top-block .club-block {
    margin-right: 40px;
  }
  .club-page .top-block-wr .top-block .tournament-info {
    width: 228px;
    padding-top: 5px;
    margin-right: 40px;
  }
  .club-page .top-block-wr .top-block .tournament-info .info-list li {
    margin-bottom: 15px;
    align-items: flex-start;
  }
  .club-page .top-block-wr .top-block .tournament-info .info-list li .n {
    width: 180px;
    line-height: 1.2;
  }
  .club-page .top-block-wr .top-block .stats-info {
    width: 210px;
    margin-right: 40px;
  }
  .club-page .top-block-wr .top-block .best-player-block {
    width: 267px;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .info {
    width: 240px;
    margin-left: 18px;
    padding-top: 0;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .info .name {
    line-height: 1.3;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .info .rating {
    display: block;
    margin: 0 0 10px;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .info .location {
    display: block;
    margin-bottom: 10px;
  }
  .club-page .top-block-wr .top-block .best-player-block .show-profile-btn {
    margin: 5px 11px 0 0;
  }
  .club-page .page-markup .tournaments-tab {
    width: 416px;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .info {
    width: 311px;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .info .stage {
    display: block;
    margin: 10px 0;
    width: 100px;
    text-align: center;
  }
  .club-page .page-markup .forum-news-tab {
    width: 230px;
  }
}
@media screen and (max-width: 1023px) {
  .club-page .top-block-wr {
    margin: -32px 0 0px;
    height: auto;
  }
  .club-page .top-block-wr .top-block {
    display: block;
    padding: 0 20px;
  }
  .club-page .top-block-wr .top-block .title {
    text-align: center;
  }
  .club-page .top-block-wr .top-block .club-block {
    text-align: center;
    margin: 0 auto 34px;
    width: 130px;
  }
  .club-page .top-block-wr .top-block .club-block .logo {
    margin: 0 auto 10px;
  }
  .club-page .top-block-wr .top-block .tournament-info {
    width: 100%;
    padding: 5px 6px;
    max-width: 290px;
    margin: 0 auto 13px;
  }
  .club-page .top-block-wr .top-block .tournament-info .title {
    margin-bottom: 26px;
  }
  .club-page .top-block-wr .top-block .stats-info {
    width: 100%;
    margin: 0 auto 12px;
    padding: 4px 7px;
    max-width: 290px;
  }
  .club-page .top-block-wr .top-block .stats-info .stats-list li {
    margin-bottom: 19px;
  }
  .club-page .top-block-wr .top-block .best-player-block {
    width: 100%;
    margin: 0;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info {
    display: block;
    text-align: center;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .info {
    width: 100%;
    margin: 0;
  }
  .club-page .top-block-wr .top-block .best-player-block .member-info .photo {
    width: 86px;
    height: 86px;
    margin: 0 auto -2px;
    display: block;
  }
  .club-page .top-block-wr .top-block .best-player-block .show-profile-btn {
    margin: 21px auto;
    width: 240px;
  }
  .club-page .top-block-wr .top-block .toggle-info-btn {
    display: none;
  }
  .club-page .page-markup {
    padding: 30px 20px;
  }
  .club-page .page-markup .gamers-rating-tab .gamers-rating-list {
    width: 100%;
  }
  .club-page .page-markup .tournaments-tab {
    width: 100%;
    margin: 0;
  }
  .club-page .page-markup .tournaments-tab .title {
    display: block;
    text-align: center;
    margin: -8px 0 30px;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list {
    margin: 0;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .logo-wr {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .logo-wr img {
    height: 100%;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .info {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .club-page .page-markup .tournaments-tab .tournaments-list li .info .stage {
    display: block;
    width: 90px;
    text-align: center;
    margin: 20px auto 0;
  }
  .club-page .page-markup .forum-news-tab {
    width: 100%;
  }
}
.page-3col-markup .tabs-selector {
  display: none;
}
.page-3col-markup .page-markup {
  display: flex;
  padding: 43px 20px 0 36px;
}
.page-3col-markup .page-markup .tab-block > .title {
  font-size: 18px;
  color: #1E1E1E;
  line-height: 28px;
  font-weight: 600;
}
.page-3col-markup .page-markup .left-block {
  width: 261px;
  margin-right: 46px;
}
.page-3col-markup .page-markup .middle-block {
  width: 561px;
  margin-right: 57px;
}
.page-3col-markup .page-markup .right-block {
  width: 272px;
}
.page-3col-markup .page-markup .show-more-btn {
  margin: 33px auto;
  display: block;
  line-height: 37px;
  font-size: 14px;
  width: 242px;
}
@media screen and (min-width: 1024px) {
  .page-3col-markup .page-markup .tab-block {
    display: block !important;
  }
}
@media screen and (max-width: 1023px) {
  .page-3col-markup .tabs-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D8E8EA;
    height: 50px;
    padding: 0 15px;
    color: #468189;
    font-weight: 600;
  }
  .page-3col-markup .tabs-selector .tab {
    cursor: pointer;
  }
  .page-3col-markup .tabs-selector .tab[data-tab="1"] {
    display: none;
  }
  .page-3col-markup .tabs-selector .tab:before,
  .page-3col-markup .tabs-selector .tab:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    display: none;
  }
  .page-3col-markup .tabs-selector .tab:before {
    border-width: 5px 6.5px 5px 0;
    border-color: transparent #468189 transparent transparent;
    margin-right: 10px;
  }
  .page-3col-markup .tabs-selector .tab:after {
    border-width: 5px 0 5px 6.5px;
    border-color: transparent transparent transparent #468189;
    margin-left: 10px;
  }
  .page-3col-markup .tabs-selector .tab:nth-child(1):before {
    display: inline-block;
  }
  .page-3col-markup .tabs-selector .tab:nth-child(2):after {
    display: inline-block;
  }
  .page-3col-markup .page-markup {
    display: block;
    padding: 30px 20px;
  }
  .page-3col-markup .page-markup .tab-block {
    width: 100%;
    margin: 0;
    display: none;
  }
  .page-3col-markup .page-markup .tab-block[data-tab='1'] {
    display: block;
  }
  .page-3col-markup .page-markup .tab-block > .title {
    text-align: center;
    padding: 0 !important;
  }
}
.tournaments-tab {
  width: 624px !important;
  margin-right: 40px !important;
}
.tournaments-tab .tournaments-list li {
  margin-bottom: 29px;
  display: flex;
  align-items: flex-start;
}
.tournaments-tab .tournaments-list li .logo-wr {
  border-radius: 50%;
  width: 78px;
  height: 78px;
  overflow: hidden;
  text-align: center;
  margin-right: 25px;
}
.tournaments-tab .tournaments-list li .info {
  width: calc(100% - 110px);
  padding-top: 2px;
}
.tournaments-tab .tournaments-list li .info .name {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
  display: block;
}
.tournaments-tab .tournaments-list li .info .row {
  margin-bottom: 9px;
}
.tournaments-tab .tournaments-list li .info .bottom {
  display: flex;
  align-items: center;
}
.tournaments-tab .tournaments-list li .info .view {
  margin-right: 15px;
  vertical-align: middle;
}
.tournaments-tab .tournaments-list li .info .date {
  color: #878787;
  margin-right: 15px;
  vertical-align: middle;
}
.tournaments-tab .tournaments-list li .info .status,
.tournaments-tab .tournaments-list li .info .level {
  display: inline-block;
}
.tournaments-tab .tournaments-list li .info .status .n,
.tournaments-tab .tournaments-list li .info .level .n {
  margin-right: 3px;
}
.tournaments-tab .tournaments-list li .info .status .value,
.tournaments-tab .tournaments-list li .info .level .value {
  color: #878787;
}
.tournaments-tab .tournaments-list li .info .badge {
  display: inline-block;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 9px;
  margin-left: 20px;
  border: 1px solid #468189;
  min-width: 85px;
}
.tournaments-tab .tournaments-list li .info .badge.passes {
  background: #468189;
  color: #fff;
}
.tournaments-tab .tournaments-list li .info .badge.ended {
  color: #797979;
  border: 1px solid #979797;
}
.tournaments-tab .tournaments-list li .info .badge.online {
  color: #468189;
}
.tournaments-tab .tournaments-list li .info .badge.online:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #F45E5E;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  top: -1px;
  left: -1px;
  margin-right: 4px;
}
@media screen and (max-width: 1023px) {
  .tournaments-tab {
    width: 100% !important;
  }
  .tournaments-tab .tournaments-list li {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .tournaments-tab .tournaments-list li .logo-wr {
    margin: 0 auto 10px;
    border: 2px solid #D8E8EA;
    width: 104px;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .tournaments-tab .tournaments-list li .info {
    width: 100%;
    text-align: center;
  }
  .tournaments-tab .tournaments-list li .info .bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .tournaments-tab .tournaments-list li .info .bottom .status {
    width: 100%;
    margin-bottom: 16px;
  }
  .tournaments-tab .tournaments-list li .info .bottom .badge {
    margin: 0 5px;
  }
}
.parties-popup {
  /*position: relative;
    top: 0;
    margin-top: -32px;*/
}
.parties-popup .top-block .tours-list {
  margin-left: 27px;
  width: 223px;
  top: 3px;
}
.parties-popup .top-block .tours-list .caption {
  color: #797979;
}
.parties-popup .top-block .tours-list .caption .tour {
  color: #1C1C1C;
  font-weight: bold;
}
.parties-popup .top-block .tours-list .list-extended ul li .caption {
  color: #fff;
}
.parties-popup .top-block .tours-list .list-extended ul li .caption .tour {
  color: #fff;
}
.parties-popup .current-parties .title {
  font-size: 28px;
  color: #1E1E1E;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 52px;
  text-align: center;
}
.parties-popup .current-parties .parties-table {
  display: block;
  column-count: 2;
  padding: 0 53px 50px;
  column-gap: 64px;
  position: relative;
}
.parties-popup .current-parties .parties-table li {
  cursor: pointer;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  max-width: 543px;
}
.parties-popup .current-parties .parties-table li:nth-child(2n) {
  background: #fff;
}
@media screen and (max-width: 1023px) {
  .parties-popup .top-block {
    flex-direction: column;
    margin: 10px 0;
  }
  .parties-popup .top-block .title {
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: bold;
  }
  .parties-popup .top-block .tours-list {
    margin-left: 0;
    top: 0;
    margin-bottom: 20px;
  }
  .parties-popup .top-block .close-btn {
    position: relative;
    top: 0;
    right: 0;
    margin: 18px 0 27px;
    height: 44px;
    font-size: 15px;
    line-height: 44px;
    padding: 0 41px;
  }
  .parties-popup .current-parties .title {
    display: none;
  }
  .parties-popup .current-parties .parties-table {
    column-count: 1;
    padding: 0 15px;
  }
}
.inline-middle {
  display: inline-block;
  vertical-align: middle;
}
.inline-top {
  display: inline-block;
  vertical-align: top;
}
.posrel {
  position: relative;
}
.posabs {
  position: absolute;
}
.fullsize {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.font0 {
  font-size: .00001px;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  color: #4B4B4B;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}
body.menu-opened {
  overflow: hidden;
  height: 100%;
}
body .body-wrapper {
  min-height: 100%;
  margin: 0 auto;
}
body .body-wrapper .body-content {
  padding-bottom: 178px;
}
.center-block {
  max-width: 1256px;
  position: relative;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #468189;
  transition: color .2s;
}
a.blue {
  color: #468189;
}
a.blue:hover {
  color: #000;
}
a:hover {
  color: #26555B;
}
main {
  flex: 1;
}
header {
  position: relative;
  height: 119px;
  z-index: 3;
}
header .logo {
  position: absolute;
  top: 26px;
  left: 48px;
}
header .title-block {
  position: absolute;
  top: 32px;
  left: 226px;
  width: 710px;
}
header .title-block .tournament,
header .title-block .tour {
  font-size: 20px;
  line-height: 1.5;
}
header .title-block .tour {
  color: #468189;
}
header .title-block .p {
  display: inline-block;
}
header .title-block .date {
  font-size: 14px;
  color: #878787;
  display: inline-block;
  margin: 0 10px;
}
header .title-block .views {
  font-size: 14px;
  color: #4B4B4B;
}
header .title-block .views:before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 10px;
  background: url('/img/icons/icon_view.svg');
  margin-right: 5px;
}
header .title-block .rating {
  font-size: 14px;
  margin-top: 6px;
}
header .title-block .rating .n {
  color: #4B4B4B;
  font-weight: bold;
}
header .title-block .rating .value {
  color: #468189;
}
header .icons-block {
  display: flex;
  position: absolute;
  right: 35px;
  top: 40px;
  justify-content: space-between;
}
header .icons-block > a:not(:first-child) {
  margin-left: 25px;
}
header .icons-block a:hover img,
header .icons-block a.selected img {
  filter: brightness(0.3);
}
header .icons-block img {
  transition: filter .2s;
  width: 25px;
}
header .icons-block .open-forum img {
  width: 28px;
}
header .icons-block .open-menu {
  position: relative;
  top: 3px;
}
header .icons-block .our-shop-btn {
  position: relative;
  top: -4px;
  height: 34px;
  width: 157px;
  font-size: 14px;
}
header .icons-block .our-shop-btn:hover .discount {
  background: #D8E8EA;
  color: #468189;
}
header .icons-block .our-shop-btn img {
  width: 12px;
  margin-right: 9px;
  filter: brightness(1) !important;
}
header .icons-block .our-shop-btn .discount {
  background: #468189;
  width: 23px;
  height: 23px;
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -12px;
  right: -1px;
  border: 1px solid #468189;
  transition: .2s;
}
header .messenger {
  position: absolute;
  top: 33px;
  right: 76px;
  background: #468189;
  border-radius: 10px;
  width: 256px;
  height: 403px;
  color: #fff;
  z-index: 10000;
  opacity: 0;
  box-shadow: rgba(70, 129, 137, 0.3) 0 5px 20px 5px;
  transform-origin: top right;
  transform: scale(0);
  transition: opacity, transform .2s;
}
header .messenger.showed {
  transform: scale(1);
  opacity: 1;
}
header .messenger .title {
  font-size: 16px;
  font-weight: bold;
  padding: 17px 20px 22px;
  cursor: move;
}
header .messenger .icon-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}
header .messenger .icon-close img {
  width: 25px;
  filter: grayscale(1) brightness(2);
}
header .messenger .messages {
  height: 281px;
  margin-bottom: 20px;
  overflow-y: auto;
}
header .messenger .messages > .scroll-element.scroll-y {
  background-color: transparent;
  right: 10px;
}
header .messenger .messages > .scroll-element .scroll-element_track {
  background: #38696F;
}
header .messenger .messages li {
  width: 233px;
  padding: 7px 23px;
  line-height: 1.4;
}
header .messenger .messages li:not(:last-child) {
  border-bottom: 1px solid #5A9096;
}
header .messenger .messages li.step-message {
  background: #38696F;
}
header .messenger .messages li.step-message .text {
  display: flex;
  align-items: center;
}
header .messenger .messages li.step-message .name {
  font-weight: bold;
  color: #fff;
}
header .messenger .messages li.step-message .figure {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
header .messenger .messages li .name {
  font-size: 12px;
  color: #ABCBCF;
  font-weight: bold;
  margin-bottom: 1px;
}
header .messenger .my-name {
  font-size: 12px;
  color: #ABCBCF;
  font-weight: bold;
  padding: 0 0 6px 21px;
}
header .messenger .my-message {
  background: #38696F;
  border-radius: 0 0 10px 10px;
  height: 48px;
  padding: 0 12px 0 23px;
}
header .messenger .my-message input {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  border: 0;
  background: transparent;
  color: #fff;
  font-size: 14px;
  width: 184px;
}
header .messenger .my-message .btn-send {
  display: inline-block;
  width: 30px;
  text-align: center;
  padding: 15px 0;
  transition: .2s;
}
header .messenger .my-message .btn-send:hover {
  filter: brightness(10);
}
footer {
  position: relative;
  margin-top: -178px;
  height: 178px;
  background: #468189;
  color: #fff;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #ABCBCF;
}
footer .top-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 27px 61px 34px 55px;
}
footer .top-block nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 62px;
  margin-bottom: 11px;
}
footer .top-block nav a {
  font-size: 16px;
}
footer .bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 61px 0 58px;
}
footer .bottom-block .copy {
  color: #D8E8EA;
}
footer .bottom-block ul {
  display: flex;
  align-items: center;
}
footer .bottom-block .sn li a:hover img {
  filter: brightness(10);
}
footer .bottom-block .sn li img {
  margin: 0 13px;
}
footer .bottom-block .email {
  font-size: 16px;
  font-weight: bold;
}
.desktop-sidebar-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.desktop-sidebar-menu.opened .menu-sidebar {
  transform: translateX(0%);
  opacity: 1;
}
.desktop-sidebar-menu .menu-sidebar {
  width: 320px;
  color: #fff;
  padding: 10px 18px;
  background-color: #468189;
  background-image: url('/img/pattern2.svg');
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  box-shadow: #468189 0 0 25px;
  transform: translateX(100%);
  transition: .4s;
  opacity: 0;
}
.desktop-sidebar-menu .menu-sidebar .icons {
  position: absolute;
  top: 29px;
  right: 24px;
  display: flex;
  align-items: center;
}
.desktop-sidebar-menu .menu-sidebar .icons .open-user img {
  filter: brightness(10);
}
.desktop-sidebar-menu .menu-sidebar .icons .close {
  margin-left: 22px;
}
.desktop-sidebar-menu .menu-sidebar .icons .close img {
  width: 22px;
  height: 22px;
}
.desktop-sidebar-menu .menu-sidebar .nav-wr {
  overflow: auto;
  height: calc(100vh - 110px);
}
.desktop-sidebar-menu .menu-sidebar .scroll-wrapper > .scroll-element.scroll-y {
  background: transparent;
}
.desktop-sidebar-menu .menu-sidebar nav {
  padding-top: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop-sidebar-menu .menu-sidebar nav a {
  font-size: 21px;
  color: #fff;
  transition: .2s;
  border-bottom: 1px solid transparent;
  padding: 20px 0;
}
.desktop-sidebar-menu .menu-sidebar nav a:hover {
  color: #D8E8EA;
}
.menu-overflow {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
}
@media screen and (min-width: 1024px) and (max-width: 1174px) {
  .center-block {
    width: 100%;
    padding: 0 15px;
  }
  header {
    height: 127px;
  }
  header .title-block {
    width: 580px;
  }
  header .icons-block {
    right: 15px;
  }
  .desktop-sidebar-menu .current-parties-wr {
    width: 715px;
  }
  .desktop-sidebar-menu .current-parties-wr .games .game {
    margin: 0 96px 36px 0;
  }
}
@media screen and (max-width: 1023px) {
  .center-block {
    width: 100%;
  }
  body.menu-opened {
    overflow: auto;
    height: auto;
  }
  body.menu-opened .body-wrapper .body-content {
    padding-bottom: 0;
  }
  body.menu-opened header,
  body.menu-opened main,
  body.menu-opened footer {
    display: none;
  }
  header {
    height: auto;
    background: #D8E8EA;
    padding-top: 10px;
    margin-bottom: 32px;
  }
  header .auth-popup {
    margin-left: 0;
    left: initial;
    width: 250px;
    top: 67px;
    right: 18px;
  }
  header .messenger {
    top: 10px;
    right: 49px;
  }
  header .logo {
    left: 0;
    position: relative;
    display: block;
    margin-left: 18px;
    top: 0;
    margin-bottom: 13px;
    width: 160px;
  }
  header .title-block {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 18px;
  }
  header .title-block .tournament {
    font-size: 16px;
  }
  header .title-block .tour {
    font-size: 16px;
  }
  header .title-block .p {
    display: block;
    margin-top: 12px;
  }
  header .title-block .p .date {
    margin: 0 13px 0 0;
  }
  header .icons-block {
    right: 14px;
    top: 20px;
  }
  header .icons-block .our-shop-btn {
    display: none;
  }
  header .icons-block .open-settings {
    display: none;
  }
  footer {
    height: auto;
    padding-bottom: 44px;
  }
  footer .top-block {
    display: block;
    padding: 0;
  }
  footer .top-block .logo {
    display: none;
  }
  footer .top-block nav {
    margin: 0 auto 5px;
    flex-direction: column;
    align-items: center;
    line-height: 2.9;
    padding: 19px;
  }
  footer .top-block nav a {
    font-size: 18px;
  }
  footer .bottom-block {
    position: relative;
    height: 140px;
    display: block;
    padding: 0;
  }
  footer .bottom-block .sn {
    justify-content: center;
  }
  footer .bottom-block .sn li img {
    max-height: 18px;
    margin: 0 14px;
  }
  footer .bottom-block .copy,
  footer .bottom-block .privacy,
  footer .bottom-block .email {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  footer .bottom-block .copy {
    top: 130px;
  }
  footer .bottom-block .privacy {
    top: 89px;
  }
  footer .bottom-block .email {
    top: 45px;
    font-weight: normal;
  }
  .desktop-sidebar-menu {
    transform: none;
    position: relative;
    height: auto;
  }
  .desktop-sidebar-menu.opened .menu-sidebar {
    transform: none;
  }
  .desktop-sidebar-menu .current-parties {
    display: none;
  }
  .desktop-sidebar-menu .menu-sidebar {
    transform: none;
    width: 100%;
    transition: none;
    position: relative;
    height: auto;
  }
  .desktop-sidebar-menu .menu-sidebar .icons {
    top: 30px;
    right: 15px;
  }
  .desktop-sidebar-menu .menu-sidebar .icons .close {
    margin-left: 26px;
  }
  .desktop-sidebar-menu .menu-sidebar .title {
    margin-bottom: 68px;
  }
  .desktop-sidebar-menu .menu-sidebar .nav-wr {
    height: auto;
  }
  .desktop-sidebar-menu .menu-sidebar nav {
    padding-bottom: 50px;
  }
  .desktop-sidebar-menu .menu-sidebar nav a {
    text-transform: uppercase;
    font-size: 18px;
    padding: 15px 0;
  }
}
