@import 'reset.css';
@import 'common.less';
@import 'index.less';
@import 'party.less';
@import 'scroll.less';
@import 'settings.less';
@import 'input.less';
@import 'reg.less';
@import 'info.less';
@import 'club.less';
@import 'page-3col-markup.less';
@import 'tournaments-list.less';
@import 'parties-popup';

@blue: #468189;
@light-blue: #D8E8EA;

.maxstr(@width) {
    max-width: @width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

//mixins
.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.inline-top {
    display: inline-block;
    vertical-align: top;
}

.posrel {
    position: relative;
}

.posabs {
    position: absolute;
}

.fullsize {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.font0 {
    font-size: .00001px;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    color: #4B4B4B;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;

    &.menu-opened {
        overflow: hidden;
        height: 100%;
    }

    .body-wrapper {
        min-height: 100%;
        margin: 0 auto;
        .body-content {
            padding-bottom: 178px;
        }
    }
}

.center-block {
    max-width: 1256px;
    position: relative;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #468189;
    transition: color .2s;
    &.blue {
        color: @blue;
        &:hover {
            color: #000;
        }
    }
    &:hover {
        color: #26555B;
    }
}

main {
    flex: 1;
}

header {
    position: relative;
    height: 119px;
    z-index: 3;
    .logo {
        position: absolute;
        top: 26px;
        left: 48px;
    }
    .title-block {
        position: absolute;
        top: 32px;
        left: 226px;
        width: 710px;
        .tournament, .tour {
            font-size: 20px;
            line-height: 1.5;
        }
        .tour {
            color: @blue;
        }
        .p {
            display: inline-block;
        }
        .date {
            font-size: 14px;
            color: #878787;
            display: inline-block;
            margin: 0 10px;
        }
        .views {
            font-size: 14px;
            color: #4B4B4B;
            &:before {
                content: '';
                display: inline-block;
                width: 17px;
                height: 10px;
                background: url('/img/icons/icon_view.svg');
                margin-right: 5px;
            }
        }
        .rating {
            font-size: 14px;
            margin-top: 6px;
            .n {
                color: #4B4B4B;
                font-weight: bold;
            }
            .value {
                color: #468189;
            }
        }
    }

    .icons-block {
        display: flex;
        position: absolute;
        right: 35px;
        top: 40px;
        justify-content: space-between;
        > a:not(:first-child) {
            margin-left: 25px;
        }
        a {
            &:hover, &.selected {
                img {
                    filter: brightness(0.3);
                }
            }
        }
        img {
            transition: filter .2s;
            width: 25px;
        }
        .open-forum {
            img {
                width: 28px;
            }
        }
        .open-menu {
            position: relative;
            top: 3px;
        }
        .our-shop-btn {
            position: relative;
            top: -4px;
            height: 34px;
            width: 157px;
            font-size: 14px;
            &:hover {
                .discount {
                    background: #D8E8EA;
                    color: #468189;
                }
            }
            img {
                width: 12px;
                margin-right: 9px;
                filter: brightness(1) !important;
            }
            .discount {
                background: #468189;
                width: 23px;
                height: 23px;
                position: absolute;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                top: -12px;
                right: -1px;
                border: 1px solid #468189;
                transition: .2s;
            }
        }
    }
    .messenger {
        position: absolute;
        top: 33px;
        right: 76px;
        background: #468189;
        border-radius: 10px;
        width: 256px;
        height: 403px;
        color: #fff;
        z-index: 10000;
        opacity: 0;
        box-shadow: rgba(70, 129, 137, 0.3) 0 5px 20px 5px;
        transform-origin: top right;
        transform: scale(0);
        transition: opacity, transform .2s;
        &.showed {
            transform: scale(1);
            opacity: 1;
        }
        .title {
            font-size: 16px;
            font-weight: bold;
            padding: 17px 20px 22px;
            cursor: move;
        }
        .icon-close {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 15px;
            img {
                width: 25px;
                filter: grayscale(1) brightness(2);
            }
        }
        .messages {
            height: 281px;
            margin-bottom: 20px;
            overflow-y: auto;
            > .scroll-element.scroll-y {
                background-color: transparent;
                right: 10px;
            }
            > .scroll-element .scroll-element_track {
                background: #38696F;
            }
            li {
                width: 233px;
                padding: 7px 23px;
                line-height: 1.4;
                &:not(:last-child) {
                    border-bottom: 1px solid #5A9096;
                }
                &.step-message {
                    background: #38696F;
                    .text {
                        display: flex;
                        align-items: center;
                    }
                    .name {
                        font-weight: bold;
                        color: #fff;
                    }
                    .figure {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                }
                .name {
                    font-size: 12px;
                    color: #ABCBCF;
                    font-weight: bold;
                    margin-bottom: 1px;
                }
            }
        }
        .my-name {
            font-size: 12px;
            color: #ABCBCF;
            font-weight: bold;
            padding: 0 0 6px 21px;
        }
        .my-message {
            background: #38696F;
            border-radius: 0 0 10px 10px;
            height: 48px;
            padding: 0 12px 0 23px;
            input {
                display: inline-block;
                font-family: 'Open Sans', sans-serif;
                border: 0;
                background: transparent;
                color: #fff;
                font-size: 14px;
                width: 184px;
            }
            .btn-send {
                display: inline-block;
                width: 30px;
                text-align: center;
                padding: 15px 0;
                transition: .2s;
                &:hover {
                    filter: brightness(10);
                }
            }
        }
    }
}

footer {
    position: relative;
    margin-top: -178px;
    height: 178px;
    background: #468189;
    color: #fff;
    a {
        color: #fff;
        &:hover {
            color: #ABCBCF;
        }
    }
    .top-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 27px 61px 34px 55px;
        .logo {

        }
        nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-left: 62px;
            margin-bottom: 11px;
            a {
                font-size: 16px;
            }
        }
    }
    .bottom-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 61px 0 58px;
        .copy {
            color: #D8E8EA;
        }
        ul {
            display: flex;
            align-items: center;
            li {

            }
        }
        .sn {
            li {
                a:hover {
                    img {
                        filter: brightness(10);
                    }
                }
                img {
                    margin: 0 13px;
                }
            }
        }
        .email {
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.desktop-sidebar-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    &.opened {
        .menu-sidebar {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    .menu-sidebar {
        width: 320px;
        color: #fff;
        padding: 10px 18px;
        background-color: #468189;
        background-image: url('/img/pattern2.svg');
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        box-shadow: #468189 0 0 25px;
        transform: translateX(100%);
        transition: .4s;
        opacity: 0;
        .logo {

        }
        .icons {
            position: absolute;
            top: 29px;
            right: 24px;
            display: flex;
            align-items: center;
            .open-user {
                img {
                    filter: brightness(10);
                }
            }
            .close {
                margin-left: 22px;
                img {
                    width: 22px;
                    height: 22px;
                }
            }
        }
        .nav-wr {
            overflow: auto;
            height: calc(~"100vh - 110px");
        }
        .scroll-wrapper > .scroll-element.scroll-y {
            background: transparent;
        }
        nav {
            padding-top: 19px;
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                font-size: 21px;
                color: #fff;
                transition: .2s;
                border-bottom: 1px solid transparent;
                padding: 20px 0;
                &:hover {
                    color: @light-blue;
                }
            }
        }
    }
}

.menu-overflow {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
}

@media screen  and (min-width: 1024px) and (max-width: 1174px) {
    .center-block {
		width: 100%;
        padding: 0 15px;
    }

    header {
		height: 127px;
        .title-block {
            width: 580px;
        }
        .icons-block {
            right: 15px;
        }
    }

    .desktop-sidebar-menu .current-parties-wr {
        width: 715px;
        .games .game {
            margin: 0 96px 36px 0;
        }
    }
}

@media screen and (max-width: 1023px) {
    .center-block {
        width: 100%;
    }

    body {
        &.menu-opened {
            overflow: auto;
            height: auto;
            .body-wrapper .body-content {
                padding-bottom: 0;
            }
            header, main, footer {
                display: none;
            }
        }
    }

    header {
        height: auto;
        background: #D8E8EA;
        padding-top: 10px;
        margin-bottom: 32px;
        .auth-popup {
            margin-left: 0;
            left: initial;
            width: 250px;
            top: 67px;
            right: 18px;
        }
        .messenger {
            top: 10px;
            right: 49px;
        }
        .logo {
            left: 0;
            position: relative;
            display: block;
            margin-left: 18px;
            top: 0;
            margin-bottom: 13px;
            width: 160px;
        }
        .title-block {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0 18px;
            .tournament {
                font-size: 16px;
            }
            .tour {
                font-size: 16px;
            }
            .p {
                display: block;
                margin-top: 12px;
                .date {
                    margin: 0 13px 0 0;
                }
            }
        }
        .icons-block {
            right: 14px;
            top: 20px;
            .our-shop-btn {
                display: none;
            }
            .open-settings {
                display: none;
            }
        }
    }

    footer {
        height: auto;
        padding-bottom: 44px;
        .top-block {
            display: block;
            padding: 0;
            .logo {
                display: none;
            }
            nav {
                margin: 0 auto 5px;
                flex-direction: column;
                align-items: center;
                line-height: 2.9;
                padding: 19px;
                a {
                    font-size: 18px;
                }
            }
        }
        .bottom-block {
            position: relative;
            height: 140px;
            display: block;
            padding: 0;
            .sn {
                justify-content: center;
                li {
                    img {
                        max-height: 18px;
                        margin: 0 14px;
                    }
                }
            }
            .copy, .privacy, .email {
                position: absolute;
                width: 100%;
                text-align: center;
            }
            .copy {
                top: 130px;
            }
            .privacy {
                top: 89px;
            }
            .email {
                top: 45px;
                font-weight: normal;
            }
        }
    }

    .desktop-sidebar-menu {
        transform: none;
        position: relative;
        height: auto;
        &.opened {
            .menu-sidebar {
                transform: none;
            }
        }
        .current-parties {
            display: none;
        }
        .menu-sidebar {
            transform: none;
            width: 100%;
            transition: none;
            position: relative;
            height: auto;
            .icons {
                top: 30px;
                right: 15px;
                .close {
                    margin-left: 26px;
                }
            }
            .title {
                margin-bottom: 68px;
            }
            .nav-wr {
                height: auto;;
            }
            nav {
                padding-bottom: 50px;
                a {
                    text-transform: uppercase;
                    font-size: 18px;
                    padding: 15px 0;
                }
            }
        }
    }
}