.page-3col-markup {
    .tabs-selector {
        display: none;
    }

    .page-markup {
        display: flex;
        padding: 43px 20px 0 36px;
        .tab-block {
            > .title {
                font-size: 18px;
                color: #1E1E1E;
                line-height: 28px;
                font-weight: 600;
            }
        }
        .left-block {
            width: 261px;
            margin-right: 46px;
        }
        .middle-block {
            width: 561px;
            margin-right: 57px;
        }
        .right-block {
            width: 272px;
        }

        //кнопка "показать еще"
        .show-more-btn {
            margin: 33px auto;
            display: block;
            line-height: 37px;
            font-size: 14px;
            width: 242px;
        }
    }

    @media screen and (min-width: 1024px) {
        .page-markup .tab-block {
            display: block !important;
        }
    }

    @media screen and (max-width: 1023px) {

        .tabs-selector {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #D8E8EA;
            height: 50px;
            padding: 0 15px;
            color: #468189;
            font-weight: 600;
            .tab {
                cursor: pointer;
                &[data-tab="1"] {
                    display: none;
                }
                &:before, &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    display: none;
                }
                &:before {
                    border-width: 5px 6.5px 5px 0;
                    border-color: transparent #468189 transparent transparent;
                    margin-right: 10px;
                }
                &:after {
                    border-width: 5px 0 5px 6.5px;
                    border-color: transparent transparent transparent #468189;
                    margin-left: 10px;
                }
                &:nth-child(1):before {
                    display: inline-block;
                }
                &:nth-child(2):after {
                    display: inline-block;
                }
            }
        }

        .page-markup {
            display: block;
            padding: 30px 20px;
            .tab-block {
                width: 100%;
                margin: 0;
                display: none;
                &[data-tab='1'] {
                    display: block;
                }
                > .title {
                    text-align: center;
                    padding: 0 !important;
                }
            }
        }
    }
}
