.page-3col-markup .tabs-selector {
  display: none;
}
.page-3col-markup .page-markup {
  display: flex;
  padding: 43px 20px 0 36px;
}
.page-3col-markup .page-markup .tab-block > .title {
  font-size: 18px;
  color: #1E1E1E;
  line-height: 28px;
  font-weight: 600;
}
.page-3col-markup .page-markup .left-block {
  width: 261px;
  margin-right: 46px;
}
.page-3col-markup .page-markup .middle-block {
  width: 561px;
  margin-right: 57px;
}
.page-3col-markup .page-markup .right-block {
  width: 272px;
}
.page-3col-markup .page-markup .show-more-btn {
  margin: 33px auto;
  display: block;
  line-height: 37px;
  font-size: 14px;
  width: 242px;
}
@media screen and (min-width: 1024px) {
  .page-3col-markup .page-markup .tab-block {
    display: block !important;
  }
}
@media screen and (max-width: 1023px) {
  .page-3col-markup .tabs-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D8E8EA;
    height: 50px;
    padding: 0 15px;
    color: #468189;
    font-weight: 600;
  }
  .page-3col-markup .tabs-selector .tab {
    cursor: pointer;
  }
  .page-3col-markup .tabs-selector .tab[data-tab="1"] {
    display: none;
  }
  .page-3col-markup .tabs-selector .tab:before,
  .page-3col-markup .tabs-selector .tab:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    display: none;
  }
  .page-3col-markup .tabs-selector .tab:before {
    border-width: 5px 6.5px 5px 0;
    border-color: transparent #468189 transparent transparent;
    margin-right: 10px;
  }
  .page-3col-markup .tabs-selector .tab:after {
    border-width: 5px 0 5px 6.5px;
    border-color: transparent transparent transparent #468189;
    margin-left: 10px;
  }
  .page-3col-markup .tabs-selector .tab:nth-child(1):before {
    display: inline-block;
  }
  .page-3col-markup .tabs-selector .tab:nth-child(2):after {
    display: inline-block;
  }
  .page-3col-markup .page-markup {
    display: block;
    padding: 30px 20px;
  }
  .page-3col-markup .page-markup .tab-block {
    width: 100%;
    margin: 0;
    display: none;
  }
  .page-3col-markup .page-markup .tab-block[data-tab='1'] {
    display: block;
  }
  .page-3col-markup .page-markup .tab-block > .title {
    text-align: center;
    padding: 0 !important;
  }
}
