.parties-popup {
  /*position: relative;
    top: 0;
    margin-top: -32px;*/
}
.parties-popup .top-block .tours-list {
  margin-left: 27px;
  width: 223px;
  top: 3px;
}
.parties-popup .top-block .tours-list .caption {
  color: #797979;
}
.parties-popup .top-block .tours-list .caption .tour {
  color: #1C1C1C;
  font-weight: bold;
}
.parties-popup .top-block .tours-list .list-extended ul li .caption {
  color: #fff;
}
.parties-popup .top-block .tours-list .list-extended ul li .caption .tour {
  color: #fff;
}
.parties-popup .current-parties .title {
  font-size: 28px;
  color: #1E1E1E;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 52px;
  text-align: center;
}
.parties-popup .current-parties .parties-table {
  display: block;
  column-count: 2;
  padding: 0 53px 50px;
  column-gap: 64px;
  position: relative;
}
.parties-popup .current-parties .parties-table li {
  cursor: pointer;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  max-width: 543px;
}
.parties-popup .current-parties .parties-table li:nth-child(2n) {
  background: #fff;
}
@media screen and (max-width: 1023px) {
  .parties-popup .top-block {
    flex-direction: column;
    margin: 10px 0;
  }
  .parties-popup .top-block .title {
    margin-bottom: 17px;
    font-size: 18px;
    font-weight: bold;
  }
  .parties-popup .top-block .tours-list {
    margin-left: 0;
    top: 0;
    margin-bottom: 20px;
  }
  .parties-popup .top-block .close-btn {
    position: relative;
    top: 0;
    right: 0;
    margin: 18px 0 27px;
    height: 44px;
    font-size: 15px;
    line-height: 44px;
    padding: 0 41px;
  }
  .parties-popup .current-parties .title {
    display: none;
  }
  .parties-popup .current-parties .parties-table {
    column-count: 1;
    padding: 0 15px;
  }
}
