.party-page {
    padding-bottom: 100px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 410px;
        background: @light-blue;
        top: -119px;
        z-index: 1;
    }

    .index-page-content {
        z-index: 2;
    }

    .top-block {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 32px;

        .all-parties-btn {
            margin-right: 20px;
            display: inline-flex;
            align-items: center;
            width: 140px;
            justify-content: center;
            position: relative;
            &:after {
                content: '';
                height: 100%;
                width: 1px;
                background: #fff;
                margin-right: 20px;
                position: absolute;
                right: -40px;
                top: 0;
            }
            img {
                margin-right: 9px;
            }
        }

        nav {
            max-width: 980px;
            width: calc(~"100% - 350px");
            overflow: hidden;
            height: 34px;
            a {
                display: inline-block;
                color: #468189;
                line-height: 34px;
                transition: .2s;
                font-size: 14px;
                border-radius: 50px;
                text-align: center;
                margin: 0;
                border: 0;
                padding: 0 15px;
                position: relative;
                overflow: hidden;

                &:not(:last-child) {
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 35px;
                        background: #fff;
                        vertical-align: middle;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
                &:hover {
                    text-decoration: underline;
                }
                &:hover {
                    background: #ABCBCF;
                    text-decoration: none;
                    color: #2A464C;
                    &:after {
                        opacity: 0;
                    }
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 35px;
                        vertical-align: middle;
                        position: absolute;
                        top: 0;
                        left: -1px;
                        background: #D8E8EA;
                    }
                    .close {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &.active {
                    color: #4B4B4B;
                    font-weight: bold;
                    padding: 0 15px;
                }

                .close {
                    background: #468189;
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 34px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0 50px 50px 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: .2s;
                    box-shadow: #ABCBCF -20px 0 20px;
                    img {
                        filter: brightness(10);
                        width: 12px;
                    }
                }

                .name {
                    .maxstr(80px);
                }

                .badge {
                    display: inline-block;
                    background: #468189;
                    color: #fff;
                    border-radius: 30px;
                    line-height: 20px;
                    margin-left: 7px;
                    padding: 0 9px;
                    font-size: 12px;
                    font-weight: 700;
                }
            }
        }

        .match-list {
            width: 187px;
        }
    }

    .mobile-top-block {
        display: none;
    }

    .content-wr {
        display: flex;
        justify-content: space-between;
        .chess-board-block {
            position: relative;
            width: 550px;

            .match-info.mobile-only {
                display: none;
            }
            .sponsor-block {
                display: flex;
                .logo {
                    margin: 0 24px 0 49px;
                }
                .info {
                    .t {
                        font-size: 16px;
                        color: #4B4B4B;
                        font-weight: bold;
                        margin: 15px 0 10px;
                    }
                    .name {
                        color: #468189;
                    }
                }
            }

            .match-board-wr {
                position: relative;
                display: flex;
                margin: 37px 0 67px;
                justify-content: center;
                align-items: stretch;

                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 30px;
                    left: 50%;
                    transition: .2s;
                    filter: blur(30px);
                    z-index: 1;
                    opacity: 0.25;
                    background: #1F3436;
                    border-radius: 100px;
                    max-width: 590px;
                    transform: translateX(-50%);
                }
                .board-wr {
                    position: relative;
                    margin: 0 0 0 48px;
                }
                .ver-l {
                    position: absolute;
                    height: 100%;
                    left: -40px;
                    li {
                        font-size: 12px;
                        color: #4B4B4B;
                        height: calc(100% / 8);
                        display: flex;
                        align-items: center;
                    }
                }
                .hor-l {
                    position: absolute;
                    width: 100%;
                    font-size: .00001px;
                    bottom: -40px;
                    li {
                        font-size: 12px;
                        color: #4B4B4B;
                        width: calc(12.5%);
                        display: inline-block;
                        text-align: center;
                    }
                }
                .board-wr2 {
                    position: relative;
                    z-index: 2;
                    display: block;
                    img {
                        display: block;
                    }
                    &:after {
                        content: '';
                        background: #6C5038;
                        display: block;
                        position: absolute;
                        height: 5px;
                        width: 100%;
                        transform: perspective(100px) rotateX(-20deg);
                        bottom: -5px;
                        transform-origin: top;
                    }
                }
                .chance-block {
                    display: flex;
                    margin-left: 14px;
                    position: relative;
                    z-index: 1;
                    .chance-line {
                        width: 9px;
                        background: #fff;
                        border-radius: 3px;
                        position: relative;
                        margin-right: 11px;
                        .chance {
                            background: #8CB1B7;
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 50%;
                            transition: .2s;
                        }
                    }
                    .ruler {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        min-width: 24px;
                        li {
                            font-size: 12px;
                            color: #4B4B4B;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }

        .right-block {
            width: 664px;

            .game-block {
                display: flex;
                .title {
                    font-size: 18px;
                    color: #1E1E1E;
                }
                .course {
                    width: 298px;
                    .title {
                        text-align: center;
                        margin-bottom: 17px;
                    }
                    .table-wr {
                        width: 278px;
                        border-radius: 10px;
                        background: #fff;
                        margin-left: 10px;
                        box-shadow: rgba(70, 129, 137, .3) 0 5px 20px 5px;

                        .table {
                            padding-right: 4px;
                            height: 352px !important;
                            overflow-x: hidden !important;
                            &:not(.scroll-content):not(.scroll-wrapper) {
                                overflow-y: scroll !important;
                            }
                            .table-el {
                                height: 42px;
                                display: flex;
                                align-items: center;
                                &:nth-child(2n+1) {
                                    background: #D8E8EA;
                                }
                                .number {
                                    font-size: 12px;
                                    color: #4B4B4B;
                                    width: 23px;
                                    text-align: center;
                                    margin-right: 0px;
                                    display: block;
                                }
                                .step {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    width: 120px;
                                    padding-right: 6px;
                                    height: 42px;
                                    transition: background .2s;
                                    padding-left: 4px;
                                    &:nth-child(1) {
                                        border-right: 2px solid #fff;
                                        width: 142px;
                                    }
                                    &:hover {
                                        background: #ABCBCF;
                                        .figure.black {
                                        }
                                        .circle {
                                            border: 1px solid #fff;
                                        }
                                    }
                                    &.selected {
                                        box-shadow: inset #468189 0 0 0 2px;
                                    }
                                    .figure {
                                        transition: .2s;
                                        width: 29px;
                                        height: 29px;
                                        border-radius: 50%;
                                        background-size: 25px;
                                        &.white {
                                            background-color: #468189;
                                        }
                                        &.black {
                                            background-color: #ABCBCF;
                                        }
                                    }
                                    .circle-wr {
                                        display: inline-block;
                                        width: 13px;
                                        .circle {
                                            border-radius: 50%;
                                            display: inline-block;
                                            width: 8px;
                                            height: 8px;
                                            &.green {
                                                background: #70C074;
                                            }
                                            &.red {
                                                background: #F45E5E;
                                            }
                                        }
                                    }
                                    .n {
                                        font-size: 14px;
                                        color: #468189;
                                        font-weight: bold;
                                        width: 28px;
                                    }
                                    .score {
                                        font-size: 14px;
                                        color: #565656;
                                    }
                                }
                            }
                        }
                    }
                }

                .analysis {
                    position: relative;
                    padding-left: 29px;
                    width: 304px;
                    .slide-btn {
                        position: absolute;
                        top: -1px;
                        right: 0;
                        line-height: 24px;
                        padding: 0 13px;
                        &:before {
                            content: '';
                            display: inline-block;
                            width: 0;
                            height: 0;
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                            vertical-align: middle;
                            position: relative;
                            top: -1px;
                            margin-right: 6px;
                            transition: .2s;
                        }
                        &.slide-up {
                            &:before {
                                border-bottom: 6px solid #468189;
                            }
                            &:after {
                                content: 'Свернуть';
                            }
                            &:hover:before {
                                border-bottom-color: #fff;
                            }
                        }
                        &.slide-down {
                            &:before {
                                border-top: 6px solid #468189;
                            }
                            &:after {
                                content: 'Показать';
                            }
                            &:hover:before {
                                border-top-color: #fff;
                            }
                        }
                    }

                    .st {
                        font-size: 14px;
                        color: #4B4B4B;
                    }
                    .t {
                        display: flex;
                        align-items: flex-start;
                        margin: 20px 0;
                        .bl {
                            margin-right: 31px;
                            .st {
                                margin-bottom: 15px;
                            }
                            .value {
                                color: #468189;
                            }
                        }
                    }
                    .steps {
                        margin-top: 21px;
                        li {
                            display: inline-block;
                            margin-right: 6px;
                            margin-bottom: 18px;
                            .num {
                                color: #4B4B4B;
                                margin-right: 6px;
                            }
                            .white {
                                color: #AD9470;
                                font-weight: bold;
                                margin-right: 1px;
                            }
                            .black {
                                color: #7A5B42;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .btns-wr {
                padding-left: 11px;
                margin-bottom: 31px;
                .btn-share {
                    margin-right: 22px;
                    .icon {
                        margin-right: 6px;
                    }
                }
                .btn-show-stream {
                    padding: 0 24px;
                    .icon {
                        margin-right: 4px;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }

        .player-btns-wr {
            padding-left: 18px;
            margin-bottom: 30px;
            .b {
                cursor: pointer;
                display: inline-block;
                width: 48px;
                height: 35px;
                position: relative;
                z-index: 6;
                transition: .2s;
                top: 0;

                &:before {
                    content: '';
                    display: block;
                    width: 80%;
                    height: 100%;
                    background: #468189;
                    position: absolute;
                    z-index: 1;
                    top: 13px;
                    left: 10%;
                    filter: blur(8px);
                    opacity: 0.4;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    border-radius: 4px;
                    z-index: 6;
                }
                &:hover {
                    i {
                        filter: brightness(.5);
                    }
                }
                &:active {
                    top: 7px;
                }
                i {
                    transition: .2s;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    z-index: 7;
                    position: relative;
                }
                &.prev i {
                    background-image: url('/img/icons/player_end.svg');
                    transform: rotate(180deg);
                }
                &.to-start i {
                    background-image: url('/img/icons/player_next.svg');
                    transform: rotate(180deg);
                }
                &.play i {
                    background-image: url('/img/icons/player_play.svg');
                }
                &.pause i {
                    background-image: url('/img/icons/player_pause.svg');
                }
                &.to-end i {
                    background-image: url('/img/icons/player_end.svg');
                }
                &.next i {
                    background-image: url('/img/icons/player_next.svg');
                }
            }
        }

        .match-info {
            display: flex;
            padding-top: 33px;
            margin-bottom: 32px;
            .player {
                height: 98px;
                &:first-child {
                    margin-right: 25px;
                }
                .time {
                    font-size: 13px;
                    color: #6E6E6E;
                    margin-bottom: 7px;
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 12px;
                        height: 15px;
                        background: url(/img/icons/icon_time.svg);
                        margin-right: 8px;
                        position: relative;
                        top: 1px;
                    }
                    &.time-ends:before {
                        background: url('/img/icons/icon_time_less.svg');
                    }
                }
                .info {
                    display: flex;
                    padding-left: 8px;
                    align-items: flex-start;
                    .photo-wr {
                        position: relative;
                        border: 4px solid #FFFFFF;
                        box-shadow: 0 2px 14px 0 #ABCBCF;
                        border-radius: 50%;
                        margin-right: 9px;
                        .photo {
                            border-radius: 50%;
                            display: block;
                            width: 50px;
                            height: 50px;
                        }
                        .color {
                            border: 2px solid #FFFFFF;
                            border-radius: 50%;
                            position: absolute;
                            width: 14px;
                            height: 14px;
                            right: 2px;
                            bottom: -2px;
                            &.white {
                                background: #E4CAA3;
                            }
                            &.black {
                                background: #AE896A;
                            }
                        }
                    }
                    .r {
                        .name {
                            display: block;
                            font-size: 16px;
                            color: #000000;
                            margin: 5px 0 10px;
                            line-height: 1.4;
                            max-width: 200px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .stat {
                            color: #565656;
                            font-size: 14px;
                            .stars {
                                margin-right: 14px;
                                &:before {
                                    content: '';
                                    display: inline-block;
                                    width: 13.3px;
                                    height: 12.7px;
                                    background: url('/img/icons/icon_rate.svg');
                                    margin-right: 4px;
                                    position: relative;
                                    top: 1px;
                                }
                            }
                            .location {
                                &:before {
                                    content: '';
                                    display: inline-block;
                                    width: 10px;
                                    height: 13px;
                                    background: url('/img/icons/icon_location.svg');
                                    background-size: cover;
                                    margin-right: 6px;
                                    position: relative;
                                    top: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .stream-popup {
        background: #FFFFFF;
        border-radius: 10px;
        margin-bottom: 25px;
        width: 578px;
        position: absolute;
        z-index: 100;
        display: none;
        top: 60px;
        left: 50%;
        margin-left: -40px;
        box-shadow: 0 23px 36px 0 rgba(0, 0, 0, 0.26);
        .head {
            height: 35px;
            background: #468189;
            border-radius: 10px 10px 0 0;
            cursor: move;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .min {
                margin-right: 15px;
            }
            .close {
                margin-right: 15px;
            }
        }
    }

    @media screen  and (min-width: 1024px) and (max-width: 1174px) {
        &:before {
            top: -135px;
        }

        .top-block nav {
            max-width: 840px;
        }

        .content-wr .chess-board-block {
            width: 440px;
            img {
                max-width: 100%;
            }
        }
    }

    @media screen and (max-width: 1023px) {
        .top-block {
            display: none;
        }

        .mobile-top-block {
            padding: 0 13px;
            justify-content: space-between;
            display: flex;
            margin: 0 auto;
            position: relative;
            max-width: 510px;

            .arrow {
                transform: rotate(-45deg);
                border-left: 2px solid #468189;
                border-top: 2px solid #468189;
                width: 20px;
                height: 20px;
                margin: 13px 0;
                &.arrow-next {
                    transform: rotate(135deg);
                }
            }
            .match {
                position: relative;
                display: flex;
                height: 43px;
                align-items: center;
                border-bottom: 1px solid #5A9096;
                width: calc(~"100% - 50px");
                padding-left: 15px;
                .member {
                    display: inline-block;
                    color: #4B4B4B;
                    font-weight: bold;
                    max-width: calc(~"(100% - 30px)/2");
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:before {
                        content: '';
                        display: inline-block;
                        border: 2px solid #FFFFFF;
                        width: 10px;
                        border-radius: 50%;
                        height: 10px;
                        box-sizing: border-box;
                    }
                    &.white:before {
                        background: #E2CCAC;
                    }
                    &.black:before {
                        background: #AE896A;
                    }
                }
                .del {
                    margin: 0 3px;
                }
            }
            .match-block {
                height: 44px;
                border: 1px solid #468189;
                border-radius: 4px;
                padding: 0 9px 0 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                width: calc(~"100% - 50px");
                .del {
                    color: #4B4B4B;
                }
                .notification {
                    cursor: pointer;
                    background: url(/img/icons/icon_notify.svg) left center no-repeat;
                    height: 25px;
                    width: 47px;
                    position: relative;
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 8px solid #468189;
                        position: absolute;
                        right: 0;
                        top: 10px;
                    }
                }
            }

            .match-block-extended {
                z-index: 1000;
                border-radius: 4px;
                background: #468189;
                color: #fff;
                position: absolute;
                width: calc(~"100% - 76px");
                left: 38px;
                padding-bottom: 8px;
                display: none;
                border: 1px solid #468189;
                box-shadow: rgba(0, 0, 0, 0.4) 0 6px 20px 5px;
                .scroll-wrapper > .scroll-element {
                    background: transparent;
                }
                .match {
                    .member {
                        color: #fff;
                    }
                }
                .hide-match-block {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 8px solid #fff;
                    position: absolute;
                    right: 11px;
                    top: 17px;
                }
                .current-match {
                    cursor: pointer;
                    .member {
                    }
                }
                .matches {
                    max-height: 220px;
                    a {
                        color: #5A9096;
                        text-decoration: none;
                        .del {
                            color: #fff;
                        }
                        .match {
                            width: calc(~"100% - 20px");
                            padding-right: 50px;
                            .member {
                                font-weight: normal;
                            }
                        }
                    }
                }
                .status {
                    color: #fff;
                    border-radius: 100px;
                    line-height: 21px;
                    padding: 0 10px;
                    background: #A2C0C4;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    font-size: 12px;
                    font-weight: bold;
                    top: 10px;
                }

                .all-parties-btn {
                    background: #D8E8EA;
                    margin: 5px auto;
                    display: block;
                    max-width: 200px;
                }
            }
        }

        .content-wr {
            display: block;
            .chess-board-block {
                width: 100%;
                .match-info.mobile-only {
                    display: flex;
                    justify-content: space-between;
                    padding: 14px 32px 0;
                    max-width: 300px;
                    margin: 0 auto 7px;
                    .player {
                        height: auto;
                    }
                }
                .match-board-wr {
                    margin: 8px 0 47px;
                    &:before {
                        z-index: 2;
                    }
                    .board-wr {
                        max-width: 440px;
                        margin: 0px 0 0 30px;
                        .board-img {
                            max-width: 100%;
                        }
                    }
                    .ver-l {
                        left: -19px;
                    }
                    .hor-l {
                        bottom: -21px;
                    }
                    .chance-block {
                        margin-left: 0;
                        width: 40px;
                        max-width: 32px;
                        .chance-line {
                            border-radius: 0;
                            margin-right: 0;
                            width: 100%;
                            .chance {
                            }
                        }
                        .ruler {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            padding-left: 7px;
                            left: 0;
                        }
                    }
                }
                .player-btns-wr {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 0;
                    margin: 0 auto 47px;
                    width: 283px;
                }
                .sponsor-block {
                    display: flex;
                    align-items: center;
                    padding: 0 12px;
                    justify-content: space-between;
                    width: 320px;
                    margin: 0 auto 39px;
                    .logo {
                        margin: 0;
                        width: 128px;
                    }
                    .info {
                        width: 155px;
                        .t {
                            margin: 0px 0 6px;
                        }
                        .name {
                            line-height: 1.4;
                        }
                    }
                }
            }

            .right-block {
                width: 100%;
                .match-info, .btns-wr {
                    display: none;
                }
                .game-block {
                    display: block;
                    .course {
                        display: none;
                    }
                    .analysis {
                        width: 100%;
                        padding: 0 15px;
                        max-width: 500px;
                        margin: 0 auto;
                        .slide-up {
                            right: 15px;
                        }
                    }
                }
            }
        }
    }
}

