.reg-page {
  padding-bottom: 127px;
}
.reg-page .page-title {
  font-size: 20px;
  color: #1C1C1C;
  text-align: center;
  font-weight: normal;
  margin: -5px 0 22px;
}
.reg-page .signin-form {
  text-align: center;
  width: 350px;
  margin: 0 auto;
}
.reg-page .signin-form .pic {
  margin-bottom: 9px;
  cursor: pointer;
}
.reg-page .signin-form .n1 {
  font-size: 14px;
  color: #797979;
  margin-bottom: 45px;
}
.reg-page .signin-form button {
  width: 264px;
}
@media screen and (max-width: 1023px) {
  .reg-page .signin-form {
    width: 100%;
    padding: 0 20px;
  }
}
