.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}
.scroll-wrapper > .scroll-content {
  border: none !important;
  box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.scroll-element {
  display: none;
  box-sizing: content-box;
}
.scroll-element div {
  box-sizing: content-box;
}
.scroll-element .scroll-bar {
  cursor: default;
}
.scroll-element .scroll-arrow {
  cursor: default;
}
.scroll-element.scroll-x.scroll-scrollx_visible {
  display: block;
}
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}
.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.scroll-wrapper > .scroll-element {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
  background-color: #fff;
}
.scroll-wrapper > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.scroll-wrapper > .scroll-element .scroll-element_outer {
  overflow: hidden;
  border-radius: 8px;
}
.scroll-wrapper > .scroll-element .scroll-element_track {
  background-color: #D8E8EA;
  border-radius: 8px;
}
.scroll-wrapper > .scroll-element .scroll-bar {
  border-radius: 8px;
  background: #ABCBCF;
}
.scroll-wrapper > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2;
}
.scroll-wrapper > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 12px;
}
.scroll-wrapper > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 5px;
}
.scroll-wrapper > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px;
}
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
}
.scroll-wrapper > .scroll-content.scroll-scrolly_visible {
  left: 0;
  margin-left: 0;
}
.scroll-wrapper > .scroll-content.scroll-scrollx_visible {
  top: 0;
  margin-top: 0;
}
.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -14px;
}
.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px;
}
.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -14px;
}
.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px;
}
