
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
    >.scroll-content {
        border: none !important;
        box-sizing: content-box !important;
        height: auto;
        left: 0;
        margin: 0;
        max-height: none;
        max-width: none !important;
        overflow: scroll !important;
        padding: 0;
        position: relative !important;
        top: 0;
        width: auto !important;
        &::-webkit-scrollbar {
            height: 0;
            width: 0;
        }
    }
}
.scroll-element {
    display: none;
    box-sizing: content-box;
    div {
        box-sizing: content-box;
    }
    .scroll-bar {
        cursor: default;
    }
    .scroll-arrow {
        cursor: default;
    }
}
.scroll-element.scroll-x.scroll-scrollx_visible {
    display: block;
}
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
    >.scroll-content {
        overflow: hidden !important;
        >textarea {
            border: none !important;
            box-sizing: border-box;
            height: 100% !important;
            margin: 0;
            max-height: none !important;
            max-width: none !important;
            overflow: scroll !important;
            outline: none;
            padding: 2px;
            position: relative !important;
            top: 0;
            width: 100% !important;
            &::-webkit-scrollbar {
                height: 0;
                width: 0;
            }
        }
    }
}


.scroll-wrapper {
    >.scroll-element {
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 10;
        background-color: #fff;
        div {
            border: none;
            margin: 0;
            padding: 0;
            position: absolute;
            z-index: 10;
            display: block;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%;
        }
        .scroll-element_outer {
            overflow: hidden;
            border-radius: 8px;
        }
        .scroll-element_track {
            background-color: #D8E8EA;
            border-radius: 8px;
        }
        .scroll-bar {
            border-radius: 8px;
            background: #ABCBCF;
            &:hover {
                background-color: #c2c2c2;
            }
        }
    }
    >.scroll-element.scroll-y {
        height: 100%;
        right: 0;
        top: 0;
        width: 12px;
        .scroll-element_outer {
            left: 2px;
            width: 5px;
        }
        .scroll-bar {
            min-height: 10px;
        }
    }
    >.scroll-element.scroll-draggable {
        .scroll-bar {
            background-color: #919191;
        }
    }
    >.scroll-content.scroll-scrolly_visible {
        left: 0;
        margin-left: 0;
    }
    >.scroll-content.scroll-scrollx_visible {
        top:0;
        margin-top: 0;
    }
    >.scroll-element.scroll-x.scroll-scrolly_visible {
        .scroll-element_track {
            left: -14px;
        }
        .scroll-element_size {
            left: -14px;
        }
    }
    >.scroll-element.scroll-y.scroll-scrollx_visible {
        .scroll-element_track {
            top: -14px;
        }
        .scroll-element_size {
            top: -14px;
        }
    }
}