.settings-block .top-block {
  justify-content: space-between;
  padding: 0 35px 0 48px;
}
.settings-block .top-block .close-btn {
  position: relative;
  top: 0;
  right: 0;
}
.settings-block .variants-wr {
  width: 100%;
}
.settings-block .variants {
  flex-wrap: wrap;
  display: flex;
  padding-left: 50px;
}
.settings-block .variants li {
  cursor: pointer;
  margin-right: 60px;
  margin-bottom: 51px;
}
.settings-block .variants li:nth-child(4n+4) {
  margin-right: 0;
}
.settings-block .variants li:hover .board:after {
  opacity: 1;
}
.settings-block .variants li.selected .name:before {
  opacity: 1;
}
.settings-block .variants li .name {
  text-align: center;
  font-size: 16px;
  color: #1E1E1E;
}
.settings-block .variants li .name:before {
  content: '';
  background: #468189;
  border: 2px solid #FFFFFF;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-right: 10px;
  position: relative;
  top: -1px;
  opacity: 0;
  transition: .2s;
}
@media screen and (max-width: 1174px) {
  .settings-block .variants {
    width: 100%;
  }
  .settings-block .variants li {
    margin-right: 80px;
  }
}
@media screen and (max-width: 1023px) {
  .settings-block .variants-wr {
    width: 100%;
  }
  .settings-block .variants-wr .variants {
    width: 100%;
  }
  .settings-block .variants-wr .variants li {
    margin: 0 auto 30px;
  }
}
