.tournaments-tab {
	width: 624px !important;
	margin-right: 40px !important;

	.tournaments-list {
		li {
			margin-bottom: 29px;
			display: flex;
			align-items: flex-start;
			.logo-wr {
				border-radius: 50%;
				width: 78px;
				height: 78px;
				overflow: hidden;
				text-align: center;
				margin-right: 25px;
			}
			.info {
				width: calc(~"100% - 110px");
				padding-top: 2px;
				.name {
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 12px;
					display: block;
				}
				.row {
					margin-bottom: 9px;
				}
				.bottom {
					display: flex;
					align-items: center;
				}
				.view {
					margin-right: 15px;
					vertical-align: middle;
				}
				.date {
					color: #878787;
					margin-right: 15px;
					vertical-align: middle;
				}
				.status, .level {
					display: inline-block;
					.n {
						margin-right: 3px;
					}
					.value {
						color: #878787;
					}
				}
				.badge {
					display: inline-block;
					border-radius: 4px;
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
					padding: 5px 9px;
					margin-left: 20px;
					border: 1px solid #468189;
					min-width: 85px;
					&.passes {
						background: #468189;
						color: #fff;
					}
					&.ended {
						color: #797979;
						border: 1px solid #979797;
					}
					&.online {
						color: #468189;
						&:before {
							content: '';
							.inline-middle;
							background: #F45E5E;
							width: 6px;
							height: 6px;
							border-radius: 50%;
							position: relative;
							top: -1px;
							left: -1px;
							margin-right: 4px;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 1023px) {
		width: 100% !important;
		.tournaments-list {
			li {
				flex-direction: column;
				align-items: center;
				margin-bottom: 40px;
				.logo-wr {
					margin: 0 auto 10px;
					border: 2px solid #D8E8EA;
					width: 104px;
					height: 104px;
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;
				}
				.info {
					width: 100%;
					text-align: center;
					.bottom {
						flex-wrap: wrap;
						justify-content: center;
						.status {
							width: 100%;
							margin-bottom: 16px;
						}
						.badge {
							margin: 0 5px;
						}
					}
				}
			}
		}
	}

}