.tournaments-tab {
  width: 610px !important;
  margin-right: 40px !important;
}
.tournaments-tab .tournaments-list li {
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.tournaments-tab .tournaments-list li .logo-wr {
  border-radius: 50%;
  width: 78px;
  height: 78px;
  overflow: hidden;
  text-align: center;
}
.tournaments-tab .tournaments-list li .info {
  width: 501px;
  padding-top: 2px;
}
.tournaments-tab .tournaments-list li .info .name {
  font-size: 16px;
  line-height: 24px;
  color: #468189;
  margin-bottom: 12px;
  display: block;
}
.tournaments-tab .tournaments-list li .info .row {
  margin-bottom: 12px;
}
.tournaments-tab .tournaments-list li .info .view {
  margin-right: 15px;
  vertical-align: middle;
}
.tournaments-tab .tournaments-list li .info .date {
  color: #878787;
  margin-right: 15px;
  vertical-align: middle;
}
.tournaments-tab .tournaments-list li .info .status,
.tournaments-tab .tournaments-list li .info .level {
  display: inline-block;
}
.tournaments-tab .tournaments-list li .info .status .n,
.tournaments-tab .tournaments-list li .info .level .n {
  margin-right: 3px;
}
.tournaments-tab .tournaments-list li .info .status .value,
.tournaments-tab .tournaments-list li .info .level .value {
  color: #878787;
}
.tournaments-tab .tournaments-list li .info .badge {
  display: inline-block;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 23px;
  padding: 0 10px;
  margin-left: 18px;
}
.tournaments-tab .tournaments-list li .info .badge.passes {
  background: #468189;
  color: #fff;
}
.tournaments-tab .tournaments-list li .info .badge.ended {
  color: #797979;
  border: 1px solid #979797;
}
.tournaments-tab .tournaments-list li .info .badge.online {
  border: 1px solid #468189;
  color: #468189;
}
