<!DOCTYPE html>
<html>
<head>
    <title>ITChess</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/jquery.scrollbar.min.js"></script>

    <script src="/js/main.js?v=<?= filectime(realpath(__DIR__) . '/js/main.js'); ?>"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css?v=<?= filectime(realpath(__DIR__) . '/css/main.css'); ?>"/>
</head>

<body>
<div class="body-wrapper">
    <div class="body-content">
        {{content}}
    </div>
</div>
<? include './pages/partials/footer.phtml'; ?>
</body>
</html>