<div class="auth-popup popup">
    <div class="head">
        <div class="caption">Регистрация / Вход</div>
        <img src="/img/icons/icon_user.svg" class="icon"/>
    </div>
    <div class="btns-wr">
        <a href="/reg" class="btn to-reg-btn">Регистрация</a>
        <a href="#" class="btn to-login-form-btn">Вход</a>
    </div>
    <form>
        <input type="text" placeholder="Логин"/>
        <input type="password" placeholder="Пароль"/>
        <button>Войти</button>
        <br/>
        <a href="#" class="back-link">назад</a>
    </form>
</div>