<div class="desktop-sidebar-menu ">
    <div class="menu-sidebar">
        <a href="/" class="logo"><img src="/img/logo-white.svg"/></a>

        <div class="icons">
            <a href="#" class="open-user"><img src="/img/icons/icon_member.svg"></a>
            <a href="#" class="close"><img src="/img/icons/cancel.svg"/></a>
        </div>
        <div class="nav-wr">
            <nav>
                <a href="/">Турниры</a>
                <a href="/">Клубы</a>
                <a href="/">Новости</a>
                <a href="/">Магазин</a>
                <a href="/">Форум</a>
                <a href="/">О проекте</a>
                <a href="/">Помощь</a>
                <a href="/">Контакты</a>
                <a href="/party">Партия</a>
                <a href="/tour_announce">Анонс тура</a>
                <a href="/reg">Регистрация</a>
                <a href="/tour_open">Открытие тура</a>
                <a href="/enter">Страница тура - логин</a>
                <a href="/club">Страница организации</a>
            </nav>
        </div>
    </div>
</div>