<footer>
    <div class="center-block">
        <div class="top-block">
            <a href="/" class="logo"><img src="/img/logo-white.svg"/></a>
            <nav>
                <a href="/">Турниры</a>
                <a href="/">Клубы</a>
                <a href="/">Новости</a>
                <a href="/">Магазин</a>
                <a href="/">Форум</a>
                <a href="/">О проекте</a>
                <a href="/">Помощь</a>
                <a href="/">Контакты</a>
            </nav>
        </div>

        <div class="bottom-block">
            <div class="copy">ITChess <?= date('Y'); ?>. Все права защищены</div>
            <a href="/privacy_policy" class="privacy">Политика конфиденциальности</a>
            <ul class="sn">
                <li>
                    <a href="#"><img src="/img/icons/icon_yt.svg"/></a>
                </li>
                <li>
                    <a href="#"><img src="/img/icons/icon_fb.svg"/></a>
                </li>
                <li>
                    <a href="#"><img src="/img/icons/icon_vk.svg"/></a>
                </li>
            </ul>
            <a href="mailto:itchess@itchess.com" class="email">itchess@itchess.com</a>
        </div>
    </div>
</footer>