<div class="title parties-title">Турниры</div>

<ul class="tournaments-list">
    <li>
        <div class="logo-wr">
            <img src="/img/club/logo_tour_1.png" class="logo"/>
        </div>
        <div class="info">
            <a href="/tour_open" class="name">Открытое первенство Академии шахмат "Каисса" по рапиду</a>
            <div class="row">
                <img src="/img/icons/icon_view.svg" class="view"/>
                <span class="date">07.07.2017</span>
                <div class="level">
                    <span class="n">Ранг турнира:</span>
                    <span class="value">1655</span>
                </div>
            </div>
            <div class="bottom">
                <div class="status">
                    <span class="n">Статус турнира:</span>
                    <span class="value">городской</span>
                </div>
                <div class="badge passes">проходит</div>
                <div class="badge online">ОНЛАЙН</div>
            </div>
        </div>
    </li>

    <li>
        <div class="logo-wr">
            <img src="/img/club/logo_tour_2.png" class="logo"/>
        </div>
        <div class="info">
            <a href="/tour_open" class="name">Открытое первенство Международного Школьного Союза 2017 (Мальчики
                до 13 лет, Небуг)</a>
            <div class="row">
                <img src="/img/icons/icon_lock.svg" class="view"/>
                <span class="date">07.07.2017</span>
                <div class="level">
                    <span class="n">Ранг турнира:</span>
                    <span class="value">1655</span>
                </div>
            </div>
            <div class="bottom">
                <div class="status">
                    <span class="n">Статус турнира:</span>
                    <span class="value">международный</span>
                </div>
                <div class="badge passes">проходит</div>
            </div>
        </div>
    </li>

    <li>
        <div class="logo-wr">
            <img src="/img/club/logo_tour_3.png" class="logo"/>
        </div>
        <div class="info">
            <a href="/tour_open" class="name">Открытое Первенство г.Ставрополя среди детей</a>
            <div class="row">
                <img src="/img/icons/icon_lock.svg" class="view"/>
                <span class="date">07.07.2017</span>
                <div class="level">
                    <span class="n">Ранг турнира:</span>
                    <span class="value">1655</span>
                </div>
            </div>
            <div class="bottom">
                <div class="status">
                    <span class="n">Статус турнира:</span>
                    <span class="value">региональный</span>
                </div>
                <div class="badge ended">завершен</div>
            </div>
        </div>
    </li>

    <li>
        <div class="logo-wr">
            <img src="/img/club/logo_tour_1.png" class="logo"/>
        </div>
        <div class="info">
            <a href="/tour_open" class="name">Мемориал Вугара Гашимова</a>
            <div class="row">
                <img src="/img/icons/icon_view.svg" class="view"/>
                <span class="date">07.07.2017</span>
                <div class="level">
                    <span class="n">Ранг турнира:</span>
                    <span class="value">1655</span>
                </div>
            </div>
            <div class="bottom">
                <div class="status">
                    <span class="n">Статус турнира:</span>
                    <span class="value">городской</span>
                </div>
                <div class="badge ended">завершен</div>
            </div>
        </div>
    </li>

    <li>
        <div class="logo-wr">
            <img src="/img/club/logo_tour_3.png" class="logo"/>
        </div>
        <div class="info">
            <a href="/tour_open" class="name">Кубок Ставропольской городской Думы</a>
            <div class="row">
                <img src="/img/icons/icon_lock.svg" class="view"/>
                <span class="date">07.07.2017</span>
                <div class="level">
                    <span class="n">Ранг турнира:</span>
                    <span class="value">1655</span>
                </div>
            </div>
            <div class="bottom">
                <div class="status">
                    <span class="n">Статус турнира:</span>
                    <span class="value">региональный</span>
                </div>
                <div class="badge ended">завершен</div>
            </div>
        </div>
    </li>

    <li>
        <div class="logo-wr">
            <img src="/img/club/logo_tour_3.png" class="logo"/>
        </div>
        <div class="info">
            <a href="/tour_open" class="name">Весенние старты( Мальчики до 14 лет, г.Ставрополь)</a>
            <div class="row">
                <img src="/img/icons/icon_view.svg" class="view"/>
                <span class="date">07.07.2017</span>
                <div class="level">
                    <span class="n">Ранг турнира:</span>
                    <span class="value">1655</span>
                </div>
            </div>
            <div class="bottom">
                <div class="status">
                    <span class="n">Статус турнира:</span>
                    <span class="value">городской</span>
                </div>
                <div class="badge ended">завершен</div>
            </div>
        </div>
    </li>

    <li>
        <div class="logo-wr">
            <img src="/img/club/logo_tour_2.png" class="logo"/>
        </div>
        <div class="info">
            <a href="/tour_open" class="name">Весенние старты( Мальчики до 14 лет, г.Ставрополь)</a>
            <div class="row">
                <img src="/img/icons/icon_view.svg" class="view"/>
                <span class="date">07.07.2017</span>
                <div class="level">
                    <span class="n">Ранг турнира:</span>
                    <span class="value">1655</span>
                </div>
            </div>
            <div class="bottom">
                <div class="status">
                    <span class="n">Статус турнира:</span>
                    <span class="value">городской</span>
                </div>
                <div class="badge ended">завершен</div>
            </div>
        </div>
    </li>

    <li>
        <div class="logo-wr">
            <img src="/img/club/logo_tour_1.png" class="logo"/>
        </div>
        <div class="info">
            <a href="/tour_open" class="name">Весенние старты( Мальчики до 14 лет, г.Ставрополь)</a>
            <div class="row">
                <img src="/img/icons/icon_view.svg" class="view"/>
                <span class="date">07.07.2017</span>
                <div class="level">
                    <span class="n">Ранг турнира:</span>
                    <span class="value">1655</span>
                </div>
            </div>
            <div class="bottom">
                <div class="status">
                    <span class="n">Статус турнира:</span>
                    <span class="value">городской</span>
                </div>
                <div class="badge ended">завершен</div>
            </div>
        </div>
    </li>

    <li>
        <div class="logo-wr">
            <img src="/img/club/logo_tour_2.png" class="logo"/>
        </div>
        <div class="info">
            <a href="/tour_open" class="name">Весенние старты( Мальчики до 14 лет, г.Ставрополь)</a>
            <div class="row">
                <img src="/img/icons/icon_view.svg" class="view"/>
                <span class="date">07.07.2017</span>
                <div class="level">
                    <span class="n">Ранг турнира:</span>
                    <span class="value">1655</span>
                </div>
            </div>
            <div class="bottom">
                <div class="status">
                    <span class="n">Статус турнира:</span>
                    <span class="value">городской</span>
                </div>
                <div class="badge ended">завершен</div>
            </div>
        </div>
    </li>

    <li>
        <div class="logo-wr">
            <img src="/img/club/logo_tour_2.png" class="logo"/>
        </div>
        <div class="info">
            <a href="/tour_open" class="name">Весенние старты( Мальчики до 14 лет, г.Ставрополь)</a>
            <div class="row">
                <img src="/img/icons/icon_view.svg" class="view"/>
                <span class="date">07.07.2017</span>
                <div class="level">
                    <span class="n">Ранг турнира:</span>
                    <span class="value">1655</span>
                </div>
            </div>
            <div class="bottom">
                <div class="status">
                    <span class="n">Статус турнира:</span>
                    <span class="value">городской</span>
                </div>
                <div class="badge ended">завершен</div>
            </div>
        </div>
    </li>
</ul>
<a href="/tour_open" class="btn-transparent show-more-btn">Показать еще</a>