<header>
    <div class="center-block">
        <a href="/" class="logo"><img src="/img/logo.svg"/></a>
        <div class="title-block">
           <span class="tournament">
               Шахматный клуб «Стратегия»
           </span>
            <div class="rating">
                <span class="n">Рейтинг клуба:</span>
                <span class="value">1400</span>
            </div>
        </div>

        <div class="icons-block">
            <a href="#" class="open-user"><img src="/img/icons/icon_member.svg"/></a>
            <a href="#" class="open-menu"><img src="/img/icons/icon_menu.svg"/></a>
        </div>
    </div>
    <? include './pages/partials/auth-popup.phtml'; ?>
</header>
<? include './pages/partials/desktop-sidebar-menu.phtml'; ?>

<main>
    <div class="info-page page-3col-markup club-page">
        <div class="top-block-wr">
            <div class="top-block center-block">
                <div class="club-block">
                    <div class="logo">
                        <img src="/img/club/logo.png"/>
                    </div>
                    <div class="rating" data-rating="<?= rand(0, 5); ?>"><i></i><i></i><i></i><i></i><i></i></div>
                </div>

                <div class="tournament-info">
                    <div class="title">Турнирная информация</div>
                    <ul class="info-list">
                        <li>
                            <div class="icon-wr"><img src="/img/icons/icon_tours.svg"/></div>
                            <div class="n">Всего проведенных турниров:</div>
                            <div class="v">8</div>
                        </li>
                        <li>
                            <div class="icon-wr"><img src="/img/icons/icon_tour_city.svg"/></div>
                            <div class="n">Городские турниры:</div>
                            <div class="v">4</div>
                        </li>
                        <li>
                            <div class="icon-wr"><img src="/img/icons/icon_tour_region.svg"/></div>
                            <div class="n">Региональные турниры:</div>
                            <div class="v">1</div>
                        </li>
                        <li>
                            <div class="icon-wr"><img src="/img/icons/icon_tour_international.svg"/></div>
                            <div class="n">Международные турниры:</div>
                            <div class="v">1</div>
                        </li>
                        <li>
                            <div class="icon-wr"><img src="/img/icons/icon_tour_com.svg"/></div>
                            <div class="n">Коммерческие турниры:</div>
                            <div class="v">1</div>
                        </li>
                    </ul>
                </div>

                <div class="stats-info">
                    <div class="title">Статистика</div>
                    <ul class="stats-list">
                        <li>
                            <div class="n">Количество партий:</div>
                            <div class="v">70</div>
                        </li>
                        <li>
                            <div class="n">Сильнейший турнир по&nbsp;рейтингу:</div>
                            <div class="v">325</div>
                        </li>
                        <li>
                            <div class="n">Средний рейтинг игроков турниров:</div>
                            <div class="v">100</div>
                        </li>
                    </ul>
                </div>

                <div class="best-player-block">
                    <div class="title">Сильнейший игрок</div>
                    <div class="member-info">
                        <img src="/img/member.jpg" class="photo"/>
                        <div class="info">
                            <div class="name">Konstantinopolsky Konstantin</div>
                            <span class="rating">1655</span>
                            <span class="location">Kaliningradskaya oblast</span>
                        </div>
                    </div>
                    <a href="/" class="btn-transparent show-profile-btn">Посмотреть профиль</a>
                </div>

                <a href="#" class="btn-transparent toggle-info-btn"></a>
            </div>
        </div>

        <div class="tabs-selector">
            <div class="tab" data-tab="3">Новое на форуме</div>
            <div class="tab" data-tab="2">Турниры</div>
            <div class="tab" data-tab="1">Рейтинг игроков</div>
        </div>

        <div class="page-markup center-block">
            <div class="left-block tab-block gamers-rating-tab" data-tab="1">
                <div class="title parties-title">Рейтинг игроков</div>

                <ul class="gamers-rating-list">
                    <li>
                        <span class="gamer-name">Игрок</span>
                        <span class="games-count">Игры</span>
                        <span class="points">Очки</span>
                    </li>
                    <li>
                        <span class="gamer-name">Gadaborshev Gerihan(1737)</span>
                        <span class="games-count">1</span>
                        <span class="points">3</span>
                    </li>
                    <li>
                        <span class="gamer-name">Kozak Aleksandr(2359)</span>
                        <span class="games-count">1</span>
                        <span class="points">2</span>
                    </li>
                    <li>
                        <span class="gamer-name">Nazaretyan Tigran(2443)</span>
                        <span class="games-count">1</span>
                        <span class="points">2</span>
                    </li>
                    <li>
                        <span class="gamer-name">Nechaev Oleg(2349)</span>
                        <span class="games-count">1</span>
                        <span class="points">2</span>
                    </li>
                    <li>
                        <span class="gamer-name">Tekeev Zaur(2400)</span>
                        <span class="games-count">1</span>
                        <span class="points">2</span>
                    </li>
                    <li>
                        <span class="gamer-name">Bykov Egor(2321)</span>
                        <span class="games-count">1</span>
                        <span class="points">1</span>
                    </li>
                    <li>
                        <span class="gamer-name">Abrekov Mussa</span>
                        <span class="games-count">1</span>
                        <span class="points">1</span>
                    </li>
                    <li>
                        <span class="gamer-name">Balaev Osman(1747)</span>
                        <span class="games-count">1</span>
                        <span class="points">1</span>
                    </li>
                    <li>
                        <span class="gamer-name">Kolhidov Azamat(1745)</span>
                        <span class="games-count">1</span>
                        <span class="points">0</span>
                    </li>
                </ul>

                <a href="#" class="btn-transparent show-more-btn">Показать еще</a>
            </div>

            <div class="middle-block tab-block tournaments-tab" data-tab="2">
                <? include './pages/partials/tournaments-list.phtml'; ?>
            </div>

            <div class="right-block tab-block forum-news-tab" data-tab="3">
                <div class="title">Новое на форуме</div>
                <ul class="forum-news-list">
                    <li>
                        <div class="date-time">Сегодня 17:00</div>
                        <div class="message">Универсальный Рейтинг (URS)</div>
                    </li>
                    <li>
                        <div class="date-time">Сегодня 15:33</div>
                        <div class="message">Недетерминированные начальные позиции с симметрией в расстановках белых и черных фигур</div>
                    </li>
                    <li>
                        <div class="date-time">20.10.17 12:00</div>
                        <div class="message">Непонятно как доехать до места проведения турнира</div>
                    </li>
                    <li>
                        <div class="date-time">10.10.17 12:00</div>
                        <div class="message">Ставрополь — вперед!</div>
                    </li>
                    <li>
                        <div class="date-time">09.10.17 22:00</div>
                        <div class="message">Антифранцузско-антикароканновский вариант</div>
                    </li>
                    <li>
                        <div class="date-time">01.10.17 12:00</div>
                        <div class="message">Ничья</div>
                    </li>
                </ul>
                <a href="#" class="btn-transparent show-more-btn">Перейти на форум</a>
            </div>
        </div>
    </div>
</main>
<script src="/js/page.js"></script>