<style>
    .pics {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 800px;
        margin: 0 auto;
        font-size: 12px;
        background: #eee;
    }

    .pic {
        text-align: center;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 30px;
        border-bottom: 1px solid #ccc;
        width: 20%;
    }

    .pic img {
        width: 30px;
        display: block;
        margin: 0 auto 10px;
    }
</style>
<div class="pics">
    <? foreach (scandir(realpath('img/icons')) as $pic): ?>
        <? if (!in_array($pic, ['.', '..'])): ?>
            <div class="pic">
                <img src="/img/icons/<?= $pic; ?>"/>
                <?= $pic; ?>
            </div>
        <? endif; ?>
    <? endforeach; ?>
</div>