<div class="index-page">
    <header>
        <div class="center-block">
            <a href="/" class="logo"><img src="/img/logo.svg"/></a>
            <div class="title-block">
                <div class="title">
                    Онлайн-турниры по шахматам
                </div>
                <ul class="info-list">
                    <li>
                        <a href="#">
                            <div class="icon-wr">
                                <img src="/img/icons/icon_tours.svg"/>
                            </div>
                            <b>Турниров онлайн: </b><b class="num">8</b>
                        </a>
                    </li>
                    <li>
                        <div class="icon-wr">
                            <img src="/img/icons/icon_user.svg"/>
                        </div>
                        Зрителей онлайн: <b class="num"> 50</b>
                    </li>
                    <li>
                        <div class="icon-wr">
                            <img src="/img/icons/icon_rate2.svg"/>
                        </div>
                        Средний рейтинг играющих: <b class="num"> 166</b>
                    </li>
                </ul>
            </div>

            <div class="icons-block">
                <a href="#" class="our-shop-btn btn-transparent">
                    <img src="/img/icons/all_games.svg"/>
                    Наш магазин
                    <span class="discount">%</span>
                </a>
                <a href="#" class="open-user"><img src="/img/icons/icon_member.svg"/></a>
                <a href="#" class="open-menu"><img src="/img/icons/icon_menu.svg"/></a>
            </div>
        </div>
        <? include './pages/partials/auth-popup.phtml'; ?>
    </header>

    <? include './pages/partials/desktop-sidebar-menu.phtml'; ?>

    <main>
        <div class="main-content">
            <div class="index-page-content page-3col-markup">
                <div class="tabs-selector">
                    <div class="tab" data-tab="3">Игра дня</div>
                    <div class="tab" data-tab="2">Турниры</div>
                    <div class="tab" data-tab="1">Новости</div>
                </div>

                <div class="page-markup center-block">
                    <div class="left-block tab-block" data-tab="1">
                        <div class="title">Новости</div>

                        <ul class="news-list">
                            <li class="selected">
                                <a href="#">
                                    <span class="badge">Акция</span>
                                    <div class="date">07.07.2017</div>
                                    В нашем магазине 15-процентные скидки на доски
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="date">07.07.2017</div>
                                    Постпросмотр: чемпионам России вручили автомобили, а в Ереване открыли первый в мире
                                    шахматный НИИ
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="date">07.07.2017</div>
                                    <img src="/img/index/news1.jpg" class="photo"/>
                                    Андрея Филатова выбрали президентом РШФ
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="date">07.07.2017</div>
                                    Магнус Карлсен и Хикару Накамура начали исторический матч с двух ничьих
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="date">07.07.2017</div>
                                    <img src="/img/index/news2.jpg" class="photo"/>
                                    Читайте новую книгу Гарри Каспарова "Человек и компьютер: взгляд в будущее"
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="date">07.07.2017</div>
                                    Постпросмотр: чемпионам России вручили автомобили, а в Ереване открыли первый в мире
                                    шахматный НИИ
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="date">07.07.2017</div>
                                    <img src="/img/index/news3.jpg" class="photo"/>
                                    Карлсен покорил Голландию
                                </a>
                            </li>
                        </ul>

                        <a href="#" class="btn-transparent show-more-btn">Все новости</a>
                    </div>


                    <div class="middle-block tab-block tournaments-tab" data-tab="2">
                        <? include './pages/partials/tournaments-list.phtml'; ?>
                    </div>


                    <div class="right-block tab-block" data-tab="3">
                        <div class="title">Игра дня</div>
                        <div class="party">
                            <? include './pages/partials/board.phtml'; ?>
                            <div class="board-info short">
                                <div class="board-members">
                                    <div class="member white">
                                        <i></i> Sheliya
                                    </div>
                                    <span class="del">—</span>
                                    <div class="member black">
                                        <i></i> Kurus
                                    </div>
                                </div>
                                <span class="views">1700</span>
                            </div>
                        </div>

                        <div class="title">Турнир года</div>

                        <div class="tournament">
                            <div class="logo-wr">
                                <img src="/img/club/logo.png" class="logo"/>
                            </div>

                            <a href="/tour_open" class="name">Открытое первенство Академии шахмат "Каисса" по рапиду</a>

                            <div class="row">
                                <span class="date">07.07.2017</span>
                                <img src="/img/icons/icon_view.svg" class="view"/> 1700
                            </div>

                            <div class="level">
                                <span class="n">Ранг турнира:</span>
                                <span class="value">1655</span>
                            </div>
                        </div>

                        <div class="title">Игра года</div>
                        <div class="party">
                            <? include './pages/partials/board.phtml'; ?>
                            <div class="board-info">
                                <div class="board-members">
                                    <div class="member white">
                                        <i></i> Sheliya
                                    </div>
                                    <span class="del">—</span>
                                    <div class="member black">
                                        <i></i> Kurus
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="date">07.07.2017</div>
                                    <span class="views">1700</span>
                                </div>
                            </div>
                        </div>

                        <div class="title">Статистика стилей</div>
                        <ul class="styles-stat">
                            <li>
                                <div class="n">Самая выская подвижнсть фигур игрока:</div>
                                <div class="v">27</div>
                            </li>
                            <li>
                                <div class="n">Самая высокая активность фигур</div>
                                <div class="v">3</div>
                            </li>
                            <li>
                                <div class="n">Самая высокая взаимосвязь фигур</div>
                                <div class="v">1534</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="/js/page.js?v=<?= time(); ?>"></script>
