<div class="center-block" style="padding: 100px; line-height: 3">
    <a href="/reg">Регистрация</a>
    <br/>
    <a href="/tour_announce">Анонс тура</a>
    <br/>
    <a href="/tour_open">Открытие тура</a>
    <br/>
    <a href="/enter">Вход</a>
    <br/>
    <a href="/club">Клуб</a>
</div>