<div class="index-page">
    <header>
        <div class="center-block">
            <a href="/" class="logo"><img src="/img/logo.svg"/></a>
            <div class="title-block">
                <div class="title">
                    Онлайн-турниры по шахматам
                </div>
                <ul class="info-list">
                    <li>
                        <div class="icon-wr">
                            <img src="/img/icons/icon_tours.svg"/>
                        </div>
                        <b>Турниров онлайн: </b><b class="num">8</b>
                    </li>
                    <li>
                        <div class="icon-wr">
                            <img src="/img/icons/icon_user.svg"/>
                        </div>
                        Зрителей онлайн: <b class="num"> 50</b>
                    </li>
                    <li>
                        <div class="icon-wr">
                            <img src="/img/icons/icon_rate2.svg"/>
                        </div>
                        Средний рейтинг играющих: <b class="num"> 166</b>
                    </li>
                </ul>
            </div>

            <div class="icons-block">
                <a href="#" class="open-user"><img src="/img/icons/icon_member.svg"/></a>
                <a href="#" class="open-menu"><img src="/img/icons/icon_menu.svg"/></a>
            </div>
        </div>
        <? include './pages/partials/auth-popup.phtml'; ?>
    </header>
    <div class="center-block">
        Это специальная страница с мессенджером для мобильной версии
    </div>
</div>