<header>
    <div class="center-block">
        <a href="/" class="logo"><img src="/img/logo.svg"/></a>
        <div class="title-block">
                    <span class="tournament">
                        Открытое первенство Международного Школьного Шахматного Союза 2017 (Мальчики до 13 лет, Небуг) —
                    </span>
            <a href="#" class="tour">Тур 9</a>
            <div class="p">
                <span class="date">07.07.2017</span>
                <span class="views">17</span>
            </div>
        </div>

        <div class="icons-block">
            <a href="#" class="open-settings"><img src="/img/icons/icon_settings.svg"/></a>
            <a href="#" class="open-messenger"><img src="/img/icons/icon_chat.svg"/></a>
            <a href="#" class="open-user"><img src="/img/icons/icon_member.svg"/></a>
            <a href="#" class="open-menu"><img src="/img/icons/icon_menu.svg"/></a>
        </div>

        <div class="messenger popup">
            <div class="title">Чат партии</div>
            <div class="icon-close"><img src="/img/icons/icon_chat.svg"/></div>
            <ul class="messages">
                <? for ($i = 0; $i < 5; $i++): ?>
                    <li>
                        <div class="name">user123</div>
                        <div class="text">Хороший ход!</div>
                    </li>
                    <li>
                        <div class="name">chessmaster</div>
                        <div class="text">Привет! ))</div>
                    </li>
                    <? for ($j = 0; $j < 3; $j++): ?>
                        <? $figure = ['bishop', 'crown', 'knight', 'pawn', 'queen', 'tower'][rand(0, 5)]; ?>
                        <li class="step-message">
                            <div class="name">Ход белых</div>
                            <div class="text">
                                <div class="figure white <?= $figure; ?>"></div>
                                e2-e4
                            </div>
                        </li>
                    <? endfor; ?>
                    <li>
                        <div class="name">chessmaster</div>
                        <div class="text">Не лучший ход!</div>
                    </li>
                    <li>
                        <div class="name">chessmaster</div>
                        <div class="text">Не лучший ход!</div>
                    </li>
                <? endfor; ?>
            </ul>

            <div class="my-name">konstantin_konstantinopolsky</div>
            <div class="my-message">
                <input type="text" name="message"/>
                <a href="#" class="btn-send"><img src="/img/icons/chat_enter.svg"/></a>
            </div>
        </div>
    </div>
    <? include './pages/partials/auth-popup.phtml'; ?>
</header>
<? include './pages/partials/desktop-sidebar-menu.phtml'; ?>

<main>
    <div class="main-content">
        <div class="party-page">
            <div class="center-block index-page-content">
                <div class="top-block">
                    <a href="#" class="btn-transparent all-parties-btn">
                        <img src="/img/icons/all_games.svg"/>
                        Все партии
                    </a>
                    <nav>
                        <a href="#">
                            <span class="name">Severyhin</span> - <span class="name">Kuznecov</span>
                            <span class="badge">Ra2</span>
                            <span class="close"><img src="/img/icons/icon_close.svg"/></span>
                        </a>
                        <a href="#">
                            <span class="name">Maksimenk asdf ao</span> -
                            <span class="name">Peregudov adsfasd</span>
                            <span class="close"><img src="/img/icons/icon_close.svg"/></span>
                        </a>
                        <a href="#" class="active">
                            <span class="name">Sheliya</span> -
                            <span class="name">Kurus</span>
                            <span class="close"><img src="/img/icons/icon_close.svg"/></span>
                        </a>
                        <a href="#">
                            <span class="name">Subatovich</span> -
                            <span class="name">Vasiljev</span>
                            <span class="badge">0 - 1</span>
                            <span class="close"><img src="/img/icons/icon_close.svg"/></span>
                        </a>
                        <a href="#">
                            <span class="name">Subatovich</span> -
                            <span class="name">Vasiljev</span>
                            <span class="badge">0 - 1</span>
                            <span class="close"><img src="/img/icons/icon_close.svg"/></span>
                        </a>
                        <a href="#">
                            <span class="name">Subatovich</span> -
                            <span class="name">Vasiljev</span>
                            <span class="badge">0 - 1</span>
                            <span class="close"><img src="/img/icons/icon_close.svg"/></span>
                        </a>
                    </nav>

                    <div class="match-list selector">
                        <div class="selected-variant caption">
                            Sheliya - Kurus
                        </div>
                        <div class="expand-block"></div>

                        <div class="list-extended">
                            <a href="#" class="hide-block"></a>
                            <ul>
                                <? for ($i = 0; $i < 10; $i++): ?>
                                    <li>
                                        <div class="caption">
                                            Sheliyaas - Kuruasfs #<?= $i; ?>
                                        </div>
                                    </li>
                                <? endfor; ?>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="mobile-top-block mobile-only">
                    <a href="#" class="arrow arrow-prev"></a>
                    <div class="match-block">
                        <div class="match">
                            <div class="member white">
                                Sheliya asdf asdf
                            </div>
                            <span class="del"> — </span>
                            <div class="member black">
                                Kurus adsfads fa
                            </div>
                        </div>
                        <div class="notification expand-match-block"></div>
                    </div>

                    <div class="match-block-extended">
                        <div class="current-match ">
                            <div class="match">
                                <div class="member white">
                                    Sheliya
                                </div>
                                <span class="del">—</span>
                                <div class="member black">
                                    Kurus
                                </div>
                            </div>
                            <a href="#" class="hide-match-block"></a>
                        </div>
                        <ul class="matches">
                            <? for ($i = 0; $i < 5; $i++): ?>
                                <li>
                                    <a href="#">
                                        <div class="match">
                                            <div class="member white">
                                                Sheliya Sheliya Sheliya
                                            </div>
                                            <span class="del">—</span>
                                            <div class="member black">
                                                Kurus Kurus
                                            </div>
                                            <div class="status">Ra2</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="match">
                                            <div class="member white">
                                                Sheliya
                                            </div>
                                            <span class="del">—</span>
                                            <div class="member black">
                                                Kurus Kurus
                                            </div>
                                            <div class="status"> O-O</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="match">
                                            <div class="member white">
                                                Sheliya
                                            </div>
                                            <span class="del">—</span>
                                            <div class="member black">
                                                Kurus
                                            </div>
                                            <div class="status">END</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="match">
                                            <div class="member white">
                                                Sheliya
                                            </div>
                                            <span class="del">—</span>
                                            <div class="member black">
                                                Kurus
                                            </div>
                                            <div class="status"></div>
                                        </div>
                                    </a>
                                </li>
                            <? endfor; ?>
                        </ul>

                        <a href="#" class="btn-transparent all-parties-btn">
                            <img src="/img/icons/all_games.svg">
                            Все партии
                        </a>
                    </div>

                    <a href="#" class="arrow arrow-next"></a>
                </div>

                <div class="content-wr">
                    <div class="chess-board-block">
                        <div class="match-info mobile-only">
                            <div class="player">
                                <div class="time">01:20:59</div>
                            </div>
                            <div class="player">
                                <div class="time time-ends">00:00:59</div>
                            </div>
                        </div>

                        <div class="match-board-wr">
                            <div class="board-wr">
                                <ul class="ver-l">
                                    <li>8</li>
                                    <li>7</li>
                                    <li>6</li>
                                    <li>5</li>
                                    <li>4</li>
                                    <li>3</li>
                                    <li>2</li>
                                    <li>1</li>
                                </ul>
                                <div class="board-wr2">
                                    <img src="/img/board.png?v=<?= time(); ?>" class="board-img"/>
                                </div>
                                <ul class="hor-l">
                                    <li>a</li>
                                    <li>b</li>
                                    <li>c</li>
                                    <li>d</li>
                                    <li>e</li>
                                    <li>f</li>
                                    <li>g</li>
                                    <li>h</li>
                                </ul>
                            </div>
                            <div class="chance-block">
                                <div class="chance-line">
                                    <div class="chance"></div>
                                </div>
                                <ul class="ruler">
                                    <li>5 +</li>
                                    <li>4 +</li>
                                    <li>3 +</li>
                                    <li>2 +</li>
                                    <li>1 +</li>
                                    <li>0</li>
                                    <li>1 -</li>
                                    <li>2 -</li>
                                    <li>3 -</li>
                                    <li>4 -</li>
                                    <li>5 -</li>
                                </ul>
                            </div>
                        </div>

                        <div class="sponsor-block">
                            <img src="/img/mks.png" class="logo"/>
                            <div class="info">
                                <div class="t">Спонсор турнира</div>
                                <div class="name">Молочный комбинат «Ставропольский»</div>
                            </div>
                        </div>
                    </div>

                    <div class="right-block">
                        <div class="match-info">
                            <div class="player">
                                <div class="time">01:20:59</div>
                                <div class="info">
                                    <div class="photo-wr">
                                        <img src="/img/player1.jpg" class="photo"/>
                                        <div class="color white"></div>
                                    </div>
                                    <div class="r">
                                        <a href="#" class="name">Kurus Artem</a>
                                        <div class="stat">
                                            <span class="stars">1655</span>
                                            <span class="location">Moskva</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="time time-ends">00:00:59</div>
                                <div class="info">
                                    <div class="photo-wr">
                                        <img src="/img/player2.jpg" class="photo"/>
                                        <div class="color black"></div>
                                    </div>
                                    <div class="r">
                                        <a href="#" class="name">Konstantinopolsky Konstantin</a>
                                        <div class="stat">
                                            <span class="stars">1655</span>
                                            <span class="location">Kaliningradskaya oblast</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btns-wr">
                            <a href="#" class="btn-transparent btn-share">
                                <img src="/img/icons/icon_share.svg" class="icon"/>
                                Поделиться с друзьями
                            </a>
                            <a href="#" class="btn-transparent btn-show-stream">
                                <img src="/img/icons/icon_youtube.svg" class="icon"/>
                                Открыть стрим
                            </a>
                        </div>

                        <div class="player-btns-wr">
                            <span class="b prev" data-action="prev"><i></i></span>
                            <span class="b to-start" data-action="to-start"><i></i></span>
                            <span class="b play" data-action="play"><i></i></span>
                            <span class="b to-end" data-action="to-end"><i></i></span>
                            <span class="b next" data-action="next"><i></i></span>
                        </div>

                        <div class="game-block">
                            <div class="course">
                                <div class="title">Ход партии</div>
                                <div class="table-wr">
                                    <div class="table">
                                        <? for ($i = 1; $i <= 20; $i++): ?>
                                            <? $first_figure = ['bishop', 'crown', 'knight', 'pawn', 'queen', 'tower'][rand(0, 5)]; ?>
                                            <? $second_figure = ['bishop', 'crown', 'knight', 'pawn', 'queen', 'tower'][rand(0, 5)]; ?>
                                            <div class="table-el">
                                                <a href="#" class="step">
                                                    <span class="number"><?= $i; ?></span>
                                                    <span class="figure white <?= $first_figure; ?>"></span>
                                                    <span class="n">e2</span>
                                                    <div class="circle-wr">
                                                        <? if (rand(0, 10) > 8): ?>
                                                            <span class="circle green"></span>
                                                        <? elseif (rand(0, 10) > 8): ?>
                                                            <span class="circle red"></span>
                                                        <? endif; ?>
                                                    </div>
                                                    <span class="score">-2.1</span>
                                                </a>

                                                <a href="#" class="step">
                                                    <span class="figure black  <?= $second_figure; ?>"></span>
                                                    <span class="n">e4</span>
                                                    <div class="circle-wr">
                                                        <? if (rand(0, 10) > 8): ?>
                                                            <span class="circle green"></span>
                                                        <? elseif (rand(0, 10) > 8): ?>
                                                            <span class="circle red"></span>
                                                        <? endif; ?>
                                                    </div>
                                                    <span class="score">-2.1</span>
                                                </a>
                                            </div>
                                        <? endfor; ?>
                                    </div>
                                </div>
                            </div>

                            <div class="analysis">
                                <div class="title">Анализ партии</div>
                                <a href="#" class="btn-transparent slide-btn slide-up"></a>
                                <div class="analysis-block">
                                    <div class="t">
                                        <div class="bl">
                                            <div class="st">Глубина</div>
                                            <div class="value">19</div>
                                        </div>
                                        <div class="bl">
                                            <div class="st">Оценка</div>
                                            <div class="value">-2.1</div>
                                        </div>
                                    </div>

                                    <div class="st">Возможное продолжение партии</div>
                                    <ul class="steps">
                                        <li>
                                            <span class="num">13.</span>
                                            <a href="#" class="white">Nc3</a>
                                            <a href="#" class="black">Bf6</a>
                                        </li>
                                        <li>
                                            <span class="num">14.</span>
                                            <a href="#" class="white">d5</a>
                                            <a href="#" class="black">Nd7</a>
                                        </li>
                                        <li>
                                            <span class="num">15.</span>
                                            <a href="#" class="white">Ne2</a>
                                            <a href="#" class="black">c4</a>
                                        </li>
                                        <li>
                                            <span class="num">16.</span>
                                            <a href="#" class="white">Nd4</a>
                                            <a href="#" class="black">g6</a>
                                        </li>
                                        <li>
                                            <span class="num">17.</span>
                                            <a href="#" class="white">Nd4</a>
                                            <a href="#" class="black">g6</a>
                                        </li>
                                        <li>
                                            <span class="num">18.</span>
                                            <a href="#" class="white">Nd4</a>
                                            <a href="#" class="black">g6</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="stream-popup">
                <div class="head">
                    <a href="#" class="min"><img src="/img/icons/stream/icon_min.svg"/></a>
                    <a href="#" class="close"><img src="/img/icons/stream/icon_close.svg"/></a>
                </div>
                <img src="/img/stream.jpg"/>
            </div>
        </div>
    </div>
</main>

<div class="settings-block all-page-popup popup ">
    <div class="center-block">
        <div class="top-block">
            <div class="title">Выберите вариант оформления доски</div>
            <a href="/" class="close-settings close-btn">
                <img src="/img/icons/icon_close.svg" class="icon">
                Закрыть настройки
            </a>
        </div>

        <div class="variants-wr">
            <ul class="variants">
                <li class="selected">
                    <div class="board turquoise">
                        <? for ($i = 0; $i < 64; $i++): ?>
                            <div class="cell"></div>
                        <? endfor; ?>
                    </div>
                    <div class="name">Бирюзовый</div>
                </li>
                <li>
                    <div class="board standart">
                        <? for ($i = 0; $i < 64; $i++): ?>
                            <div class="cell"></div>
                        <? endfor; ?>
                    </div>
                    <div class="name">Стандартный</div>
                </li>
                <li>
                    <div class="board turquoise">
                        <? for ($i = 0; $i < 64; $i++): ?>
                            <div class="cell"></div>
                        <? endfor; ?>
                    </div>
                    <div class="name">Бирюзовый</div>
                </li>
                <li>
                    <div class="board standart">
                        <? for ($i = 0; $i < 64; $i++): ?>
                            <div class="cell"></div>
                        <? endfor; ?>
                    </div>
                    <div class="name">Стандартный</div>
                </li>
                <li>
                    <div class="board turquoise">
                        <? for ($i = 0; $i < 64; $i++): ?>
                            <div class="cell"></div>
                        <? endfor; ?>
                    </div>
                    <div class="name">Бирюзовый</div>
                </li>
                <li>
                    <div class="board standart">
                        <? for ($i = 0; $i < 64; $i++): ?>
                            <div class="cell"></div>
                        <? endfor; ?>
                    </div>
                    <div class="name">Стандартный</div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="parties-popup all-page-popup popup">
    <div class="top-block center-block">

        <a href="/" class="close-parties close-btn">
            <img src="/img/icons/icon_close.svg" class="icon">
            Закрыть список
        </a>
        <div class="title">Текущие партии</div>

        <div class="tours-list selector">
            <div class="selected-variant caption">
                <span class="tour">Тур 9</span>
                <span class="date"> — 12.10.17</span>
            </div>
            <div class="expand-block"></div>

            <div class="list-extended">
                <a href="#" class="hide-block"></a>
                <ul>
                    <li>
                        <div class="caption">
                            <span class="tour">Тур 10</span>
                            <span class="date"> — 13.10.17</span>
                        </div>
                    </li>
                    <li>
                        <div class="caption">
                            <span class="tour">Тур 9</span>
                            <span class="date"> — 12.10.17</span>
                        </div>
                    </li>
                    <li>
                        <div class="caption">
                            <span class="tour">Тур 8</span>
                            <span class="date"> — 11.10.17</span>
                        </div>
                    </li>
                    <li>
                        <div class="caption">
                            <span class="tour">Тур 7</span>
                            <span class="date"> — 10.10.17</span>
                        </div>
                    </li>
                    <li>
                        <div class="caption">
                            <span class="tour">Тур 6</span>
                            <span class="date"> — 9.10.17</span>
                        </div>
                    </li>
                    <li>
                        <div class="caption">
                            <span class="tour">Тур 5</span>
                            <span class="date"> — 8.10.17</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="current-parties center-block">
        <div class="title">Все партии тура</div>
        <ul class="parties-table">
            <? for ($i = 0; $i < 50; $i++): ?>
                <li data-order="<?= $i; ?>">
                    <div class="board-members">
                        <div class="member white">
                            <i></i> Sheliya
                        </div>
                        <span class="del">—</span>
                        <div class="member black">
                            <i></i> Константин Константинович Петров-Водкин
                        </div>
                    </div>

                    <div class="board-info">
                        <div class="step">
                            <span class="n"><?= $i; ?>.</span>
                            <span class="white">Nc3</span>
                            <span class="black">Bf6</span>
                        </div>

                        <span class="star <?= ['gold', 'silver', 'bronze', ''][rand(0, 3)]; ?>"></span>
                        <? if ($i % 5 == 0): ?>
                            <div class="state">
                                <span class="in-process"></span>
                            </div>
                        <? else: ?>
                            <div class="state <?= ['white-win', 'black-win', ''][rand(0, 2)]; ?>">
                                <span class="score">0 - 1</span>
                            </div>
                        <? endif; ?>
                        <span class="views"><?= rand(10, 2000); ?></span>
                    </div>
                </li>
            <? endfor; ?>
        </ul>
    </div>
</div>

<div class="menu-overflow"></div>

<script src="/js/libs/jquery-ui.min.js"></script>
<script src="/js/party.js?v=<?= time(); ?>"></script>