<style>
    body {
        background-color: #D8E8EA;
        background-image: url(/img/pattern.svg);
    }

    header .title-block {
        display: none;
    }
</style>

<header>
    <div class="center-block">
        <a href="/" class="logo"><img src="/img/logo.svg"/></a>

        <div class="icons-block">
            <a href="#" class="open-user"><img src="/img/icons/icon_member.svg"/></a>
            <a href="#" class="open-menu"><img src="/img/icons/icon_menu.svg"/></a>
        </div>
    </div>
    <? include './pages/partials/auth-popup.phtml'; ?>
</header>
<? include './pages/partials/desktop-sidebar-menu.phtml'; ?>

<main>
    <div class="reg-page">
        <h1 class="page-title">Зарегистрироваться</h1>

        <form class="signin-form">
            <div class="pic">
                <img src="/img/userpic1.svg"/>
            </div>
            <div class="n1">Добавьте фотографию профиля</div>
            <input type="text" placeholder="Ф.И.О."/>
            <input type="text" placeholder="Город"/>
            <input type="text" placeholder="Рейтинг"/>
            <input type="text" placeholder="FIDE ID"/>
            <button class="btn">Отправить</button>
        </form>
    </div>
</main>
