<header>
    <div class="center-block">
        <a href="/" class="logo"><img src="/img/logo.svg"/></a>
        <div class="title-block">
                    <span class="tournament">
                        Открытое первенство Международного Школьного Шахматного Союза 2017 (Мальчики до 13 лет, Небуг) —
                    </span>
            <div class="p">
                <span class="date">07.07.2017</span>
                <span class="views">17</span>
            </div>
        </div>

        <div class="icons-block">
            <a href="#" class="open-user"><img src="/img/icons/icon_member.svg"/></a>
            <a href="#" class="open-menu"><img src="/img/icons/icon_menu.svg"/></a>
        </div>
    </div>
    <? include './pages/partials/auth-popup.phtml'; ?>
</header>
<? include './pages/partials/desktop-sidebar-menu.phtml'; ?>

<main>
    <div class="info-page page-3col-markup tour-open-page">
        <div class="top-block-wr">
            <div class="top-block center-block">
                <div class="sponsor-block">
                    <div class="title">Спонсор турнира</div>
                    <img src="/img/mks.png" class="logo"/>
                    <div class="name">
                        Молочный комбинат «Ставропольский»
                    </div>
                </div>

                <div class="info-bl info-bl1">
                    <div class="title">Регламент турнира</div>
                    <ul class="params">
                        <li>
                            <span class="n">Количество туров:</span>
                            <span class="v">7</span>
                        </li>
                        <li>
                            <span class="n">Город:</span>
                            <span class="v">Ставрополь</span>
                        </li>
                        <li>
                            <span class="n">Статус турнира:</span>
                            <span class="v">городской</span>
                        </li>
                    </ul>
                </div>

                <div class="info-bl info-bl2">
                    <div class="title">Статистика турнира</div>
                    <ul class="params">
                        <li>
                            <span class="n">Количество участников:</span>
                            <span class="v">27</span>
                        </li>
                        <li>
                            <span class="n">Количество городов:</span>
                            <span class="v">3</span>
                        </li>
                        <li>
                            <span class="n">Средний рейтинг:</span>
                            <span class="v">1534</span>
                        </li>
                    </ul>
                </div>

                <div class="member-block">
                    <img src="/img/member.jpg" class="photo"/>
                    <div class="name">Konstantinopolsky Konstantin</div>
                    <div class="rating">
                        <div class="podium"><i></i><i></i><i></i></div>
                        15 место
                    </div>
                    <a href="#" class="logout">
                        <img src="/img/icons/icon_exit.svg" class="icon"/>
                        <span>Выйти</span>
                    </a>
                </div>

                <div class="login-popup auth-popup popup">
                    <a href="#" class="close"><img src="/img/icons/cancel.svg"/></a>
                    <form>
                        <input type="text" placeholder="Логин"/>
                        <input type="password" placeholder="Пароль"/>
                        <button>Войти</button>
                    </form>
                </div>
                <a href="#" class="btn-transparent toggle-info-btn"></a>
            </div>
        </div>

        <div class="tabs-selector">
            <div class="tab" data-tab="3">Турнирная таблица</div>
            <div class="tab" data-tab="2">Туры</div>
            <div class="tab" data-tab="1">Комментарии</div>
        </div>

        <div class="page-markup center-block">
            <div class="left-block tab-block" data-tab="1">
                <div class="tours-title title">Туры</div>
                <ul class="tours">
                    <li class="past">
                        <a href="#">Тур 1</a>
                    </li>
                    <li class="selected current">
                        Тур 2 <span class="green-dot"></span>
                    </li>
                    <li class="future">
                        Тур 3
                        <span class="date">— 12.10.17</span>
                    </li>
                    <li class="future">
                        Тур 4
                        <span class="date">— 13.10.17</span>
                    </li>
                    <li class="future">
                        Тур 5
                        <span class="date">— 14.10.17</span>
                    </li>
                    <li class="future">
                        Тур 6
                        <span class="date">— 15.10.17</span>
                    </li>
                    <li class="future">
                        Тур 7
                        <span class="date">— 16.10.17</span>
                    </li>
                </ul>

                <div class="title">Комментарии</div>
                <ul class="comments">
                    <li>
                        <div class="name">user123</div>
                        <div class="message">Отличный турнир</div>
                    </li>
                    <li>
                        <div class="name">chessmaster</div>
                        <div class="message">Привет участникам!</div>
                    </li>
                    <li>
                        <div class="name">chessmaster</div>
                        <div class="message">Непонятно как доехать до места проведения турнира</div>
                    </li>
                    <li>
                        <div class="name">chessmaster</div>
                        <div class="message">Ставрополь — вперед!</div>
                    </li>
                </ul>
                <div class="comments-note">
                    Комментарии могут оставлять только зарегистрировнные участники
                </div>
            </div>

            <div class="middle-block tab-block" data-tab="2">
                <div class="title">Туры</div>

                <div class="tours-list selector">
                    <div class="selected-variant caption">
                        <span class="tour">Тур 9</span>
                        <span class="date"> — 12.10.17</span>
                    </div>
                    <div class="expand-block"></div>

                    <div class="list-extended">
                        <a href="#" class="hide-block"></a>
                        <ul>
                            <li>
                                <div class="caption">
                                    <span class="tour">Тур 10</span>
                                    <span class="date"> — 13.10.17</span>
                                </div>
                            </li>
                            <li>
                                <div class="caption">
                                    <span class="tour">Тур 9</span>
                                    <span class="date"> — 12.10.17</span>
                                </div>
                            </li>
                            <li>
                                <div class="caption">
                                    <span class="tour">Тур 8</span>
                                    <span class="date"> — 11.10.17</span>
                                </div>
                            </li>
                            <li>
                                <div class="caption">
                                    <span class="tour">Тур 7</span>
                                    <span class="date"> — 10.10.17</span>
                                </div>
                            </li>
                            <li>
                                <div class="caption">
                                    <span class="tour">Тур 6</span>
                                    <span class="date"> — 9.10.17</span>
                                </div>
                            </li>
                            <li>
                                <div class="caption">
                                    <span class="tour">Тур 5</span>
                                    <span class="date"> — 8.10.17</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="switch-mode-block">
                    Параметры вида
                    <div class="switcher boards" data-mode="boards">
                        <div data-type="board"><img src="/img/icons/all_games.svg"/></div>
                        <div data-type="table"><img src="/img/icons/icon_list_view.svg"/></div>
                    </div>
                </div>

                <ul class="parties-boards">
                    <? for ($b = 0; $b < 8; $b++): ?>
                        <li>
                            <a href="/party">
                                <? include './pages/partials/board.phtml'; ?>
                            </a>
                            <div class="board-info">
                                <div class="board-members">
                                    <div class="member white">
                                        <i></i> Sheliya
                                    </div>
                                    <span class="del">—</span>
                                    <div class="member black">
                                        <i></i> Константин Константинович Петров-Водкин
                                    </div>
                                </div>
                                <div class="bottom">
                                    <span class="views">1700</span>
                                    <div class="step">
                                        <span class="n">14.</span>
                                        <span class="white">Nc3</span>
                                        <span class="black">Bf6</span>
                                    </div>
                                    <div class="state">
                                        <? if (rand(0, 1) === 0): ?>
                                            <span class="in-process"></span>
                                        <? else: ?>
                                            <span class="score">0 - 1</span>
                                        <? endif; ?>
                                    </div>
                                </div>
                            </div>
                        </li>
                    <? endfor; ?>
                </ul>

                <ul class="parties-table">
                    <? for ($i = 0; $i < 17; $i++): ?>
                        <li>
                            <a href="/party">
                                <div class="board-members">
                                    <div class="member white">
                                        <i></i> Sheliya
                                    </div>
                                    <span class="del">—</span>
                                    <div class="member black">
                                        <i></i> Константин Константинович Петров-Водкин
                                    </div>
                                </div>

                                <div class="board-info">
                                    <div class="step">
                                        <span class="n">14.</span>
                                        <span class="white">Nc3</span>
                                        <span class="black">Bf6</span>
                                    </div>

                                    <span class="star <?= ['gold', 'silver', 'bronze', ''][rand(0, 3)]; ?>"></span>
                                    <? if ($i % 5 == 0): ?>
                                        <div class="state">
                                            <span class="in-process"></span>
                                        </div>
                                    <? else: ?>
                                        <div class="state <?= ['white-win', 'black-win', ''][rand(0, 2)]; ?>">
                                            <span class="score">0 - 1</span>
                                        </div>
                                    <? endif; ?>
                                    <span class="views">1700</span>
                                </div>
                            </a>
                        </li>
                    <? endfor; ?>
                </ul>
            </div>

            <div class="right-block tab-block" data-tab="3">
                <div class="title">Турнирная таблица</div>
                <ul class="tournament-table">
                    <li>
                        <span class="member-col">Игрок</span>
                        <span class="col">Игры</span>
                        <span class="col">Очки</span>
                    </li>
                    <? $members = [
                        'Gadaborshev Gerihan(1737)',
                        'Kozak Aleksandr(2359)',
                        'Nazaretyan Tigran(2443)',
                        'Nechaev Oleg(2349)',
                        'Tekeev Zaur(2400)',
                        'Bykov Egor(2321)',
                        'Abrekov Mussa',
                        'Balaev Osman(1747)',
                        'Kolhidov Azamat(1745)',
                        'Balaev Osman(1747)',
                        'Kolhidov Azamat(1745)',
                        'Balaev Osman(1747)',
                        'Kolhidov Azamat(1745)',
                    ]; ?>
                    <? foreach ($members as $member): ?>
                        <li>
                            <span class="member-col"><?= $member; ?></span>
                            <span class="col"><?= rand(0, 1); ?></span>
                            <span class="col"><?= rand(0, 5); ?></span>
                        </li>
                    <? endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
</main>
<script src="/js/page.js?v=<?= time(); ?>"></script>