<header>
    <div class="center-block">
        <a href="/" class="logo"><img src="/img/logo.svg"/></a>
        <div class="title-block">
                    <span class="tournament">
                        Открытое первенство Международного Школьного Шахматного Союза 2017 (Мальчики до 13 лет, Небуг)
                    </span>
            <div class="p">
                <span class="date">07.07.2017</span>
                <span class="views">17</span>
            </div>
        </div>

        <div class="icons-block">
            <a href="#" class="open-user"><img src="/img/icons/icon_member.svg"/></a>
            <a href="#" class="open-menu"><img src="/img/icons/icon_menu.svg"/></a>
        </div>
    </div>
    <? include './pages/partials/auth-popup.phtml'; ?>
</header>

<? include './pages/partials/desktop-sidebar-menu.phtml'; ?>

<main>
    <div class="info-page page-3col-markup">
        <div class="top-block-wr">
            <div class="top-block center-block">
                <div class="sponsor-block">
                    <div class="title">Спонсор турнира</div>
                    <img src="/img/mks.png" class="logo"/>
                    <div class="name">
                        Молочный комбинат «Ставропольский»
                    </div>
                </div>

                <div class="info-bl info-bl1">
                    <div class="title">Регламент турнира</div>
                    <ul class="params">
                        <li>
                            <span class="n">Количество туров:</span>
                            <span class="v">7</span>
                        </li>
                        <li>
                            <span class="n">Город:</span>
                            <span class="v">Ставрополь</span>
                        </li>
                        <li>
                            <span class="n">Статус турнира:</span>
                            <span class="v">городской</span>
                        </li>
                    </ul>
                </div>

                <div class="info-bl info-bl2">
                    <div class="title">Статистика турнира</div>
                    <ul class="params">
                        <li>
                            <span class="n">Количество участников:</span>
                            <span class="v">27</span>
                        </li>
                        <li>
                            <span class="n">Количество городов:</span>
                            <span class="v">3</span>
                        </li>
                        <li>
                            <span class="n">Средний рейтинг:</span>
                            <span class="v">1534</span>
                        </li>
                    </ul>
                </div>

                <div class="timer-block">
                    <div class="title">Начало турнира</div>
                    <ul class="timer">
                        <li class="hours"><span>12</span></li>
                        <li class="minutes"><span>13</span></li>
                        <li class="seconds"><span>33</span></li>
                    </ul>

                    <a href="/reg" class="btn send-request-btn">Подать заявку на участие</a>
                </div>

                <a href="#" class="btn-transparent toggle-info-btn"></a>
            </div>
        </div>

        <div class="tabs-selector">
            <div class="tab" data-tab="3">Участники</div>
            <div class="tab" data-tab="2">Регистрация</div>
            <div class="tab" data-tab="1">Комментарии</div>
        </div>

        <div class="page-markup center-block">
            <div class="left-block tab-block" data-tab="1">
                <div class="title">Комментарии</div>
                <ul class="comments">
                    <li>
                        <div class="name">user123</div>
                        <div class="message">Отличный турнир</div>
                    </li>
                    <li>
                        <div class="name">chessmaster</div>
                        <div class="message">Привет участникам!</div>
                    </li>
                    <li>
                        <div class="name">chessmaster</div>
                        <div class="message">Непонятно как доехать до места проведения турнира</div>
                    </li>
                    <li>
                        <div class="name">chessmaster</div>
                        <div class="message">Ставрополь — вперед!</div>
                    </li>
                </ul>
                <div class="comments-note">
                    Комментарии могут оставлять только зарегистрировнные участники
                </div>
            </div>

            <div class="middle-block tab-block" data-tab="2">
                <div class="signin-form form">
                    <div class="title">
                        Зарегистрироваться
                        <span class="or">или</span>
                        <a href="#" class="open-signup-form">войти</a>
                    </div>

                    <div class="pic">
                        <img src="/img/userpic1.svg"/>
                    </div>
                    <div class="n1">Добавьте фотографию профиля</div>
                    <input type="text" placeholder="Ф.И.О."/>
                    <input type="text" placeholder="Город"/>
                    <input type="text" placeholder="Рейтинг"/>
                    <input type="text" placeholder="FIDE ID"/>
                    <button class="btn">Отправить</button>
                </div>

                <div class="signup-form form">
                    <div class="title">
                        <a href="#" class="open-signin-form">Зарегистрироваться</a>
                        <span class="or">или</span>
                        войти
                    </div>
                    <input type="text" placeholder="Логин"/>
                    <input type="text" placeholder="Пароль"/>
                    <button class="btn">Войти</button>
                </div>
            </div>

            <div class="right-block tab-block" data-tab="3">
                <div class="title title2">Зарегистрированные участники</div>
                <ul class="tournament-table">
                    <li>
                        <span class="member-col">Игрок</span>
                        <span class="col">Игры</span>
                        <span class="col">Очки</span>
                    </li>
                    <? $members = [
                        'Gadaborshev Gerihan(1737)',
                        'Kozak Aleksandr(2359)',
                        'Nazaretyan Tigran(2443)',
                        'Nechaev Oleg(2349)',
                        'Tekeev Zaur(2400)',
                        'Bykov Egor(2321)',
                        'Abrekov Mussa',
                        'Balaev Osman(1747)',
                        'Kolhidov Azamat(1745)',
                        'Balaev Osman(1747)',
                        'Kolhidov Azamat(1745)',
                        'Balaev Osman(1747)',
                        'Kolhidov Azamat(1745)',
                    ]; ?>
                    <? foreach ($members as $member): ?>
                        <li>
                            <span class="member-col"><?= $member; ?></span>
                            <span class="col"><?= rand(0, 1); ?></span>
                            <span class="col"><?= rand(0, 5); ?></span>
                        </li>
                    <? endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
</main>
<script src="/js/page.js?v=<?= time(); ?>"></script>